////
/// @group _vendors/
////

// sass-lint:disable class-name-format
.noty_theme__mint {
	&.noty_type__info,
	&.noty_type__information {
		background: #28a745;
		color: #fff;
		border-bottom: none;

		&.noty_has_progressbar {
			.noty_progressbar {
				background-color: #fde52d;
				opacity: 0.6;
			}
		}
	}

	&.noty_type__error {
		background: #ed4956;
		color: #fff;
		border-bottom: none;

		&.noty_has_progressbar {
			.noty_progressbar {
				background-color: #fde52d;
				opacity: 0.4;
			}
		}
	}
}
