/* generated */
.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
  margin: 1.5625rem 0;
  line-height: 1.2; }

.wysiwyg h1 {
  font-weight: 600;
  font-size: 2.3rem; }

.wysiwyg h2 {
  font-weight: 600;
  font-size: 1.8rem; }

.wysiwyg h3 {
  font-weight: 600;
  font-size: 1.4rem; }

.wysiwyg h4 {
  font-size: 1.2rem; }

.wysiwyg h5 {
  font-size: 1rem; }

.wysiwyg h6 {
  font-size: 1rem;
  color: #777; }

.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg dl,
.wysiwyg pre,
.wysiwyg table:not(.draggable-table__table),
.wysiwyg blockquote,
.wysiwyg address,
.wysiwyg .ratio-wrapper,
.wysiwyg .draggable-table {
  margin: 1.25rem 0; }

.wysiwyg table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  vertical-align: top; }
  .wysiwyg table p,
  .wysiwyg table ul,
  .wysiwyg table ol,
  .wysiwyg table dl,
  .wysiwyg table pre,
  .wysiwyg table table,
  .wysiwyg table blockquote,
  .wysiwyg table address {
    margin: 0; }

.wysiwyg thead,
.wysiwyg tfoot,
.wysiwyg tbody,
.wysiwyg tr,
.wysiwyg th,
.wysiwyg td {
  border: inherit;
  vertical-align: inherit; }

.wysiwyg th,
.wysiwyg td {
  padding: 0.5rem; }
  .wysiwyg th.is-active,
  .wysiwyg td.is-active {
    background-color: #ff0; }

.wysiwyg hr {
  margin: 2.5rem 0; }

.wysiwyg figure {
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  text-align: center;
  border: 1px solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .wysiwyg figure p {
    margin: 0; }

.wysiwyg figcaption {
  padding-top: .5rem;
  font-style: italic; }

.wysiwyg blockquote {
  padding: 0 1.25rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #e9e9e9; }

.wysiwyg :not(pre) > code,
.wysiwyg kbd,
.wysiwyg samp {
  border-radius: .3em;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
  padding: .1em 6px;
  white-space: normal;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  text-align: left; }

.wysiwyg :not(pre) > code {
  background-color: #fdf6e3; }

.wysiwyg kbd {
  background-color: #e5e5fb; }

.wysiwyg samp {
  background-color: #fde6e3; }

.wysiwyg dt {
  font-weight: bold; }

.wysiwyg dd + dt {
  margin-top: 0.625rem; }

.wysiwyg a {
  color: #4444fe;
  text-decoration: underline; }
  .wysiwyg a[href^="//"][target="_blank"], .wysiwyg a[href^="http://"][target="_blank"], .wysiwyg a[href^="https://"][target="_blank"] {
    background: url(./static/pic/external-link-hover.svg) top left/0 no-repeat, url(./static/pic/external-link-active.svg) top left/0 no-repeat; }
    .wysiwyg a[href^="//"][target="_blank"]::after, .wysiwyg a[href^="http://"][target="_blank"]::after, .wysiwyg a[href^="https://"][target="_blank"]::after {
      content: "";
      width: 1em;
      height: 1em;
      margin-left: 1px;
      display: inline-block;
      vertical-align: middle;
      background: url(./static/pic/external-link.svg) no-repeat;
      background-size: contain; }
    .wysiwyg a[href^="//"][target="_blank"]:hover::after, .wysiwyg a[href^="http://"][target="_blank"]:hover::after, .wysiwyg a[href^="https://"][target="_blank"]:hover::after {
      background-image: url(./static/pic/external-link-hover.svg); }
    .wysiwyg a[href^="//"][target="_blank"]:active::after, .wysiwyg a[href^="http://"][target="_blank"]:active::after, .wysiwyg a[href^="https://"][target="_blank"]:active::after {
      background-image: url(./static/pic/external-link-active.svg); }
  .wysiwyg a[href^="mailto:"]::before {
    content: "\2709\00a0"; }
  .wysiwyg a[href^="tel:"]::before {
    content: "\2706\00a0"; }
  .wysiwyg a:hover {
    text-decoration: underline;
    color: #fe4444; }
  .wysiwyg a:active {
    color: #000; }

/*# sourceMappingURL=editor.css.map */
