/* generated */
.noscript-msg {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  clear: both;
  font: normal normal 13px/1.2em "Rubik-Regular";
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  padding: 0;
  margin: 0;
  border-width: 0; }
  .noscript-msg__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
    .noscript-msg__input:checked + .noscript-msg__container {
      display: none; }
  .noscript-msg__container {
    padding: .75em 1.5em;
    background-color: #f7fc9c;
    border-top: 3px solid #f7b38b; }
    .noscript-msg__container::before, .noscript-msg__container::after {
      content: "";
      display: table; }
    .noscript-msg__container::after {
      clear: both; }
  .noscript-msg__close {
    display: none;
    display: block;
    float: right;
    width: 1em;
    height: 1em;
    font-size: 3em;
    margin-left: .5em;
    text-align: center;
    line-height: .8em;
    cursor: pointer; }
    .noscript-msg__close:hover {
      background-color: rgba(0, 0, 0, 0.075); }
    .noscript-msg__close:active {
      background-color: rgba(0, 0, 0, 0.15); }
  .noscript-msg__wezom-link {
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 18px;
    margin: .75em 1em 1em 0;
    background: transparent url(static/pic/wezom-noscript-logo.png) 0 0 no-repeat; }
  .noscript-msg__content {
    overflow: hidden; }
    .noscript-msg__content > :first-child {
      margin-top: 0; }
    .noscript-msg__content p {
      margin: .5em 0; }
    @media only screen and (min-width: 481px) {
      .noscript-msg__wezom-link {
        float: left;
        margin-top: .2em; } }

/*# sourceMappingURL=noscript.css.map */
