////
/// @group _settings/
////

/// Flex сетка
/// @requires {mixin} media
/// @param {Size} $columns [5] - количество колонок
/// @param {Map} $points [()] - карта брейкпоинтов, для которых нужно сделать хелперы
@mixin helpers-cols($columns: 5, $points: ()) {
	// $width - разме ячейки
	@mixin width($width) {
		flex-basis: $width;
		width: $width;
		@if ($width == auto) {
			max-width: none;
		} @else {
			max-width: $width;
		}
	}

	// ячейки
	._col {
		&-auto {
			@include width(auto);
			min-width: 1px; // IE11 fix
		}

		// Создаем классы по схеме ._col-3
		@for $i from 1 through $columns {
			$width: percentage(1 / $i);

			&-#{$i} {
				@include width($width);
			}
		}
	}

	// с медиа-запросами по схеме ._lg-col-auto
	@each $point, $size in $points {
		@include media($size) {
			._#{$point}-col-auto {
				@include width(auto);
				min-width: 1px; // IE11 fix
			}
		}
	}

	// Создаем классы по схеме ._lg-col-3
	@for $i from 1 through $columns {
		$width: percentage(1 / $i);
		@each $point, $size in $points {
			@include media($size) {
				._#{$point}-col-#{$i} {
					@include width($width);
				}
			}
		}
	}
}
