////
/// @group _system/
////

html {
	position: relative;
	height: 100%;
	font-family: map-get($font-family, main);
	color: $text;
	line-height: 1.6;
	font-size: 12px;

	@include media(sm) {
		font-size: 10px;
	}

	@include media(md) {
		font-size: 10px;
	}

	@include media(def) {
		font-size: 12px;
	}

	@include media(lg) {
		font-size: 14px;
	}

	@include media(dt) {
		font-size: 16px;
	}
}

*, // sass-lint:disable-line no-universal-selectors
::after,
::before {
	box-sizing: inherit;
}

body {
	position: relative;
	height: 100%;
	box-sizing: border-box;
	min-width: 320px;
	background-color: #fff;

	&.overflow {
		overflow: hidden;
		width: 100%;
		position: fixed;
	}
}

pre {
	padding: 1.2em;
	tab-size: 4;
	border-width: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: map-get($font-family, monospace);
}

img {
	max-width: 100%;
	height: auto;
}

small {
	display: inline-block;
	vertical-align: text-bottom;
}

svg {
	button &,
	a & {
		pointer-events: none;
	}
}

audio {
	&[controls] {
		display: block;
		width: 100%;
	}
}

video,
iframe {
	max-width: 100%;
}

hr {
	border-width: 0;
	border-top: 1px solid;
}

::selection {
	text-shadow: none;
	color: #fff;
	background: #2597ff;
}

input,
button,
select,
textarea {
	font-family: map-get($font-family, main);
	outline: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
	-webkit-appearance: none;
}

button {
	cursor: pointer;
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
