////
/// @group _settings/
////

// Брейкпоинты ширины или высоты экрана
// ---------------------------------

/// Карта брейкпоинтов в пикселях
/// @type Map
$breakpoints: (
		st: 320px,
		xs: 375px,//
		psw: 412px,
		sm: 480px,//
		ms: 639px,//
		psh: 732px,
		md: 767px,//
		def: 1023px,//
		lg: 1280px,//
		xl: 1366px,
		mg: 1440px,
		dt: 1900px
);

$st: 320px;
$xs: 375px;
$psw: 412px;
$sm: 480px;
$ms: 639px;
$psh: 732px;
$md: 767px;
$def: 1023px;
$lg: 1280px;
$xl: 1366px;
$mg: 1440px;
$dt: 1900px;
