////
/// @group _settings/
////

/// Карта цветов
/// @type {Map}
/// @prop {Color} $colors.link
$colors: (
	/// Ссылки
	link: #4444fe,
	link-visited: #5806b0,
	link-hover: #fe4444,
	link-active: #000,
	//
	//// Основные
	//main: #FDE52D,
	//secondary: #FF0202,
	//active: #ff0,
	//back: #868686,
	//bg: #5F6F87,
	//text: #343434,
	//accent: #fcfcca,
	//success: #0C9FOC,
	//info: #00b3fe,
	//warn: #c89600,
	//error: #f00
);

$main: #FDE52D;
$secondary: #FF0202;
$success: #0c9f0c;
$bg: linear-gradient(0deg, #E2E9F2, #E2E9F2);
$text: #343434;
