////
/// @group _settings/
////

/// Палитра цветов соц. сетей
/// @type Map карта
$colors-network: (
	blogger: #f58220,
	bobrdobr: #763c34,
	delicious: #003bd8,
	digg: #165495,
	evernote: #75bb1e,
	facebook: #3b5998,
	formspring-me: #4693d7,
	google-bookmarks-old: #246df8,
	google-plus: #dd5044,
	instagram: #833ab4,
	instapaper: #6b6b6b,
	juick: #b98337,
	linked-in: #007ab5,
	liveinternet: #27819b,
	livejournal: #6899c4,
	mail-ru: #2f69a1,
	memori: #fd2668,
	myspace: #1d1d1d,
	odnoklassniki: #f58220,
	pinterest: #cb2027,
	readability: #9d0000,
	rss: #fb7629,
	springpad: #f7b42f,
	stumbleupon: #ed4713,
	surfingbird: #14aef8,
	telegram: #0088cc,
	tumblr: #2e4e67,
	twitter: #64a8f2,
	vk: #41658b,
	webdiscover: #8bc514,
	yahoo: #7b0099,
	youtube: #cd201f
);
