////
/// @group frontend-components / breadcrumbs-template-default
////

/// Стили хлебных крошек
/// @require {function} rem
/// @require {variable} breakpoints
/// @require {mixin} media
.breadcrumbs {
	position: relative;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;

	span {
		color: #343434;
		display: block;
		font-size: rem(14px);
		font-weight: 400;

		&::after {
			color: #aaa;
			content: '\00a0/\00a0';
		}

		&:last-child::after {
			display: none;
		}

		@include media(def, max) {
			display: none;

			&:nth-last-child(2) {
				display: block;
			}

			&:last-child {
				display: block;
			}
		}
	}

	a {
		color: #8c8c8c;

		&:hover {
			color: $secondary;
		}
	}
}
