<%
	/** @namespace app
	 * @see module:core
	 * @see module:docs */

	/** Стандартный лейаут страниц
	 * @name default-view */

	/** установка лейаута */
	app.setLayout('_base.ejs');

	/** установка блока с куки */
	app.block('cookie', app.widget('ui/cookie.ejs'));
	const {currentView, views} = app.data;

	let subscribe = false;

	switch (currentView.name) {
		case views.index.name:
		    subscribe = true;
		    break;
		case views.catalog.name:
		    subscribe = true;
		    break;
		case views.about.name:
		    subscribe = true;
		    break;
	}

%>
<div class="wrapper">
	<div class="section section--main _flex-grow">
		<%- app.widget('header.ejs') %>
		<%- app.body %>
	</div>
	<div class="section">
		<%- app.widget('footer.ejs', {subscribe: subscribe}) %>

	</div>
</div>
