<%
	/** Шаблон страницы 404
	 * @name 404.ejs */

	/** установка лейаута страницы */
	app.setLayout('error-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, usePHP, paths} = app.data;
	const {__} = app.module;
%>

<div class="section">
	<div class="container error__content">
		<div class="error__title">404</div>
		<p class="error__text">К сожалению, страница не найдена</p>
		<p class="error__sub-text"></p>
		<div class="error__controls">
			<a href="catalog.html" class="yellow-btn error__link">Каталог</a>
			<a href="catalog.html" class="yellow-border-btn error__link">Главная страница</a>
		</div>
	</div>
</div>
