<%
	/** Страница "О нас"
	 * @name about.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView} = app.data;
	const {media} = app.module;
%>

<div class="section">
	<div class="gray-bg">
		<div class="container">
			<div class="about__title-wrap">
				<div class="breadcrumbs-container">
					<%- (function () {
						const folder = 'breadcrumbs-template-default/ejs/';
						const widget = folder + '_widgets/breadcrumbs.ejs';
						const components = app.data.ejsPaths.components;
						/** @see frontendComponents.breadcrumbsWidget */
						return app.widget(widget, components, {folder});
					})() -%>
				</div>
				<p class="main-title about__title">о компании</p>
			</div>
			<div class="about__main-img">
				<img src="<%- media('assets/images/about-us.png' ) %>" alt class="lozad" >
			</div>
			<div class="about__text-box about__text-box--first grid">
				<div class="gcell--md-12 about__text-wrap about__text-wrap--first">
					<p class="about__text-title">Брендовый интернет-магазин</p>
					<p class="about__text">
						Вот уже более 15 лет одежду EMKA выбирают миллионы покупательниц по всей России. Это современные
						женщины, которые предпочитают сдержанный, элегантный стиль одежды. Среди моделей EMKA большой
						выбор офисной и повседневной одежды. Это классические юбки-карандаш, офисные блузки, изящные
						платья, стильные рубашки свободного кроя и удобные модели брюк. Дизайнеры марки вдохновляются
						образом жизни европейских городов и стремятся создать интересные вещи для целеустремленных
						женщин, имеющих свой яркий стиль. Новые модели появляются каждую неделю. При этом в коллекциях
						бренда всегда присутствуют базовые модели, которые легко вписываются в любой гардероб.
					</p>
				</div>
				<div class="gcell--md-12 about__text-img">
					<img src="<%- media('assets/images/img-about.png' ) %>" alt class="lozad" >
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="about__text-box about__text-box--second grid">
			<div class="gcell--md-12 about__text-img">
				<img src="<%- media('assets/images/img-about-2.png' ) %>" alt class="lozad" >
			</div>
			<div class="gcell--md-12 about__text-wrap about__text-wrap--second">
				<p class="about__text-title">Почему выбирают BabyKroha</p>
				<ul class="about__text-list yellow-list">
					<li>Собственная фабрика</li>
					<li>Бесплатная доставка Укрпочта</li>
					<li>Официальный представитель Avent</li>
					<li>Официальный представитель Avent</li>
					<li>Официальный представитель Avent</li>
				</ul>
			</div>
		</div>
	</div>
	<%- app.widget('subscribe-form.ejs') %>
</div>
