<%
	/** оформление заказа
	 * @name cart-info.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;
	const {media} = app.module;
%>
<div class="section gray-bg">
	<div class="container">
		<div class="confirm__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title faq__title">корзина</p>
		</div>
		<%- app.widget('order-info.ejs', {cart: 'done', order: 'active', order_end: ''}) %>
		<div class="cart-info__content grid">
			<div class="gcell--24 gcell--md-14">
				<div class="wstabs-block cart-registration__tab" data-wstabs-ns="group-1" data-wstabs-block="1">
					<form class="js-form js-init" data-ajax="./hidden/response/success-order.json">
						<div class="cart-info__item">
							<div class="cart-info__item-title">
								<span>Личные данные</span>
							</div>
							<div class="cart-registration__tab-buttons">
								<button class="wstabs-button cart-registration__tab-btn" data-wstabs-ns="group-1" data-wstabs-button="1">
									Новый покупатель
								</button>
								<button class="wstabs-button cart-registration__tab-btn is-active" data-wstabs-ns="group-1" data-wstabs-button="2">
									Я уже зарегестрирован
								</button>
							</div>
							<div>
								<div class="cart-enter__social-wrap">
									<p>Войти через соц. сеть:</p>
									<div class="cart-enter__socials">
										<a href="#" class="cart-enter__social-link">
											<svg>
												<use xlink:href="<%- media('assets/images/sprites/icons.svg#google-icon') %>"></use>
											</svg>
										</a>
										<a href="#" class="cart-enter__social-link">
											<svg>
												<use xlink:href="<%- media('assets/images/sprites/icons.svg#fb-icon') %>"></use>
											</svg>
										</a>
										<a href="#" class="cart-enter__social-link">
											<svg>
												<use xlink:href="<%- media('assets/images/sprites/icons.svg#twitter-icon') %>"></use>
											</svg>
										</a>
									</div>
								</div>
								<div class="cart-registration__info">
									<label class="cart-registration__label">
										<input type="text" id="name" required name="name" placeholder="Имя"
											   class="cart-registration__input simple-input" data-rule-word="true"
											   data-rule-minlength="2">
										<span class="required-dot"></span>
										<label id="name-error" class="has-error" for="name" style="display: none"></label>
									</label>
									<label class="cart-registration__label">
										<input type="text" id="surname" required name="surname" placeholder="Фамилия"
											   class="cart-registration__input simple-input" data-rule-word="true"
											   data-rule-minlength="2">
										<span class="required-dot"></span>
										<label id="surname-error" class="has-error" for="surname" style="display: none"></label>
									</label>
									<label class="cart-registration__label">
										<input type="email" id="mail" name="mail" placeholder="E-mail" class="cart-registration__input simple-input">
									</label>
									<label class="cart-registration__label">
										<input type="tel" id="tel" name="tel" data-name="tel" placeholder="+38(0**) ***-**-**"
											   required data-rule-phoneua="true"
											   data-phonemask="+38(0**) ***-**-**"
											   data-phonemask-android="+38(0**) ***-**-**"
											   class="cart-registration__input simple-input js-init">
										<span class="required-dot"></span>
										<label id="tel-error" class="has-error" for="tel" style="display: none"></label>
									</label>
									<label class="cart-registration__checkbox-label">
										<input type="checkbox" name="no-profile" id="no-profile" class="cart-registration__checkbox">
										<span class="cart-registration__checkbox-text">Не регистрироваться на сайте <span class="gray">(Не нужен личный кабинет)</span></span>
									</label>
									<label class="cart-registration__checkbox-label">
										<input required type="checkbox" name="agree" id="agree" class="cart-registration__checkbox">
										<span class="cart-registration__checkbox-text">Я согласен с <a href="#">условиями использования</a></span>
										<label id="agree-error" class="has-error" for="agree" style="display: none"></label>
									</label>
								</div>
							</div>
						</div>
						<div class="cart-info__item">
							<div class="cart-info__item-title">
								<span>Способ и данные для доставки</span>
							</div>
							<div>
								<p class="cart-info__item-sub-title">Выберите способ доставки</p>
								<div class="cart-info__delivery-items">
									<label style="display: none" id="delivery-error" class="has-error radio-has-error" for="delivery">Укажите способ доставки</label>
									<div class="cart-info__delivery-item">
										<label class="cart-info__label">
											<input required type="radio" class="radio-input cart-info__radio" id="delivery1" name="delivery">
											<span class="radio-input__text">В отделение Новой почты  </span>
										</label>
										<div class="cart-info__delivery-content">
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<label id="pay-error" class="has-error city-1-has-error" for="city-1" style="display: none"></label>
												<select data-rule-required="#delivery1:checked" name="city-1" id="city-1" class="select2" data-placeholder="Город" style="width: 100%">
													<option></option>
													<option>5</option>
													<option>6</option>
												</select>
											</label>
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery1:checked" name="number-1" id="number-1" class="select2" data-placeholder="Номер склада" style="width: 100%">
													<option></option>
													<option>1</option>
													<option>5</option>
													<option>5</option>
												</select>
											</label>
										</div>
									</div>
									<div class="cart-info__delivery-item">
										<label class="cart-info__label">
											<input required type="radio" class="radio-input cart-info__radio" id="delivery2" name="delivery">
											<span class="radio-input__text">Укрпочта</span>
										</label>
										<div class="cart-info__delivery-content">
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery2:checked" name="city-2" id="city-2" class="select2" data-placeholder="Город" style="width: 100%">
													<option></option>
													<option>5</option>
													<option>6</option>
												</select>
											</label>
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery2:checked" name="number-2" id="number-2" class="select2" data-placeholder="Номер склада" style="width: 100%">
													<option></option>
													<option>1</option>
													<option>5</option>
													<option>5</option>
												</select>
											</label>
										</div>
									</div>
									<div class="cart-info__delivery-item">
										<label class="cart-info__label">
											<input required type="radio" class="radio-input cart-info__radio" id="delivery3" name="delivery">
											<span class="radio-input__text">Самовывоз</span>
										</label>
										<div class="cart-info__delivery-content">
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery3:checked" name="city-3" id="city-3" class="select2" data-placeholder="Город" style="width: 100%">
													<option></option>
													<option>5</option>
													<option>6</option>
												</select>
											</label>
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery3:checked" name="number-3" id="number-3" class="select2" data-placeholder="Номер склада" style="width: 100%">
													<option></option>
													<option>1</option>
													<option>5</option>
													<option>5</option>
												</select>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="cart-info__item">
							<div class="cart-info__item-title">
								<span>Способ оплаты</span>
							</div>
							<div>
								<p class="cart-info__item-sub-title">Выберите способ оплаты</p>
								<div class="cart-info__pay-wrap">
									<label style="display: none" id="pay-error" class="has-error radio-has-error" for="pay">Укажите способ оплаты</label>
									<label class="cart-info__label">
										<input required type="radio" class="radio-input" name="pay">
										<span class="radio-input__text">Наличными при получении</span>
									</label>
									<label class="cart-info__label">
										<input required type="radio" class="radio-input" name="pay">
										<span class="radio-input__text">Через Приват 24</span>
									</label>
									<label class="cart-info__label">
										<input required type="radio" class="radio-input" name="pay">
										<span class="radio-input__text">LiqPay</span>
									</label>
								</div>
								<a href="#" class="yellow-border-btn cart-info__btn">
									Вернуться в корзину
								</a>
								<button class="yellow-btn cart-info__btn">
									Подтвердить заказ
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="wstabs-block cart-registration__tab is-active" data-wstabs-ns="group-1" data-wstabs-block="2">
					<div class="cart-info__item">
						<div class="cart-info__item-title">
							<span>Личные данные</span>
						</div>
						<div class="cart-registration__tab-buttons">
							<button class="wstabs-button cart-registration__tab-btn" data-wstabs-ns="group-1" data-wstabs-button="1">
								Новый покупатель
							</button>
							<button class="wstabs-button cart-registration__tab-btn is-active" data-wstabs-ns="group-1" data-wstabs-button="2">
								Я уже зарегестрирован
							</button>
						</div>
						<div>
							<div class="cart-enter wstabs-block is-active" data-wstabs-ns="group-2" data-wstabs-block="1">
								<div class="cart-enter__login-info">
									<p class="cart-enter__login-item _bold">Имя и фамилия</p>
									<p class="cart-enter__login-item">Иван Иванов</p>
									<p class="cart-enter__login-item _bold">E-mail</p>
									<p class="cart-enter__login-item">ivanov@gmail.com</p>
									<p class="cart-enter__login-item _bold">Номер телефона</p>
									<p class="cart-enter__login-item">+38(095) 999-99-99</p>
								</div>
								<span class="wstabs-button cart-info__toggle reming" data-wstabs-ns="group-2" data-wstabs-button="2">Изменить данные</span>
							</div>
							<div class="cart-remind wstabs-block" data-wstabs-ns="group-2" data-wstabs-block="2">
								<form class="js-form js-init cart-enter__form" data-ajax="./hidden/response/cart-login.json">
									<label class="cart-registration__label">
										<input type="text" id="name" required name="name" placeholder="Имя"
											   class="cart-registration__input simple-input" value="Иван"
											   data-rule-word="true" data-rule-minlength="2" >
									</label>
									<label class="cart-registration__label">
										<input type="text" id="surname" required name="surname" placeholder="Фамилия"
											   class="cart-registration__input simple-input" value="Иванов"
											   data-rule-word="true" data-rule-minlength="2" >
										<label id="surname-error" class="has-error" for="surname" style="display: none"></label>
									</label>
									<label class="cart-registration__label">
										<input type="email" id="mail" name="mail" placeholder="E-mail" class="cart-registration__input simple-input" value="ivanov@gmail.com">
									</label>
									<label class="cart-registration__label">
										<input type="tel" id="tel" name="tel" data-name="tel" placeholder="+38(0**) ***-**-**" value="+38(095) 999-99-99"
											   required data-rule-phoneua="true"
											   data-phonemask="+38(0**) ***-**-**"
											   data-phonemask-android="+38(0**) ***-**-**"
											   class="cart-registration__input simple-input js-init">
										<label id="tel-error" class="has-error" for="tel" style="display: none"></label>
									</label>
									<button class="yellow-btn cart-info__btn cart-info__btn--remind">
										Сохранить
									</button>
								</form>
								<span class="wstabs-button cart-info__toggle enter is-active" data-wstabs-ns="group-2" data-wstabs-button="1">Отменить</span>
							</div>
						</div>
					</div>
					<form class="js-form js-init" data-ajax="./hidden/response/success-order.json">
						<div class="cart-info__item">
							<div class="cart-info__item-title">
								<span>Способ и данные для доставки</span>
							</div>
							<div>
								<p class="cart-info__item-sub-title">Выберите способ доставки</p>
								<div class="cart-info__delivery-items">
									<label style="display: none" id="delivery-error" class="has-error radio-has-error" for="delivery">Укажите способ оплаты</label>
									<div class="cart-info__delivery-item">
										<label class="cart-info__label">
											<input required type="radio" class="radio-input cart-info__radio" id="delivery1" name="delivery">
											<span class="radio-input__text">В отделение Новой почты  </span>
										</label>
										<div class="cart-info__delivery-content">
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery1:checked" name="city-4" id="city-4" class="select2" data-placeholder="Город" style="width: 100%">
													<option></option>
													<option>5</option>
													<option>6</option>
												</select>
											</label>
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery1:checked" name="number-4" id="number-4" class="select2" data-placeholder="Номер склада" style="width: 100%">
													<option></option>
													<option>1</option>
													<option>5</option>
													<option>5</option>
												</select>
											</label>
										</div>
									</div>
									<div class="cart-info__delivery-item">
										<label class="cart-info__label">
											<input required type="radio" class="radio-input cart-info__radio" id="delivery2" name="delivery">
											<span class="radio-input__text">Укрпочта</span>
										</label>
										<div class="cart-info__delivery-content">
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery2:checked" name="city-5" id="city-5" class="select2" data-placeholder="Город" style="width: 100%">
													<option></option>
													<option>5</option>
													<option>6</option>
												</select>
											</label>
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery2:checked" name="number-5" id="number-5" class="select2" data-placeholder="Номер склада" style="width: 100%">
													<option></option>
													<option>1</option>
													<option>5</option>
													<option>5</option>
												</select>
											</label>
										</div>
									</div>
									<div class="cart-info__delivery-item">
										<label class="cart-info__label">
											<input required type="radio" class="radio-input cart-info__radio" id="delivery3" name="delivery">
											<span class="radio-input__text">Самовывоз</span>
										</label>
										<div class="cart-info__delivery-content">
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery3:checked" name="city-6" id="city-6" class="select2" data-placeholder="Город" style="width: 100%">
													<option></option>
													<option>5</option>
													<option>6</option>
												</select>
											</label>
											<label class="cart-info__label cart-info__label--select select2-wrap">
												<select data-rule-required="#delivery3:checked" name="number-6" id="number-6" class="select2" data-placeholder="Номер склада" style="width: 100%">
													<option></option>
													<option>1</option>
													<option>5</option>
													<option>5</option>
												</select>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="cart-info__item">
							<div class="cart-info__item-title">
								<span>Способ оплаты</span>
							</div>
							<div>
								<p class="cart-info__item-sub-title">Выберите способ оплаты</p>
								<div class="cart-info__pay-wrap">
									<label id="pay-error" class="has-error radio-has-error" for="pay" style="display: none">Укажите способ оплаты</label>
									<label class="cart-info__label">
										<input required type="radio" class="radio-input" name="pay">
										<span class="radio-input__text">Наличными при получении</span>
									</label>
									<label class="cart-info__label">
										<input required type="radio" class="radio-input" name="pay">
										<span class="radio-input__text">Через Приват 24</span>
									</label>
									<label class="cart-info__label">
										<input required type="radio" class="radio-input" name="pay">
										<span class="radio-input__text">LiqPay</span>
									</label>
								</div>
								<a href="#" class="yellow-border-btn cart-info__btn">
									Вернуться в корзину
								</a>
								<button class="yellow-btn cart-info__btn">
									Подтвердить заказ
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="gcell--24 gcell--md-10 cart-info__right">
				<div class="cart-info__order-box">
					<p class="cart_bold">Ваш заказ</p>
					<p class="cart-info__order-text">Сейчас в Вашей корзине:</p>
					<p class="cart-info__order-text"><span class="cart_bold">2</span> товара на сумму <span class="cart_bold">3560 грн</span></p>
					<div class="cart-info__items">
						<div class="cart-item cart-item--justify">
							<div class="cart-item__img-box">
								<div class="cart-item__img-wrap">
									<a href="#">
										<img class="cart-item__img lozad" src="<%- media('assets/images/Carters-Boys-3-24-Months-2-Piece-Overall-Set.png' ) %>" alt >
									</a>
								</div>
							</div>
							<div class="cart-item__info-box cart-item__info-box--center">
								<div class="cart-info__text">
									<p class="cart-item__name">Джинсы</p>
									<div class="">
										<span>Размер: </span>
										<span class="_dark">52, 62, 64, 66</span>
									</div>
									<div class="">
										<span>Кол.во всего:</span>
										<span class="_dark">7 шт.</span>
									</div>
									<div class="cart-item__color-box">
										<span>Цвет:</span>
										<span class="cart-item__color" style="background-color: #008000"></span>
									</div>
								</div>
								<div class="cart-info__price">
									<span class="cart-info__order-text">Сумма:</span>
									<br>
									<span class="cart-info__order-price">1 000 <span class="currency">грн.</span></span>
								</div>
							</div>
						</div>
						<div class="cart-item cart-item--justify">
							<div class="cart-item__img-box">
								<div class="cart-item__img-wrap">
									<a href="#">
										<img class="cart-item__img lozad" src="<%- media('assets/images/Carters-Boys-3-24-Months-2-Piece-Overall-Set.png' ) %>" alt >
									</a>
								</div>
							</div>
							<div class="cart-item__info-box cart-item__info-box--center">
								<div class="cart-info__text">
									<p class="cart-item__name">Джинсi</p>
									<div class="">
										<span>Размер: </span>
										<span class="_dark">52, 62, 64, 66</span>
									</div>
									<div class="">
										<span>Кол.во всего:</span>
										<span class="_dark">7 шт.</span>
									</div>
									<div class="cart-item__color-box">
										<span>Цвет:</span>
										<span class="cart-item__color" style="background-color: #008000"></span>
									</div>
								</div>
								<div class="cart-info__price">
									<span class="cart-info__order-text">Сумма:</span>
									<br>
									<span class="cart-info__order-price">1 000 <span class="currency">грн.</span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="cart-info__order-total">
						<button class="yellow-btn cart-info__btn js-cart-open">
							Редактировать
						</button>
						<div>
							<span class="cart-info__order-text">Общая сумма заказа:</span>
							<br>
							<span class="cart-info__order-price">3 560 <span class="currency">грн.</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
