<%
	/** оформление заказа
	 * @name cart.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;
	const {media} = app.module;

	let orders =  [
				{
					name: 'Комбинезон',
					code: '784837',
					price: '18 000',
					count: '18',
					img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
					sizes: [
						{
							size: '',
							count: ''
						}
					]
				}, {
					name: 'Комбинезон',
					code: '784837',
					price: '1 110',
					count: '1',
					img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png'
				}
			];

%>
<div class="section gray-bg">
	<div class="container">
		<div class="confirm__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title faq__title">корзина</p>
		</div>
		<%- app.widget('order-info.ejs', {cart: 'active', order: '', order_end: ''}) %>
		<div class="cart__content grid">
			<div class="cart__items-wrap js-cart-static">
				<% for (let key in orders) { %>
				<%- app.widget('cart-item-small.ejs', {item: orders[key], big: true, redact: true, staticItem: true}) %>
				<%	} -%>
			</div>
			<div class="cart__total-wrap js-cart-total" data-total >
				<div>
					<p class="history-total__title">Общая сумма заказа</p>
					<p class="history-total__sub-title">*Сумма указана без учета доставки </p>
				</div>
				<div class="history-total__price-box history-total__price-box--right">
					<span>Итого:</span>
					<p class="history-total__price">
						<span class="js-total-price">19 100</span>
						<span>грн.</span>
					</p>
				</div>
			</div>
			<div class="cart__total-empty js-cart-total" data-total-empty >
				<div>
					<p class="history-total__title">Ваша корзина пуста</p>
				</div>
			</div>
			<div class="cart__total-buttons">
				<a href="catalog.html" class="cart__total-btn yellow-border-btn">
					Продолжить покупки
				</a>
				<a href="cart-info.html" class="cart__total-btn yellow-btn">
					Перейти к оформлению
				</a>
			</div>
			<%- app.widget('product-slider.ejs', {title: 'РЕКОМЕНДУЕМЫЕ ТОВАРЫ', items: products.looked, small: true}) %>
		</div>
	</div>
</div>
