<%
	/** Каталог с выбранными фильтрами
	 * @name catalog-with-filters.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;
	const {media} = app.module;

	let items = products.new;
%>
<div class="section gray-bg">
	<div class="container">
		<div class="catalog__title-box">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="catalog-title main-title">Мальчикам</p>
		</div>
		<div class="catalog__mobile-filters">
			<div class="_hide">
				<nav id="filters-menu">
					<%- app.widget('catalog-filters.ejs', {mobile: true, chosen: true}) %>
				</nav>
			</div>
		</div>
		<div class="grid">
			<div class="gcell--def-6 catalog__filters">
				<%- app.widget('catalog-filters.ejs', {chosen: true}) %>
			</div>
			<div class="gcell--24 gcell--def-18 catalog__items-wrap">
				<div class="catalog__items-top">
					<button class="filters-menu-open yellow-btn">
						Фильтры
					</button>
					<div class="catalog__filters-chosen">
						<div class="catalog__chosen-item">
							<span>Любой</span>
							<button class="catalog__chosen-delete">
								<svg>
									<use xlink:href="<%- media('assets/images/sprites/icons.svg#close-icon-thin') %>"></use>
								</svg>
							</button>
						</div>
						<div class="catalog__chosen-item">
							<span>Собственное производство</span>
							<button class="catalog__chosen-delete">
								<svg>
									<use xlink:href="<%- media('assets/images/sprites/icons.svg#close-icon-thin') %>"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="catalog__items-select-box select2-wrap">
						<span>Сортировать по:</span>
						<select id="" class="select2" style="width: 145px">
							<option>Цене</option>
							<option>Популярности</option>
							<option>Алфавиту</option>
						</select>
					</div>
				</div>
				<div class="catalog__items grid js-load-wrap">
					<% for (let key in items) { %>
					<%- app.widget('product-item-small.ejs', {item: items[key]}) %>
					<%	} -%>
				</div>
				<div class="catalog__items-info">
					<div class="catalog__items-counter">124 товара</div>
					<div class="catalog__items-pagination">
						<%- app.widget('pagination.ejs') %>
					</div>
				</div>
				<button class="catalog__show-more js-load-more" data-url="hidden/more-items.php">показать еще</button>
			</div>
		</div>
	</div>
	<%- app.widget('index-seo-text.ejs') %>
	<%- app.widget('subscribe-form.ejs') %>
</div>
