<%
	/** Шаблон главной страницы
	 * @name index.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;
	const {media} = app.module;
%>
<div class="section gray-bg">
	<div class="container">
		<div class="confirm__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title faq__title">корзина</p>
		</div>
		<%- app.widget('order-info.ejs', {cart: 'done', order: 'done', order_end: 'done'}) %>
		<div class="confirm-order__content grid">
			<div class="gcell--24 gcell--md-12 confirm-order__text-box">
				<p class="confirm-order__text">
					Ваш заказ <span class="confirm-order__number">№ 898383839</span>
					на сумму 3 560 гривен оформлен!
				</p>
				<p class="confirm-order__phone-text">На ваш номер телефона будет отправлена смс с данными о заказе.</p>
				<a href="index.html" class="yellow-btn confirm-order__link">
					Перейти на главную
				</a>
			</div>
			<div class="gcell--md-12 confirm-order__img">
				<img class="lozad" src="<%- media('assets/images/like.png') %>" alt >
			</div>
		</div>
	</div>
</div>
