<%
	/** Страница новостей
	 * @name news.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;

	let items = [
		{
		    index: 0,
			name: 'Харьков ОПТ',
			address: 'ул. Академика Барабашова 6А, метро Академика барабашова, маг <span class="_medium">BZD 326</span>, маг <span class="_medium">BZD 227</span>',
			phone1: '097-349-25-01',
			phone2: '063-349-25-01',
			map: {
			    lat: '',
				lng: ''
			}
		},{
			index: 1,
			name: 'Харьков ОПТ',
			address: 'ул. Академика Барабашова 6А, метро Академика барабашова, маг <span class="_medium">BZD 326</span>, маг <span class="_medium">BZD 227</span>',
			phone1: '097-349-25-01',
			phone2: '063-349-25-01',
			map: {
			    lat: '',
				lng: ''
			}
		},{
			index: 2,
			name: 'Харьков ОПТ',
			address: 'ул. Академика Барабашова 6А, метро Академика барабашова, маг <span class="_medium">BZD 326</span>, маг <span class="_medium">BZD 227</span>',
			phone1: '097-349-25-01',
			phone2: '063-349-25-01',
			map: {
			    lat: '',
				lng: ''
			}
		},{
			index: 3,
			name: 'Харьков ОПТ',
			address: 'ул. Академика Барабашова 6А, метро Академика барабашова, маг <span class="_medium">BZD 326</span>, маг <span class="_medium">BZD 227</span>',
			phone1: '097-349-25-01',
			phone2: '063-349-25-01',
			map: {
			    lat: '',
				lng: ''
			}
		}
	]
%>

<div class="section gray-bg _pb-100">
	<div class="container">
		<div class="contacts__title-wrap">
			<div class="breadrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title contacts__title">Контакты</p>
		</div>
		<p class="contacts__phone-title">Наши номера в офисе <span class="city">Харькова</span>:</p>
		<div>
			<a class="contacts__main-phone" href="tel:+0984527788">098-452-77-88</a>
			<a class="contacts__main-phone" href="tel:+0984527788">098-452-77-88</a>
			<a class="contacts__main-phone" href="tel:+0984527788">098-452-77-88</a>
		</div>
	</div>
	<div class="contacts__box">
		<% for (let key in items) { %>
			<%- app.widget('contacts-item.ejs', {item: items[key]}) %>
		<%	} -%>
	</div>
	<div class="container contacts__form-wrap">
		<div class="contacts__form-box grid">
			<div class="gcell--24 gcell--ms-12 contacts__form-text">
				<p class="main-title">НАПИСАТЬ НАМ</p>
				<p class="form-text">
					Наша компания меняется непрерывно. Каждый день мы работаем над  улучшением и оптимизацией
					деятельности Babykroha. Если, на ваш взгляд,мы что-то упустили в системе нашей работы, мы с
					радостью примем ваши предложения.
				</p>
			</div>
			<div class="gcell--24 gcell--ms-12">
				<form class="js-form contacts__form grid js-init" data-ajax="./hidden/response/demo.json">
					<label class="contacts__data-label">
						<input required type="text" name="contacts-name" id="contacts-name"
							   placeholder="Ваше имя" class="simple-input contacts__data-input"
							   data-rule-word="true" data-rule-minlength="2" >
					</label>
					<label class="contacts__data-label">
						<input type="email" name="contacts-mail" id="contacts-mail" placeholder="Email"
							   class="simple-input contacts__data-input">
					</label>
					<label class="contacts__data-label">
						<input type="tel" name="contacts-phone" id="contacts-phone"
							   class="simple-input contacts__data-input js-init"
							   placeholder="+38(0**) ***-**-**"
							   required data-rule-phoneua="true"
							   data-phonemask="+38(0**) ***-**-**"
							   data-phonemask-android="+38(0**) ***-**-**"
						>
					</label>
					<label class="contacts__data-label contacts__data-label--textarea">
						<textarea placeholder="Сообщение" class="contacts__data-textarea" name="contacts-msg" id="contacts-msg" cols="30" rows="10"></textarea>
					</label>
					<button class="yellow-btn contacts__form-submit">
						Отправить
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
