<%
	/** Страница "Доставка и оплата"
	 * @name delivery-info.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView} = app.data;
	const {media} = app.module;

	let items = [
		{
		    title: 'Доставка курьером к дому?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'Как оплатить через Приватбанк?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'На какой счет отправлять предоплату?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'Доставка курьером к дому?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}
	]
%>

<div class="section gray-bg">
	<div class="container">
		<div class="delivery-info__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title">доставка и оплата</p>
		</div>
		<div class="delivery-info__content">
			<div class="grid delivery-info__item">
				<div class="gcell--24 gcell--md-12">
					<div class="delivery-info__item-left">
						<div class="delivery-info__icon">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#big-delivery-icon') %>"></use>
							</svg>
						</div>
						<p class="delivery-info__title">Доставка товаров</p>
					</div>
				</div>
				<div class="gcell--24 gcell--md-12">
					<p class="delivery-info__text">
						Доставка осуществляеться по всей територии Украины, кроме
						окупированной территории Крим и зоны проведения АТО
					</p>
					<p class="delivery-info__sub-title">Самовывоз</p>
					<p class="delivery-info__text">
						Заказ можно самостоятельно получить в одном из 19 магазинов,
						расположенных в Киеве, Харькове, Одессе, Львове и Днепропетровске.
					</p>
					<p class="delivery-info__sub-title">«Новая почта»</p>
					<p class="delivery-info__text">
						При оплате наложенным платежом стоимость доставки товаров
						в отделение составляет от 35 грн (крупногабаритных товаров – от 80 грн).
						Стоимость доставки Новой почтой просчитывается согласно тарифов
						этого перевозчика.
					</p>
					<p class="delivery-info__sub-title">«Укрпочта»</p>
					<p class="delivery-info__text">
						При оплате наложенным платежом стоимость доставки товаров
						в отделение составляет от 35 грн (крупногабаритных товаров – от 80 грн).
						Стоимость доставки Новой почтой просчитывается согласно тарифов
						этого перевозчика.
					</p>
				</div>
			</div>
			<div class="grid delivery-info__item">
				<div class="gcell--24 gcell--md-12">
					<div class="delivery-info__item-left">
						<div class="delivery-info__icon">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#credit-icon') %>"></use>
							</svg>
						</div>
						<p class="delivery-info__title">Оплата и возврат</p>
					</div>
				</div>
				<div class="gcell--24 gcell--md-12">
					<p class="delivery-info__text">
						Доставка осуществляеться по всей територии Украины, кроме
						окупированной территории Крим и зоны проведения АТО
					</p>
					<p class="delivery-info__sub-title">Наличными</p>
					<p class="delivery-info__text">
						При получении товара в одной из наших торговых точек или через
						курьера в Киеве и Харькове (комиссия 0%).
					</p>
					<p class="delivery-info__sub-title">Безналичный расчет</p>
					<p class="delivery-info__text">
						Есть возможность оплатить товар на карту Приват банка - в этом
						случае к стоимости заказа прибавляется комиссия 1%. Также мы
						можем принять оплату по счету-фактуре без НДС - в этом случае
						комиссия составляет 2.5% от стоимости товара.
					</p>
					<p class="delivery-info__sub-title">Наложенный платеж</p>
					<p class="delivery-info__text">
						Есть возможность оплатить товар на карту Приват банка - в этом
						случае к стоимости заказа прибавляется комиссия 1%. Также мы
						можем принять оплату по счету-фактуре без НДС - в этом случае
						комиссия составляет 2.5% от стоимости товара .
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
