<%
	/** Страница "FAQ"
	 * @name faq.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView} = app.data;
	const {media} = app.module;

	let items = [
		{
		    title: 'Доставка курьером к дому?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'Как оплатить через Приватбанк?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'На какой счет отправлять предоплату?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'Доставка курьером к дому?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}
	]
%>

<div class="section gray-bg">
	<div class="container container--faq">
		<div class="faq__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title faq__title">помощь</p>
		</div>
		<div class="faq__content grid">
			<div class="gcell--24 gcell--sm-6 faq__sidebar">
				<div class="grid faq__sidebar-items">
					<div class="gcell--12 faq__sidebar-item">
						<div class="faq__sidebar-toggle is-active wstabs-button" data-wstabs-ns="group-1" data-wstabs-button="1">
							<span class="faq__sidebar-icon">
								<svg>
									<use xlink:href="<%- media('assets/images/sprites/icons.svg#delivery-icon') %>"></use>
								</svg>
							</span>
							<span class="faq__sidebar-text">Доставка</span>
						</div>
					</div>
					<div class="gcell--12 faq__sidebar-item">
						<div href="#" class="faq__sidebar-toggle wstabs-button" data-wstabs-ns="group-1" data-wstabs-button="2">
							<span class="faq__sidebar-icon">
								<svg>
									<use xlink:href="<%- media('assets/images/sprites/icons.svg#pay-icon') %>"></use>
								</svg>
							</span>
							<span class="faq__sidebar-text">Оплата</span>
						</div>
					</div>
					<div class="gcell--12 faq__sidebar-item">
						<div class="faq__sidebar-toggle wstabs-button" data-wstabs-ns="group-1" data-wstabs-button="3">
							<span class="faq__sidebar-icon">
								<svg>
									<use xlink:href="<%- media('assets/images/sprites/icons.svg#box-icon-2') %>"></use>
								</svg>
							</span>
							<span class="faq__sidebar-text">Оптовикам</span>
						</div>
					</div>
					<div class="gcell--12 faq__sidebar-item">
						<div class="faq__sidebar-toggle wstabs-button" data-wstabs-ns="group-1" data-wstabs-button="4">
							<span class="faq__sidebar-icon">
								<svg>
									<use xlink:href="<%- media('assets/images/sprites/icons.svg#percentage-icon') %>"></use>
								</svg>
							</span>
							<span class="faq__sidebar-text">Акции</span>
						</div>
					</div>
				</div>
				<div class="faq__sidebar-bottom">
					<button class="faq__sidebar-callback js-init" data-mfp="ajax" data-mfp-src="hidden/ask-popup.php">
						<span class="faq__callback-text">Задать вопрос менеджеру?</span>
					</button>
				</div>
			</div>
			<div class="gcell--24 gcell--sm-18 faq__main">
				<div class="wstabs-block is-active" data-wstabs-ns="group-1" data-wstabs-block="1">
					<% items.forEach(item => { -%>
					<div class="faq__item">
						<div class="faq__item-top">
							<span class="faq__item-icon"></span>
							<span class="faq__item-title"><%- item.title %></span>
						</div>
						<div class="faq__item-bottom">
							<p class="faq__item-text">
								<%- item.text %>
							</p>
						</div>
					</div>
					<% }); -%>
				</div>
				<div class="wstabs-block" data-wstabs-ns="group-1" data-wstabs-block="2">
					Таб 2
				</div>
				<div class="wstabs-block" data-wstabs-ns="group-1" data-wstabs-block="3">
					Таб 3
				</div>
				<div class="wstabs-block" data-wstabs-ns="group-1" data-wstabs-block="4">
					Таб 4
				</div>

			</div>
		</div>
	</div>
</div>
