<%
	/** Шаблон главной страницы
	 * @name index.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;
%>
<div class="section">
	<%- app.widget('main-slider.ejs') %>
	<div class="background-img">
		<%- app.widget('category-block.ejs') %>
	</div>
	<div class="gray-bg">
		<%- app.widget('product-slider.ejs', {title: 'Новинки', items: products.new, link: 'Все новинки'}) %>
	</div>
	<div class="background-img">
		<%- app.widget('product-slider.ejs', {title: 'Акции и скидки', items: products.sales, link: 'Все акции'}) %>
	</div>
	<%- app.widget('index-info-block.ejs') %>
		<div class="background-img">
			<%- app.widget('product-slider.ejs', {title: 'Просмотренные товары', items: products.looked}) %>
		</div>
	<div class="gray-bg">
		<%- app.widget('index-news-block.ejs', {title: 'Наши новости'}) %>
		<%- app.widget('index-seo-text.ejs') %>
		<%- app.widget('subscribe-form.ejs') %>
	</div>
</div>
