<%
	/** Страница новостей
	 * @name news.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;

	let items = [
		{
			link: '#',
			img: 'news-img-1.png',
			title: 'Тренды 2018: Клетка',
			date: '22 / 04',
			text: 'Приведем несколько примеров того, как с помощью этого тренда можно разнообразить свой образ. Лиловое пальто в крупную клетку с тонкими белыми полосами будет стройнить вашу фигуру и придаст вам нежности. Оно подойдет всем, кто предпочитает естественность и спокойствие в одежде. С открытым верхом можно сочетать шарф или однотонный свитер.'
		}, {
			link: '#',
			img: 'news-img-4.png',
			title: 'Тренды 2018: Клетка',
			date: '22 / 04',
			text: 'Приведем несколько примеров того, как с помощью этого тренда можно разнообразить свой образ. Лиловое пальто в крупную клетку с тонкими белыми полосами будет стройнить вашу фигуру и придаст вам нежности. Оно подойдет всем, кто предпочитает естественность и спокойствие в одежде. С открытым верхом можно сочетать шарф или однотонный свитер.'
		}, {
			link: '#',
			img: 'news-img-5.png',
			title: 'Тренды 2018: Клетка',
			date: '22 / 04',
			text: 'Приведем несколько примеров того, как с помощью этого тренда можно разнообразить свой образ. Лиловое пальто в крупную клетку с тонкими белыми полосами будет стройнить вашу фигуру и придаст вам нежности. Оно подойдет всем, кто предпочитает естественность и спокойствие в одежде. С открытым верхом можно сочетать шарф или однотонный свитер.'
		}, {
			link: '#',
			img: 'news-img-4.png',
			title: 'Тренды 2018: Клетка',
			date: '22 / 04',
			text: 'Приведем несколько примеров того, как с помощью этого тренда можно разнообразить свой образ. Лиловое пальто в крупную клетку с тонкими белыми полосами будет стройнить вашу фигуру и придаст вам нежности. Оно подойдет всем, кто предпочитает естественность и спокойствие в одежде. С открытым верхом можно сочетать шарф или однотонный свитер.'
		}, {
			link: '#',
			img: 'news-img-5.png',
			title: 'Тренды 2018: Клетка',
			date: '22 / 04',
			text: 'Приведем несколько примеров того, как с помощью этого тренда можно разнообразить свой образ. Лиловое пальто в крупную клетку с тонкими белыми полосами будет стройнить вашу фигуру и придаст вам нежности. Оно подойдет всем, кто предпочитает естественность и спокойствие в одежде. С открытым верхом можно сочетать шарф или однотонный свитер.'
		}
	]
%>

<div class="section gray-bg _pb-100">
	<div class="container">
		<div class="articles__title-wrap">
			<div class="breadrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<h1 class="main-title articles__title">НАШИ СТАТЬИ</h1>
		</div>
	</div>
	<div class="articles__box">
		<div class="container">
			<% for (let key in items) { %>
			<%- app.widget('articles-item.ejs', {item: items[key]}) %>
			<%	} -%>
		</div>
	</div>
	<div class="news__pagination-wrap container">
		<%- app.widget('pagination.ejs') %>
	</div>
</div>
