<%
	/** Страница новости
	 * @name news-page.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;
	const {media} = app.module;
%>
<div class="section gray-bg">
	<div class="container">
		<div class="news-page__title-box">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title">ТРЕНДЫ 2018: КЛЕТКА</p>
			<p class="news-page__date-wrap">
				<span class="news-page__date-text">Опубликовано:</span>
				<span class="news-page__date">22 Марта 2018</span>
			</p>
		</div>
		<div class="news-page__main-img">
			<img src="<%- media('assets/images/news-img-main.png' ) %>" alt class="lozad" >
		</div>
		<div class="news-page__text_box">
			<p>
				Женщинам с пышными формами достаточно сложно подобрать себе одежду, особенно в масс-маркете.
				Сложно найти правильный размер, длину и фасон. Брюки должны подчеркнуть ваши достоинства и скрыть
				недостатки, именно поэтому поиск подходящих брюк размера size plus может стать проблемой. Вы можете
				иметь трудности с покупкой брюк в торговом центре, а у нас широкий выбор одежды больших размеров. Вы
				найдете то, что ищете. Неважно, какой стиль вы предпочитаете, вы сможете найти его у нас. В нашем
				ассортименте брюки различных размеров, различных цветов и из тканей, которые подходят как для офиса,
				так и для повседневной жизни, наш размерный ряд начинается с 42 и заканчивается 54 размером.
			</p>
			<p>
				ногие женщины, имея пышные формы боятся экспериментировать. А очень зря. Красный, хаки, синий цвета
				прекрасно подойдут каждой женщине, независимо от ее размера. Не стоит ограничиваться только темными
				оттенками брюк. Emka-fashion может предложить неимоверно интересные оттенки, такие как бордовый,
				песочный, зеленый. Не нужно закрывать глаза на модные тенденции и яркие цвета, нужно просто выбрать
				правильный фасон.
			</p>
			<p>
				Ткани, из которых изготовлены брюки, представленные в нашем магазине: <br>
				спандекс+полиэстер+вискоза <br>
				хлопок+эластан <br>
				полиэстер+вискоза+эластан <br>
				хлопок+эластан+полиэстер <br>
				тенсел (размерный ряд этой модели до 58 размера)
			</p>
		</div>
	</div>
	<%- app.widget('index-news-block.ejs', {title: 'Читайте также'}) %>
</div>
