<%
	/** Страница товара
	 * @name product-page-wholesale.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;
	const {media, comment} = app.module;

	let items = products.new;
	let photos = [
		{
		    img: 'wear-1.png'
		}, {
		    img: 'baby-clothes.png'
		}, {
		    img: 'wear-1.png'
		}, {
		    img: 'baby-clothes.png'
		}, {
		    img: 'wear-1.png'
		}, {
		    img: 'baby-clothes.png'
		}
	];
%>
<div class="section gray-bg">
	<div class="container">
		<div class="product-page__title-box">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<div class="product__pagination-wrap">
				<a href="#" class="product__pagination-link first">
					<span class="product__pagination-link-icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#right-arrow') %>"></use>
						</svg>
					</span>
					<span>Предыдущий</span>
				</a>
				<span>
					<span class="product__pagination-current _medium">17</span><span>/45</span>
				</span>
				<a href="#" class="product__pagination-link second">
					<span>Следующий</span>
					<span class="product__pagination-link-icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#right-arrow') %>"></use>
						</svg>
					</span>
				</a>
			</div>
		</div>
		<div class="product__top-wrap grid js-product-item wholesale js-cart-item" data-id="111" data-sizes="5" data-url="hidden/cart-add.php">
			<div class="gcell--24 gcell--ms-13 product__gallery-wrap">
				<button class="product__3d-btn js-product-media-link is-image">
					<span class="_3d-icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#3d-icon') %>"></use>
						</svg>
					</span>
					<span class="picture-icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#picture-icon') %>"></use>
						</svg>
					</span>
				</button>
				<div class="product__gallery grid">
					<div class="product__gallery-preview gcell--24 gcell--md-4">
						<div class="gallery-preview__wrap popup-gallery">
							<% photos.forEach(function (item) { -%>
							<div>
								<div class="gallery-preview__item lozad" style="background-image: url(<%- media('assets/images/' + item.img ) %>)"></div>
							</div>
							<% });-%>
						</div>
					</div>
					<div class="product__gallery-main gcell--24 gcell--md-20">
						<% photos.forEach(function (item) { -%>
						<div class="product__gallery-item">
							<div>
								<img class="product__gallery-img lozad" src="<%- media('assets/images/' + item.img ) %>" alt >
							</div>
						</div>
						<% });-%>
					</div>
				</div>
				<%- comment.php('Для плагина 3Д вращения нужно указать 72 - количество картинок, которые используются для вращения, data-imagePath - это часть пути к файлам до числа (окончание этого пути - числа: 1, 2, 3, ..., 72 и потом расширение)') %>
				<div class="product__gallery-360 is-hide js-product-media-360 threesixty js-threesixty" data-totalFrames="72" data-endFrame="72" data-imagePath="/Media/assets/images/3d/1206_classic_biruza" data-ext=".png" data-filePrefix="">
					<div class="threesixty__spinner">
						<span>0%</span>
					</div>
					<ol class="threesixty__images"></ol>
					<div class="threesixty__buttons js-threesixty-buttons">
						<div class="threesixty__button js-threesixty-prev">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#left-arrow-slider') %>"></use>
							</svg>
						</div>
						<div class="threesixty__button js-threesixty-play">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#play-icon') %>"></use>
							</svg>
						</div>
						<div class="threesixty__button js-threesixty-pause">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#pause-icon') %>"></use>
							</svg>
						</div>
						<div class="threesixty__button js-threesixty-next">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#right-arrow-slider') %>"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
			<div class="gcell--24 gcell--ms-11 product__info-wrap">
					<p class="product__code"><span>Код товара:</span><span class="code"> 00513937</span></p>
					<div class="product__name-wrap">
						<p class="product__name">Костюм «Классика»</p>
						<button class="product__favorite-btn js-favorite-btn" data-url="hidden/response/favorite.json">
						<span class="product__favorite-icon">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#favorite-icon') %>"></use>
							</svg>
						</span>
							<span class="product__favorite-icon--fill">
							<svg>
								 <use xlink:href="<%- media('assets/images/sprites/icons.svg#like-icon') %>"></use>
							</svg>
						</span>
						</button>
					</div>
					<div class="product__price-wrap">
						<div class="product__price-box">
							<span class="product__price-old">1 100 <span class="currency">грн</span></span>
							<span class="product__price-current">10 100 <span class="currency">грн</span></span>
						</div>
						<p class="product__availability">
							<span>Есть в наличии</span>
							<span class="product__availability-icon">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#check-icon') %>"></use>
							</svg>
						</span>
						</p>
					</div>
					<div class="product__colors-wrap">
						<span>Цвет:</span>
						<a href="#" class="product__color-link active">
							<span style="background-color: #242233"></span>
						</a>
						<a href="#" class="product__color-link" >
							<span style="background-color: #8b0000"></span>
						</a>
						<a href="#" class="product__color-link">
							<span style="background-color: #ffa500"></span>
						</a>
						<a href="#" class="product__color-link">
							<span style="background-color: #008000"></span>
						</a>
					</div>
					<div class="product__sizes-wrap">
						<div class="product__sizes-text">
							<span>Доступные размеры (см.):</span>
							<span class="product__sizes-link js-init" data-mfp="ajax" data-mfp-src="hidden/table-size.php">
							Таблица размеров
							<span class="product__sizes-icon">
								<svg>
									<use xlink:href="<%- media('assets/images/sprites/icons.svg#table-icon') %>"></use>
								</svg>
							</span>
						</span>
						</div>
						<div class="product__sizes">
							<div class="product__size-item active js-init" data-mfp="ajax" data-mfp-src="hidden/cart-sizes-wholesale.php">
								<span class="product__size-text">86</span>
								<span class="product__size-count js-product-count">6</span>
							</div>
							<div class="product__size-item active js-init" data-mfp="ajax" data-mfp-src="hidden/cart-sizes-wholesale.php">
								<span class="product__size-text">92</span>
								<span class="product__size-count js-product-count">6</span>
							</div>
							<div class="product__size-item disable js-init" data-mfp="ajax" data-mfp-src="hidden/cart-sizes-wholesale.php">
								<span class="product__size-text">100 </span>
							</div>
							<div class="product__size-item active js-init" data-mfp="ajax" data-mfp-src="hidden/cart-sizes-wholesale.php">
								<span class="product__size-text">104</span>
								<span class="product__size-count js-product-count">6</span>
							</div>
							<div class="product__size-item active js-init" data-mfp="ajax" data-mfp-src="hidden/cart-sizes-wholesale.php">
								<span class="product__size-text">120</span>
								<span class="product__size-count js-product-count">6</span>
							</div>
							<div class="product__size-item active js-init" data-mfp="ajax" data-mfp-src="hidden/cart-sizes-wholesale.php">
								<span class="product__size-text">92</span>
								<span class="product__size-count js-product-count">6</span>
							</div>
						</div>
					</div>
					<div class="product__info-items">
						<div class="product__info-item">
							<p class="product__info-text">Производитель:</p>
							<span class="product__info-dots"></span>
							<p class="product__info-text">Турция</p>
						</div>
						<div class="product__info-item">
							<p class="product__info-text">Сезон:</p>
							<span class="product__info-dots"></span>
							<p class="product__info-text">Весна-Осень</p>
						</div>
						<div class="product__info-item">
							<p class="product__info-text">Возраст:</p>
							<span class="product__info-dots"></span>
							<p class="product__info-text">1-5 лет</p>
						</div>
					</div>
					<div class="product__counts-box">
						<div class="product__counter">
							<button class="product__counter-btn plus js-product-plus">
								+
							</button>
							<input type="tel" class="product__counter-input js-product-input" value="6">
							<button class="product__counter-btn minus js-product-minus">
								-
							</button>
						</div>
						<div class="product__counts-text">
							<p class="product__count-total">Всего товаров: <span class="product__count js-product-count wholesale">30</span></p>
							<p>Общая стоимость: <span class="product__total-price"><span class="js-product-price" data-price="1876">56 280</span> грн.</span></p>
						</div>
					</div>
					<div class="product__buttons-wrap">
						<button class="yellow-btn product__buy-btn js-cart-add">
							Добавить в корзину
						</button>
						<button class="yellow-border-btn product__buy-btn js-cart-order" data-url="./hidden/cart-order.php">
							Сформировать заказ
						</button>
					</div>
				</div>
		</div>
		<div class="product__bottom-wrap grid">
			<div class="product__bottom-left gcell--24 gcell--ms-14">
				<div class="product__tab-buttons">
					<button class="wstabs-button product__tab-btn" data-wstabs-ns="group-1" data-wstabs-button="1">
						Описание
					</button>
					<button class="wstabs-button product__tab-btn is-active" data-wstabs-ns="group-1" data-wstabs-button="2">
						Отзывы
					</button>
				</div>
				<div>
					<div class="wstabs-block product__tab" data-wstabs-ns="group-1" data-wstabs-block="1">
						<div class="product__text">
							<p>
								Парка Piazza Italia выполнена из гладкого текстиля на подкладке из искусственной овчины.
								Модель прямого кроя. Детали: застежка на молнию; ветрозащитная планка на кнопках;
								фиксированный капюшон со шнурком в кулиске; два боковых кармана с клапанами на кнопках;
								один внутренний карман на пуговице; кулиска со шнурком, регулирующим силуэт, на поясе и
								по низу парки с изнаночной стороны.
							</p>
						</div>
					</div>
					<div class="wstabs-block is-active product__tab" data-wstabs-ns="group-1" data-wstabs-block="2">
						<div class="product__reviews-box">
							<button class="yellow-border-btn product__reviews-btn js-init" data-mfp="ajax" data-mfp-src="hidden/review-popup.php">
								Оставить отзыв
							</button>
							<div class="product__reviews">
								<div class="product__reviews-item">
									<p class="product__reviews-title-wrap">
										<span class="product__reviews-title">Евгения</span>
										<span class="product__reviews-date">( 2 дня назад )</span>
									</p>
									<p class="product__reviews-text">
										Товар великолепен, писать много лень, но если приглянулось хотя бы чуть-чуть - берите
										и не пожалете
									</p>
									<div class="product__reviews-likes">
										<div class="product__reviews-like">
											<span class="product__reviews-icon like">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
											<span>15</span>
										</div>
										<div class="product__reviews-dislike">
											<span class="product__reviews-icon dislike">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
											<span>2</span>
										</div>
									</div>
								</div>
								<div class="product__reviews-item">
									<p class="product__reviews-title-wrap">
										<span class="product__reviews-title">Евгения</span>
										<span class="product__reviews-date">( 2 дня назад )</span>
									</p>
									<p class="product__reviews-text">
										Товар великолепен, писать много лень, но если приглянулось хотя бы чуть-чуть - берите
										и не пожалете
									</p>
									<div class="product__reviews-likes">
										<div class="product__reviews-like">
											<span class="product__reviews-icon like">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
											<span>15</span>
										</div>
										<div class="product__reviews-dislike">
											<span class="product__reviews-icon dislike">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
											<span>2</span>
										</div>
									</div>
								</div>
								<div class="product__reviews-item">
									<p class="product__reviews-title-wrap">
										<span class="product__reviews-title">Евгения</span>
										<span class="product__reviews-date">( 2 дня назад )</span>
									</p>
									<p class="product__reviews-text">
										Товар великолепен, писать много лень, но если приглянулось хотя бы чуть-чуть - берите
										и не пожалете
									</p>
									<div class="product__reviews-likes">
										<div class="product__reviews-like">
											<span class="product__reviews-icon like">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
											<span>15</span>
										</div>
										<div class="product__reviews-dislike">
											<span class="product__reviews-icon dislike">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
											<span>2</span>
										</div>
									</div>
								</div>
							</div>
							<div class="product__reviews-pagination">
								<%- app.widget('pagination.ejs') %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product__bottom-right gcell--24 gcell--ms-10">
				<div class="product__delivery-box">
					<p class="product__delivery-title">Доставка</p>
					<div class="product__delivery-item">
						<div class="grid">
							<div class="gcell--10">
								<p class="product__delivery-sub-title">Из магазина</p>
							</div>
							<div class="gcell--14">
								<p class="product__delivery-text">
									Самовывоз из наших магазинов
									Курьером по адресам
								</p>
							</div>
						</div>
						<div class="grid product__delivery-sub-item">
							<div class="gcell--10">
								<p class="product__delivery-sub-title">В регионах</p>
							</div>
							<div class="gcell--14">
								<p class="product__delivery-text">
									Самовывоз и точки вывоза
									Из пункта службы доставки
									Курьером по адресам
								</p>
							</div>
						</div>
					</div>
					<div class="product__delivery-item">
						<p class="product__delivery-title">Оплата</p>
						<p class="product__delivery-text">Наличными, безналичными, кредит, Visa/MasterCard</p>
					</div>
					<div class="product__delivery-item">
						<p class="product__delivery-title">Возврат товара</p>
						<p class="product__delivery-text">Вы всегда можете вернуть купленый товар в течении 14 рабочих дней.</p>
					</div>
					<div class="product__delivery-item">
						<p class="product__delivery-sale">Найдете дешевле, сделаем скидку</p>
					</div>

				</div>
			</div>
		</div>
		<%- app.widget('product-slider.ejs', {title: 'РЕКОМЕНДУЕМЫЕ ТОВАРЫ', items: products.new, small: true}) %>
	</div>
</div>
