<%
	/** Личный кабинет - данные
	 * @name profile-data.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView} = app.data;
	const {media} = app.module;

	let orders = [
		{
		    number: '№203368',
			date: '12.03.2019',
			status: 'Доставлен',
			statusClass: 'ready',
			items: [
				{
				    name: 'Комбинезон',
                    code: '784837',
					price: '18 000',
                    count: '18',
                    img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
                    sizes: [
                        {
                            size: '',
                            count: ''
                        }
                    ]
				}, {
		            name: 'Комбинезон',
                    code: '784837',
                    price: '1 110',
                    count: '1',
					img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png'
				}
		   ]
		}, {
		    number: '№203368',
			date: '12.03.2019',
			status: 'В работе',
			statusClass: 'in-progress',
			items: [
				{
				    name: 'Комбинезон',
                    code: '784837',
					price: '18 000',
                    count: '18',
                    img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
                    sizes: [
                        {
                            size: '',
                            count: ''
                        }
                    ]
				}, {
		            name: 'Комбинезон',
                    code: '784837',
                    price: '1 110',
                    count: '1',
					img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png'
				}
		   ]
		}, {
		    number: '№203368',
			date: '12.03.2019',
			status: 'Отменен',
			statusClass: 'cancel',
			items: [
				{
				    name: 'Комбинезон',
                    code: '784837',
					price: '18 000',
                    count: '18',
                    img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
                    sizes: [
                        {
                            size: '',
                            count: ''
                        }
                    ]
				}
		   ]
		}
	]
%>

<div class="section gray-bg">
	<div class="container">
		<div class="history__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title history__title">личный кабинет</p>
		</div>
		<div class="history__content grid">
			<div class="gcell--24 gcell--sm-6 profile__sidebar">
				<div class="grid profile__sidebar-items">
					<a href="#" class="profile__sidebar-item">
						<span>Личный данные</span>
					</a>
					<a href="profile-history.html" class="profile__sidebar-item active">
						<span>История заказов</span>
					</a>
					<a href="profile-favorite.html" class="profile__sidebar-item">
						<span>Избранные товары</span>
					</a>
					<a href="#" class="profile__sidebar-item">
						<span>Выход</span>
					</a>
				</div>
			</div>
			<div class="gcell--24 gcell--sm-18 profile__main">
				<% orders.forEach(item => { -%>
				<div class="history__item open">
					<div class="history__item-top open">
						<div class="history__item-info">
							<span class="history__item-icon"></span>
							<p class="history__item-title">
								Заказ <span><%- item.number %></span> от
								<span class="history__item-date"><%- item.date %></span>
							</p>
						</div>
						<p class="history__item-status">Статус заказа: <span class="history__order-status <%- item.statusClass %>"><%- item.status %></span></p>
					</div>
					<div class="history__item-bottom">
						<div class="history__items-wrap">
							<% for (let key in item.items) { %>
								<%- app.widget('cart-item-small.ejs', {item: item.items[key], small: true}) %>
							<%	} -%>
						</div>
						<div class="history__total-info">
							<div class="history-total__text-box">
                                <p class="history-total__title">Общая сумма заказа:</p>
                                <p class="history-total__sub-title">*Сумма указана без учета доставки</p>
                            </div>
							<div class="history-total__price-box">
                                <span>Итого:</span>
                                <p class="history-total__price">19 100 <span>грн.</span></p>
                            </div>
						</div>
					</div>
				</div>
				<% }); -%>
			</div>
		</div>
	</div>
</div>
