<%
	/** Личный кабинет - данные
	 * @name profile-data.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView} = app.data;
	const {media} = app.module;

	let items = [
		{
		    title: 'Доставка курьером к дому?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'Как оплатить через Приватбанк?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'На какой счет отправлять предоплату?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}, {
		    title: 'Доставка курьером к дому?',
			text: 'Мы доставим ваш заказ на следующий день, если вы сделаете заказ в нашем интернет-магазине с понедельника по пятницу и менеджер подтвердит его до 14:00.'
		}
	]
%>

<div class="section gray-bg _pb-100">
	<div class="container">
		<div class="faq__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title faq__title">личный кабинет</p>
		</div>
		<div class="faq__content grid">
			<div class="gcell--24 gcell--sm-6 profile__sidebar">
				<div class="grid profile__sidebar-items">
					<a href="#" class="profile__sidebar-item active">
						<span>Личный данные</span>
					</a>
					<a href="#" class="profile__sidebar-item">
						<span>История заказов</span>
					</a>
					<a href="#" class="profile__sidebar-item">
						<span>Избранные товары</span>
					</a>
					<a href="#" class="profile__sidebar-item">
						<span>Выход</span>
					</a>
				</div>
			</div>
			<div class="gcell--24 gcell--sm-18 profile__main">
				<div class="profile__data-wrap grid">
					<form class="profile__data-form js-form grid" data-ajax="hidden/response/demo.json">
						<div class="gcell--24 gcell--sm-12 profile__data-left">
							<div class="form-group">
								<p class="form-title">Личные данные</p>
								<label class="profile__data-label">
									<input required type="text" name="personal-name" id="personal-name"
										   placeholder="Имя" class="simple-input profile__data-input"
										   data-rule-word="true" data-rule-minlength="2" >
								</label>
								<label class="profile__data-label">
									<input required type="text" name="personal-surname" id="personal-surname"
										   placeholder="Фамилия" class="simple-input profile__data-input"
										   data-rule-word="true" data-rule-minlength="2" >
								</label>
							</div>
							<div class="form-group">
								<p class="form-title">Пароль</p>
								<label class="profile__data-label">
									<input data-rule-required="#personal-password:filled" type="password" name="old-password" id="old-password" placeholder="Старый пароль" class="simple-input profile__data-input" data-rule-minlength="6">
								</label>
								<label class="profile__data-label">
									<input data-rule-required="#old-password:filled" type="password" name="personal-password" id="personal-password" placeholder="Новый пароль" class="simple-input profile__data-input" data-rule-minlength="6">
								</label>
								<label class="profile__data-label">
									<input data-rule-required="#personal-password:filled" type="password" name="personal-password-rep" id="personal-password-rep" data-rule-equalTo="[name='personal-password']" placeholder="Подтверждение пароля" class="simple-input profile__data-input" data-rule-minlength="6">
								</label>
							</div>
							<button class="js-form-submit yellow-btn profile__data-submit">
								Сохранить
							</button>
						</div>
						<div class="gcell--24 gcell--sm-12 profile__data-right">
							<div class="form-group">
								<p class="form-title">Контактные данные</p>
								<label class="profile__data-label">
									<input type="email" name="personal-mail" id="personal-mail" placeholder="Email"
										   class="simple-input profile__data-input">
								</label>
								<label class="profile__data-label">
									<input type="tel" name="personal-phone" id="personal-phone"
										   class="simple-input profile__data-input js-init"
										   placeholder="+38(0**) ***-**-**"
										   data-rule-phoneua="true"
										   data-phonemask="+38(0**) ***-**-**"
										   data-phonemask-android="+38(0**) ***-**-**">
								</label>
								<label class="profile__data-label">
									<input type="text" name="personal-city" id="personal-city" placeholder="Город" class="simple-input profile__data-input">
								</label>
								<label class="profile__data-label">
									<textarea placeholder="Адрес" class="profile__data-textarea" name="personal-adress" id="personal-adress" ></textarea>
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
