<%
	/** Личный кабинет - данные
	 * @name profile-data.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;
	const {media} = app.module;

	let items = products.favorite;

%>

<div class="section gray-bg">
	<div class="container">
		<div class="faq__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title faq__title">личный кабинет</p>
		</div>
		<div class="faq__content grid">
			<div class="gcell--24 gcell--sm-6 profile__sidebar">
				<div class="grid profile__sidebar-items">
					<a href="profile-data.html" class="profile__sidebar-item">
						<span>Личный данные</span>
					</a>
					<a href="profile-history.html" class="profile__sidebar-item">
						<span>История заказов</span>
					</a>
					<a href="#" class="profile__sidebar-item active">
						<span>Избранные товары</span>
					</a>
					<a href="#" class="profile__sidebar-item">
						<span>Выход</span>
					</a>
				</div>
			</div>
			<div class="gcell--24 gcell--sm-18 profile__main">
					<div class="grid">
						<% for (let key in items) { %>
							<%- app.widget('product-item-small.ejs', {item: items[key]}) %>
						<%	} -%>
					</div>
			</div>
		</div>
	</div>
</div>
