<%
	/** Результаты поиска
	 * @name search-results.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView, products} = app.data;

	let items = products.new;
%>
<div class="section gray-bg">
	<div class="container">
		<div class="catalog__title-box">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="catalog-title main-title">РЕЗУЛЬТАТ ПОИСКА</p>
			<p class="js-select-word search-result__sub-title" data-select='Комбинезон'>По запросу <span class="search-result__word">«Комбинезон»</span> найдено: 15 товаров</p>
		</div>
		<div class="catalog__mobile-filters">
			<div class="_hide">
				<nav id="filters-menu">
					<%- app.widget('catalog-filters.ejs', {mobile: true}) %>
				</nav>
			</div>
		</div>
		<div class="grid">
			<div class="gcell--def-6 catalog__filters">
				<%- app.widget('catalog-filters.ejs') %>
			</div>
			<div class="gcell--24 gcell--def-18 catalog__items-wrap">
				<div class="catalog__items-top">
					<button class="filters-menu-open yellow-btn">
						Фильтры
					</button>
					<div class="catalog__filters-chosen"> </div>
					<div class="catalog__items-select-box select2-wrap">
						<span>Сортировать по:</span>
						<select id="" class="select2">
							<option>Цене</option>
							<option>Популярности</option>
							<option>Алфавиту</option>
						</select>
					</div>
				</div>
				<div class="catalog__items grid js-select">
					<% for (let key in items) { %>
					<%- app.widget('product-item-small.ejs', {item: items[key]}) %>
					<%	} -%>
				</div>

				<div class="search-result__items-info">
					<div class="search-result__items-pagination">
						<%- app.widget('pagination.ejs') %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
