<%
	/** Шаблон страницы карты сайта
	 * @name ui.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView} = app.data;
%>
<div class="section _pb-100">
	<div class="container _ptb-lg">
		<div class="title main-title"><%- currentView.title %></div>
		<%- app.widget('sitemap-list.ejs') %>
	</div>
</div>
