<%
	/** Текстовая страница
	 * @name text-page.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView} = app.data;
%>

<div class="section gray-bg">
	<div class="container">
		<div class="about__title-wrap">
			<div class="breadcrumbs-container">
				<%- (function () {
					const folder = 'breadcrumbs-template-default/ejs/';
					const widget = folder + '_widgets/breadcrumbs.ejs';
					const components = app.data.ejsPaths.components;
					/** @see frontendComponents.breadcrumbsWidget */
					return app.widget(widget, components, {folder});
				})() -%>
			</div>
			<p class="main-title about__title">Текстовая страница</p>
		</div>
		<div class="text-wrap">
			<p>
				В Украине дефицит грамотных переговорщиков — людей, способных результативно вести переговоры, будь то
				клиент, бизнес-партнер или чиновники. На отечественном рынке труда такая профессия пока еще является
				экзотикой. Чаще рекрутеры используют другие названия этой вакансии, к примеру, специалист по коммуникациям
				сгосорганами. Тем не менее, спрос на людей, которые умеют вести переговоры, растет, пишет UBR. <br>
				Например, на Work.ua 6653 актуальных вакансий, в которых работодатели указывают в качестве требования
				способность проводить переговоры. Больше всего это качество
				востребовано у коммерсантов. Так, в категории "Продажи, закупки" размещено 4763 вакансии, требующие
				переговорных навыков.
			</p>
			<h2>Подзаголовок</h2>
			<p>
				Приведем несколько примеров того, как с помощью этого тренда можно разнообразить свой образ. Лиловое
				пальто в крупную клетку с тонкими белыми полосами будет стройнить вашу фигуру и придаст вам нежности.
				Оно подойдет всем, кто предпочитает естественность и спокойствие в одежде. С открытым верхом можно
				сочетать шарф или однотонный свитер.
			</p>
			<h2>Правило 1</h2>
			<h3>Маркеровочные списки</h3>
			<ul class="yellow-list">
				<li>Значение 1 </li>
				<li>Значение 2 </li>
				<li>Значение 3 </li>
			</ul>
			<ol>
				<li>Значение 1 </li>
				<li>Значение 2 </li>
				<li>Значение 3 </li>
			</ol>
			<ul class="checked-list">
				<li>Значение 1 </li>
				<li>Значение 2 </li>
				<li>Значение 3 </li>
			</ul>
		</div>
	</div>
</div>
