<%
	/** Страница "Оптовикам"
	 * @name wholesale.ejs */

	/** установка лейаута страницы */
	app.setLayout('default-view.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	// выгружаем инструменты
	const {currentView} = app.data;
	const {media} = app.module;

%>

<div class="section gray-bg _pb-100">
	<div class="wholesale-bg" style="background-image: linear-gradient(179deg, rgba(238, 238, 238, 0) 0%, #f5f6f8 100%)">
		<div class="container">
			<div class="about__title-wrap">
				<div class="breadcrumbs-container">
					<%- (function () {
						const folder = 'breadcrumbs-template-default/ejs/';
						const widget = folder + '_widgets/breadcrumbs.ejs';
						const components = app.data.ejsPaths.components;
						/** @see frontendComponents.breadcrumbsWidget */
						return app.widget(widget, components, {folder});
					})() -%>
				</div>
				<p class="main-title about__title">Оптовикам</p>
			</div>
			<div class="wholesale__text-box">
				<p>
					BABYKROHA приглашает к взаимовыгодному сотрудничеству предпринимателей, организаторов совместных
					покупок и просто инициативных людей, которые хотят зарабатывать вместе с нами и предлагать
					современный, качественный, недорогой товар  украинского производства.
				</p>
				<p>
					Мы рады представить вашему вниманию модные модели: повседневных и вечерних платьев, блуз, топов,
					кардиганов, жакетов, юбок и леггинсов. Мы постарались как можно удобнее организовать работу с
					нашими клиентами и создать благоприятные условия партнерства.
				</p>
			</div>
			<div class="about__text-box grid">
				<div class="gcell--md-12 about__text-img">
					<img src="<%- media('assets/images/news-img-1.png' ) %>" alt class="lozad" >
				</div>
				<div class="gcell--md-12 about__text-wrap about__text-wrap--second">
					<p class="about__text-title">5 причин работать с нами</p>
					<div class="wholesale__text-wrap">
						<ul class="wholesale__text-list yellow-list">
							<li>Высокотехнологичное <br> производство</li>
							<li>Опыт больше 10 лет <br> в сфере</li>
							<li>Прибыльные магазины</li>
						</ul>
						<ul class="wholesale__text-list yellow-list">
							<li>Квалифицированный <br> оттдел продаж</li>
							<li>Передовое дизайн бюро</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="articles-item grid articles-item--right">
			<div class="gcell--md-12 articles-item__img-wrap">
				<a href="#" class="articles-item__img-link">
					<img src="<%- media('assets/images/news-img-2.png' ) %>" alt class="lozad" >
				</a>
			</div>
			<div class="gcell--24 gcell--md-12">
				<div class="articles-item__text-box">
					<div class="articles-item__title-box">
						<p class="about__text-title">Что отличает нашу продукцию от конкурентов</p>
					</div>
					<div class="wholesale__text-wrap">
						<ul class="wholesale__text-list yellow-list">
							<li>Высокотехнологичное <br> производство</li>
							<li>Опыт больше 10 лет <br> в сфере</li>
						</ul>
						<ul class="wholesale__text-list yellow-list">
							<li>Квалифицированный <br> оттдел продаж</li>
							<li>Передовое дизайн бюро</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
