<%
	/** примеры кнопок скролла
	 * @name ui-demo/scroll-window */
%>
<button class="button js-init scroll-up" data-scroll-window="up">scroll to up</button>
<button class="button js-init" data-scroll-window="down">scroll to down</button>
<button class="button js-init" data-scroll-window="#anchor-6">scroll to #anchor-6</button>
