<%
	/** примеры табов
	 * @name ui-demo/wstabs.ejs */
%>
<div class="container">
	<div class="_mb-def">
		<button class="wstabs-button button is-active" data-wstabs-ns="group-1" data-wstabs-button="1">
			wstabs button 1
		</button>
		<button class="wstabs-button button" data-wstabs-ns="group-1" data-wstabs-button="2">
			wstabs button 2
		</button>
		<button class="wstabs-button button" data-wstabs-ns="group-1" data-wstabs-button="3">
			wstabs button 3
		</button>
	</div>
	<div class="demo">
		<div class="wstabs-block is-active" data-wstabs-ns="group-1" data-wstabs-block="1">
			<div class="wysiwyg">
				<h3>wstabs-block 1</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditate dicta
					dolorum, ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemo obcaecati pariatur
					quidem quis voluptate?</p>
			</div>
		</div>
		<div class="wstabs-block" data-wstabs-ns="group-1" data-wstabs-block="2">
			<div class="wysiwyg">
				<h3>wstabs-block 2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditate dicta
					dolorum, ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemo obcaecati pariatur
					quidem quis voluptate?</p>
			</div>
		</div>
		<div class="wstabs-block" data-wstabs-ns="group-1" data-wstabs-block="3">
			<div class="wysiwyg">
				<h3>wstabs-block 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditate dicta
					dolorum, ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemo obcaecati pariatur
					quidem quis voluptate?</p>
			</div>
		</div>
	</div>

	<div class="_mt-def">
		<button class="wstabs-button button is-active" data-wstabs-ns="group-1" data-wstabs-button="1">
			wstabs button 1, synced
		</button>
		<button class="wstabs-button button" data-wstabs-ns="group-1" data-wstabs-button="2">
			wstabs button 2, synced
		</button>
		<button class="wstabs-button button" data-wstabs-ns="group-1" data-wstabs-button="3">
			wstabs button 3, synced
		</button>
	</div>
</div>

<div class="container">
	<h4>Пример запуска/паузы вложенного видео при активации табов</h4>

	<div class="_mb-def">
		<button class="wstabs-button button is-active" data-wstabs-ns="group-video" data-wstabs-button="1">
			Video code
		</button>
		<button class="wstabs-button button" data-wstabs-ns="group-video" data-wstabs-button="2">
			Video play
		</button>
	</div>
	<div class="demo">
		<div class="wstabs-block is-active" data-wstabs-ns="group-video" data-wstabs-block="1">
			<div class="wysiwyg js-init" data-prismjs>
				<pre>
					<code class="language-ejs">
&lt;div id="video-tab-block" class="wstabs-block" data-wstabs-ns="group-video" data-wstabs-block="2">
	&lt;div class="wysiwyg">
		&lt;video controls width="1280" height="720"
				src="&lt;%- app.module.media('assets/files/video.mp4') %&gt;"
				poster="&lt;%- app.module.media('assets/files/poster.jpg') %&gt;">&lt;/video>
	&lt;/div>
&lt;/div>
					</code>
				</pre>
				<pre>
					<code class="language-javascript">
import wsTabs from './_modules/wstabs';

let $videoBlock = $('#video-tab-block');
let video = $videoBlock.find('video')[0];

$videoBlock.on(wsTabs.events.on, () => {
	video.play();
});

$videoBlock.on(wsTabs.events.off, () => {
	video.pause();
});
					</code>
				</pre>
			</div>
		</div>
		<div id="video-tab-block" class="wstabs-block" data-wstabs-ns="group-video" data-wstabs-block="2">
			<div class="wysiwyg">
				<video controls width="1280" height="720" src="<%- app.module.media('assets/files/video.mp4') %>" poster="<%- app.module.media('assets/files/poster.jpg') %>"></video>
			</div>
		</div>
	</div>
	<script>
		(function (window) {
			document.addEventListener("DOMContentLoaded", function () {
				var $ = window.jQuery;
				var $videoBlock = $('#video-tab-block');
				var video = $videoBlock.find('video')[0];

				$videoBlock.on('wstabs-on', function () {
					video.play();
				});

				$videoBlock.on('wstabs-off', function () {
					video.pause();
				});
			});
		})(window);
	</script>
</div>


<div class="container">
	<div class="_mb-def">
		<h4>Пример аккордеона при помощи wsTabs</h4>

		<button class="wstabs-button button" data-wstabs-ns="group-3" data-wstabs-button="1">
			Разметка
		</button>
		<button class="wstabs-button button" data-wstabs-ns="group-3" data-wstabs-button="2">
			Скрипт
		</button>
		<button class="wstabs-button button is-active" data-wstabs-ns="group-3" data-wstabs-button="3">
			Живой пример
		</button>
	</div>
	<div class="demo">
		<div class="wstabs-block" data-wstabs-ns="group-3" data-wstabs-block="1">
			<div class="js-init" data-prismjs>
				<pre>
					<code class="language-markup">
	&lt;style>
		.accordion-button {
			cursor: pointer;
		}

		.accordion-block {
			position: relative;
			overflow: hidden;
		}
	&lt;/style>
	&lt;ul>
		&lt;li>
			&lt;span class="accordion-button is-active" data-wstabs-ns="group-accordion" data-wstabs-button="1">
				Пункт 1
			&lt;/span>
			&lt;div class="accordion-block is-active" data-accordion-block data-wstabs-ns="group-accordion" data-wstabs-block="1">
				&lt;div class="wysiwyg">
					&lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditatedicta
						dolorum, &lt;br>ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemoobcaecati pariatur
						quidem quis voluptate?&lt;/p>
				&lt;/div>
			&lt;/div>
		&lt;/li>
		&lt;li>
			&lt;span class="accordion-button" data-wstabs-ns="group-accordion" data-wstabs-button="2">
				Пункт 2
			&lt;/span>
			&lt;div class="accordion-block" data-accordion-block data-wstabs-ns="group-accordion" data-wstabs-block="2" style="display: none;">
				&lt;div class="wysiwyg">
					&lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditatedicta
						dolorum, &lt;br>ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemoobcaecati pariatur
						quidem quis voluptate?&lt;/p>
				&lt;/div>
			&lt;/div>
		&lt;/li>
		&lt;li>
			&lt;span class="accordion-button" data-wstabs-ns="group-accordion" data-wstabs-button="3">
				Пункт 3
			&lt;/span>
			&lt;div class="accordion-block" data-accordion-block data-wstabs-ns="group-accordion" data-wstabs-block="3" style="display: none;">
				&lt;div class="wysiwyg">
					&lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditatedicta
						dolorum, &lt;br>ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemoobcaecati pariatur
						quidem quis voluptate?&lt;/p>
				&lt;/div>
			&lt;/div>
		&lt;/li>
	&lt;/ul>
					</code>
				</pre>
			</div>
		</div>
		<div class="wstabs-block" data-wstabs-ns="group-3" data-wstabs-block="2">
			<div class="js-init" data-prismjs>
				<pre>
					<code class="language-javascript">
import wsTabs from './_modules/wstabs';

let $accordionBlock = $('[data-accordion-block]');
let slideTime = 500;

$accordionBlock.on(wsTabs.events.on, function () {
	let $block = $(this);
	$block.stop().slideDown(slideTime, () => {
		console.log($block, 'is opened');
	});
});

$accordionBlock.on(wsTabs.events.again, function () {
	let $block = $(this);
	$block.stop().slideToggle(slideTime, () => {
		console.log($block, 'is toggled');
	});
});

$accordionBlock.on(wsTabs.events.off, function () {
	let $block = $(this);
	$block.stop().slideUp(slideTime, () => {
		console.log($block, 'is closed');
	});
});
					</code>
				</pre>
			</div>
		</div>
		<div class="wstabs-block is-active" data-wstabs-ns="group-3" data-wstabs-block="3">
			<style>
				.accordion-button {
					cursor: pointer;
				}
				.accordion-block {
					position: relative;
					overflow: hidden;
				}
			</style>
			<script>
				(function (window) {
					document.addEventListener("DOMContentLoaded", function () {
						var $ = window.jQuery;
						var $accordionBlock = $('[data-accordion-block]');
						var slideTime = 500;

						$accordionBlock.on('wstabs-on', function () {
							var $block = $(this);
							$block.stop().slideDown(slideTime, () => {
								console.log($block, 'is opened');
							});
						});

						$accordionBlock.on('wstabs-again', function () {
							var $block = $(this);
							$block.stop().slideToggle(slideTime, () => {
								console.log($block, 'is toggled');
							});
						});

						$accordionBlock.on('wstabs-off', function () {
							var $block = $(this);
							$block.stop().slideUp(slideTime, () => {
								console.log($block, 'is closed');
							});
						});
					});
				})(window);
			</script>
			<ul>
				<li>
					<span class="accordion-button is-active" data-wstabs-ns="group-accordion" data-wstabs-button="1">
						Пункт 1
					</span>
					<div class="accordion-block is-active" data-accordion-block data-wstabs-ns="group-accordion" data-wstabs-block="1">
						<div class="wysiwyg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditate
								dicta
								dolorum, <br>ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemo
								obcaecati pariatur
								quidem quis voluptate?</p>
						</div>
					</div>
				</li>
				<li>
					<span class="accordion-button" data-wstabs-ns="group-accordion" data-wstabs-button="2">
						Пункт 2
					</span>
					<div class="accordion-block" data-accordion-block data-wstabs-ns="group-accordion" data-wstabs-block="2" style="display: none;">
						<div class="wysiwyg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditate
								dicta
								dolorum, <br>ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemo
								obcaecati pariatur
								quidem quis voluptate?</p>
						</div>
					</div>
				</li>
				<li>
					<span class="accordion-button" data-wstabs-ns="group-accordion" data-wstabs-button="3">
						Пункт 3
					</span>
					<div class="accordion-block" data-accordion-block data-wstabs-ns="group-accordion" data-wstabs-block="3" style="display: none;">
						<div class="wysiwyg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur culpa cupiditate
								dicta
								dolorum, <br>ea et, incidunt minus natus, odio repellendus veniam voluptas? Ab nemo
								obcaecati pariatur
								quidem quis voluptate?</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
