<%
	/** обратный звонок
	 * @name callback-popup.ejs */

	/** установка лейаута всплывающего окна */
	app.setLayout('_hidden.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);
	const {media} = app.module;

%>

<div class="popup review-popup">
	<div class="review-popup__inner">
		<p class="review-popup__title">Задайте свой вопрос</p>
		<p class="review-popup__sub-title">
			Оставьте свой вопрос и наш менеджер
			ответит на него
		</p>
		<form class="js-form js-init" data-ajax="hidden/response/demo.json">
			<label class="cart-registration__label">
				<input type="text" id="reg-name" required name="reg-name" placeholder="Ваше имя"
					   class="cart-registration__input simple-input"
					   data-rule-word="true" data-rule-minlength="2" >
				<span class="required-dot"></span>
				<label id="reg-name-error" class="has-error" for="reg-name" style="display: none"></label>
			</label>
			<label class="cart-registration__label">
				<input type="tel" id="tel" name="tel" data-name="tel"
					   placeholder="+38(0**) ***-**-**"
					   required data-rule-phoneua="true"
					   data-phonemask="+38(0**) ***-**-**"
					   data-phonemask-android="+38(0**) ***-**-**"
					   class="cart-registration__input simple-input js-init">
				<span class="required-dot"></span>
				<label id="tel-error" class="has-error" for="tel" style="display: none"></label>
			</label>
			<label class="profile__data-label profile__data-label--ask">
				<textarea placeholder="Ваш вопрос" class="profile__data-textarea" name="question" id="question" cols="30" rows="10" data-rule-minlength="2"></textarea>
			</label>
			<label class="callback-form__checkbox-label">
				<input required type="checkbox" name="remember" id="remember" class="cart-registration__checkbox">
				<span class="cart-registration__checkbox-text">Я согласен на обработку персональных данных</span>
				<label id="remember-error" class="has-error" for="remember" style="display: none;">Этот параметр обязателен</label>
			</label>
			<button class="login-popup__submit login-popup__submit--yellow">Отправить</button>
		</form>
	</div>
</div>
