<%
/** изменение размеров
 * @name cart-sizes.ejs */

/** установка лейаута всплывающего окна */
app.setLayout('_hidden.ejs');

/** расширение глобального объекта app
 * @see module:core */
app.require('core.js')(app);
const {media} = app.module;

let sizes =  [
	{
		size: '86'
	},{
		size: '86'
	},{
		size: '86'
	},{
		size: '86'
	},{
		size: '86',
		disable: true
	},{
		size: '86'
	},{
		size: '86',
		disable: true
	},{
		size: '86'
	},{
		size: '86',
		disable: true
	}
];
%>

<div class="popup sizes-popup js-product-item">
	<div class="sizes-popup__title-wrap">
		<p class="sizes-popup__title">Доступные размеры </p>
		<span class="sizes-popup__clean js-product-clean">Сбросить</span>
	</div>
	<p class="sizes-popup__sub-title">Для заказа укажите нужное количество размеров одежды</p>
	<form class="js-form js-init" data-ajax="hidden/response/sizes.json">
		<div class="sizes-popup__items-wrap">
			<% sizes.forEach(item => { -%>
			<div class="sizes-popup__item">
				<div class="product__size-item <%- item.disable  ? 'disable' : 'active' %>">
					<span class="product__size-text"><%- item.size %></span>
				</div>
				<% if(!item.disable) { -%>
				<div class="sizes-item__counter-wrap">
					<div class="sizes-item__counter-btn js-product-plus">+</div>
					<input class="sizes-item__counter-input js-product-input" type="tel" value="6" data-max="10">
					<div class="sizes-item__counter-btn js-product-minus">-</div>
				</div>
				<% } -%>
			</div>
			<% }); -%>
		</div>
		<button class="login-popup__submit login-popup__submit--yellow">Применить</button>
	</form>
</div>

