<%
app.setLayout('_hidden.ejs');
app.require('core.js')(app);

const {currentView, views, paths} = app.data;
const {__, media, comment} = app.module;

let orders =  [
	{
		name: 'Комбинезон',
		code: '784837',
		price: '18 000',
		count: '18',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
		sizes: [
			{
				size: '',
				count: ''
			}
		]
	}, {
		name: 'Комбинезон',
		code: '784837ggjdjunjdee',
		price: '1 110',
		count: '1',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png'
	}, {
		name: 'Комбинезон',
		code: '784837',
		price: '18 000',
		count: '18',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
		sizes: [
			{
				size: '',
				count: ''
			}
		]
	}, {
		name: 'Комбинезон',
		code: '784837',
		price: '1 110',
		count: '1',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png'
	}, {
		name: 'Комбинезон',
		code: '784837',
		price: '18 000',
		count: '18',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
		sizes: [
			{
				size: '',
				count: ''
			}
		]
	}, {
		name: 'Комбинезон',
		code: '784837',
		price: '1 110',
		count: '1',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png'
	}
];
%>

<?php ob_start(); ?>
<%- comment.php('Если корзина не пуста') %>
<div class="cart-window__content">
	<div class="cart-window__top">
		<div class="cart-window__title">Корзина</div>
		<span class="cart__clean js-cart-clean" data-url="hidden/cart-clean-all.php">Сбросить все</span>
	</div>
	<div class="cart-window__items-wrap js-init" data-scrollbar>
		<% for (var i = 0; i < 6; i++) { %>
		<%- app.widget('cart-item-small.ejs', {item: orders[i], redact: true, cart: true}) %>
		<% } %>
	</div>
</div>
<div class="cart-window__bottom">
	<div class="cart-window__totals">
		<div>
			Всего товаров: <span class="cart-window__total-count">18</span>
		</div>
		<div>
			Общая сумма без учета доставки:
			<span class="cart-window__total">3 300 <span class="cart-window__currency">грн</span></span>
		</div>
	</div>
	<div class="cart__main-buttons">
		<button class="cart__back-btn js-cart-close">Продолжить покупки</button>
		<a href="cart.html" class="cart__order-btn">Оформить заказ</a>
	</div>
</div>
<%- comment.php('Если корзина пуста') %>
<!--<div class="cart-window__content">-->
	<!--<div class="cart-window__top">-->
		<!--<div class="cart-window__title">Ваша корзина пуста</div>-->
	<!--</div>-->
<!--</div>-->
<!--<div class="cart-window__bottom">-->
	<!--<div class="cart-window__totals">-->
		<!--<div>В Вашей корзине пока нет товаров для покупки. Ни в чем себе не отказывайте!</div>-->
	<!--</div>-->
	<!--<div class="cart__main-buttons">-->
		<!--<button class="cart__back-btn cart__back-btn&#45;&#45;full js-cart-close">Продолжить покупки</button>-->
	<!--</div>-->
<!--</div>-->

<?php $html = ob_get_clean(); ?>

<?php ob_start(); ?>
<div class="cart-popup__inner">
	<div class="cart-popup__content">
		<div class="cart-popup__text">
			<%- comment.php('Если есть товары в корзине') %>
			<div>В вашей корзине <b>2</b> товара на сумму <b>2 000</b> грн</div>
			<div class="button button--small button--dark _mt-5 js-mfp-ajax" data-mfp-src="hidden/cart-show.php">Открыть корзину</div>
			<%- comment.php('Если нет товаров в корзине') %>
			<!--span>В вашей корзине нет товаров</span-->
		</div>
	</div>
</div>
<?php $popup = ob_get_clean(); ?>

<?php ob_start(); ?>
<%- comment.php('Если корзина не пуста') %>
<div class="cart-window__content">
	<div class="cart-window__top">
		<div class="cart-window__title">Корзина</div>
		<span class="cart__clean js-cart-clean">Сбросить все</span>
	</div>
	<div class="cart-window__items-wrap js-init" data-scrollbar>
		<% for (var i = 0; i < 6; i++) { %>
		<%- app.widget('cart-item-small.ejs', {item: orders[i], redact: true}) %>
		<% } %>
	</div>
</div>
<div class="cart-window__bottom">
	<div class="cart-window__totals">
		<div>
			Всего товаров: <span class="cart-window__total-count">18</span>
		</div>
		<div>
			Общая сумма без учета доставки:
			<span class="cart-window__total">3 300 <span class="cart-window__currency">грн</span></span>
		</div>
	</div>
	<div class="cart__main-buttons">
		<button class="cart__back-btn js-cart-close">Продолжить покупки</button>
		<a href="cart.html" class="cart__order-btn">Оформить заказ</a>
	</div>
</div>
</div>
<%- comment.php('Если корзина пуста') %>
<!--<div class="cart-window__content">-->
	<!--<div class="cart-window__top">-->
		<!--<div class="cart-window__title">Ваша корзина пуста</div>-->
	<!--</div>-->
<!--</div>-->
<!--<div class="cart-window__bottom">-->
	<!--<div class="cart-window__totals">-->
		<!--<div>В Вашей корзине пока нет товаров для покупки. Ни в чем себе не отказывайте!</div>-->
	<!--</div>-->
	<!--<div class="cart__main-buttons">-->
		<!--<button class="cart__back-btn cart__back-btn&#45;&#45;full js-cart-close">Продолжить покупки</button>-->
	<!--</div>-->
<!--</div>-->
<?php $order = ob_get_clean(); ?>

<?php ob_start(); ?>
<% for (let key in orders) { %>
	<%- app.widget('cart-item-small.ejs', {item: orders[key], big: true, redact: true, staticItem: true}) %>
<%	} -%>
<?php $static = ob_get_clean(); ?>

<?php echo json_encode(array(
	'success' => true,
'html' => $html,
'popup' => $popup,
'order' => $order,
'static' => $static,
'count' => 2,
'price' => '2 000',
'totalPrice' => '19 000'
));
