<%
app.setLayout('_hidden.ejs');
app.require('core.js')(app);

const {currentView, views, paths} = app.data;
const {__, media, comment} = app.module;

let orders =  [
	{
		name: 'Комбинезон',
		code: '784837',
		price: '18 000',
		count: '18',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
		sizes: [
			{
				size: '',
				count: ''
			}
		]
	}, {
		name: 'Комбинезон',
		code: '784837',
		price: '1 110',
		count: '1',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png'
	}
];

%>
<?php ob_start(); ?>
<%- comment.php('Если корзина не пуста') %>
<!--<div class="cart-window__content">-->
<!--<div class="cart-window__top">-->
<!--<div class="cart-window__title">Корзина</div>-->
<!--<span class="cart__clean js-cart-clean">Сбросить все</span>-->
<!--</div>-->
<!--<div>-->
<!--<% for (var i = 0; i < 1; i++) { %>-->
<!--<%- app.widget('cart-item-small.ejs', {item: orders[i], redact: true, cart: true}) %>-->
<!--<% } %>-->
<!--</div>-->
<!--</div>-->
<!--<div class="cart-window__bottom">-->
<!--<div class="cart-window__totals">-->
<!--<div>-->
<!--Всего товаров: <span class="cart-window__total-count">18</span>-->
<!--</div>-->
<!--<div>-->
<!--Общая сумма без учета доставки:-->
<!--<span class="cart-window__total">3 300 <span class="cart-window__currency">грн</span></span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="cart__main-buttons">-->
<!--<button class="cart__back-btn js-cart-close">Продолжить покупки</button>-->
<!--<a href="cart.html" class="cart__order-btn">Оформить заказ</a>-->
<!--</div>-->
<!--</div>-->
<%- comment.php('Если корзина пуста') %>

<div class="cart-window__content">
	<div class="cart-window__top">
		<div class="cart-window__title">Ваша корзина пуста</div>
	</div>
</div>
<div class="cart-window__bottom">
	<div class="cart-window__totals">
		<div>В Вашей корзине пока нет товаров для покупки. Ни в чем себе не отказывайте!</div>
	</div>
	<div class="cart__main-buttons">
		<button class="cart__back-btn cart__back-btn--full js-cart-close">Продолжить покупки</button>
	</div>
</div>

<?php $html = ob_get_clean(); ?>

<?php echo json_encode(array(
	'success' => true,
'html' => $html,
'count' => 2,
'price' => '2 000'
));



