<%
app.setLayout('_hidden.ejs');
app.require('core.js')(app);

const {currentView, views, paths} = app.data;
const {__, media, comment} = app.module;

let orders =  [
	{
		name: 'Комбинезон',
		code: '784837',
		price: '18 000',
		count: '18',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png',
		sizes: [
			{
				size: '',
				count: ''
			}
		]
	}, {
		name: 'Комбинезон',
		code: '784837',
		price: '1 110',
		count: '1',
		img: 'Carters-Boys-3-24-Months-2-Piece-Overall-Set.png'
	}
];

%>
<?php ob_start(); ?>
<div class="cart-window__content">
	<div class="cart-window__top">
		<div class="cart-window__title">Ваша корзина пуста</div>
	</div>
</div>
<div class="cart-window__bottom">
	<div class="cart-window__totals">
		<div>В Вашей корзине пока нет товаров для покупки. Ни в чем себе не отказывайте!</div>
	</div>
	<div class="cart__main-buttons">
		<button class="cart__back-btn cart__back-btn--full js-cart-close">Продолжить покупки</button>
	</div>
</div>

<?php $html = ob_get_clean(); ?>

<?php echo json_encode(array(
	'success' => true,
'html' => $html,
'count' => 0,
'price' => '2 000'
));



