<%
app.setLayout('_hidden.ejs');
app.require('core.js')(app);

const {currentView, views, paths} = app.data;
const {__, media, comment} = app.module;
%>
<?php ob_start(); ?>
<select data-rule-required="#delivery1:checked" name="city-1" class="select2 js-choose-ajax" data-placeholder="Город" style="width: 100%" data-url="hidden/delivery-np-section.php">
	<option></option>
	<option value="1">Херсон</option>
	<option value="2">Скадовск</option>
	<option value="3">Геническ</option>
</select>
<?php $city_html = ob_get_clean();?>

<?php ob_start(); ?>
<select data-rule-required="#delivery1:checked" name="section-1" class="select2" data-placeholder="Отделение" style="width: 100%">
	<option></option>
</select>
<?php $section_html = ob_get_clean(); ?>

<?php echo json_encode(array(
	'success' => true,
	'items' => array(
		array(
			'selector' => '.js-delivery-np-city',
			'html' => $city_html
		),
		array(
			'selector' => '.js-delivery-np-section',
			'html' => $section_html
		)
	)
));
die;
