<%
app.setLayout('_hidden.ejs');
app.require('core.js')(app);

const {currentView, views, paths} = app.data;
const {__, media, comment} = app.module;
%>
<?php ob_start(); ?>
<select data-rule-required="#delivery1:checked" name="section-1" class="select2" data-placeholder="Отделение" style="width: 100%">
	<option></option>
	<option value="1">Отделение 1</option>
	<option value="2">Отделение 2</option>
	<option value="3">Отделение 3</option>
</select>
<?php $html = ob_get_clean(); ?>

<?php echo json_encode(array(
	'success' => true,
	'items' => array(
		array(
			'selector' => '.js-delivery-np-section',
			'html' => $html
		)
	)
));
die;
