<%
	/** вход для оптовиков
	 * @name login-wholesale-popup.ejs */

	/** установка лейаута всплывающего окна */
	app.setLayout('_hidden.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);
	const {media} = app.module;

%>

<div class="popup login-popup">
	<div class="grid">
		<div class="gcell--24 gcell--ms-12 login-popup__left">
			<div class="login-popup__tab wstabs-block is-active" data-wstabs-ns="group-2" data-wstabs-block="1">
				<div class="login-popup__form-wrap">
					<p class="login-popup__title">ВОЙТИ КАК ОПТОВИК</p>
					<form class="login-form js-form js-init" data-ajax="hidden/response/demo.json">
						<label class="cart-registration__label">
							<input type="email" id="enter-mail" required name="enter-mail" placeholder="E-mail" class="cart-registration__input simple-input">
						</label>
						<label class="cart-registration__label">
							<input type="password" id="password" required name="password"
								   placeholder="Пароль" class="cart-registration__input simple-input"
								   data-rule-minlength="6" >
						</label>
						<div class="login-form__controls-wrap">
							<label class="login-form__checkbox-label">
								<input type="checkbox" name="remember" id="remember" class="cart-registration__checkbox">
								<span class="cart-registration__checkbox-text">Запомнить меня</span>
							</label>
							<span class="wstabs-button login-form__toggle" data-wstabs-ns="group-2" data-wstabs-button="2">Восстановить пароль</span>
						</div>
						<button class="login-popup__submit login-popup__submit--gray">Войти</button>
					</form>
				</div>
			</div>
			<div class="login-popup__tab wstabs-block" data-wstabs-ns="group-2" data-wstabs-block="2">
				<p class="login-popup__title">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</p>
				<p class="login-popup__password-title">Вы можете выбрать способ восстановления</p>
				<form class="js-form js-init"  data-ajax="hidden/response/demo.json">
					<label class="cart-registration__label">
						<input required type="email" id="mail" name="mail" placeholder="E-mail" class="cart-registration__input simple-input">
					</label>
					<p class="login-popup__chose-title">или</p>
					<label class="cart-registration__label">
						<input type="tel" id="tel" name="tel" placeholder="+38(0**) ***-**-**"
							   data-rule-phoneua="true" data-phonemask="+38(0**) ***-**-**"
							   data-phonemask-android="+38(0**) ***-**-**"
							   class="cart-registration__input simple-input js-init">
						<span class="required-dot"></span>
						<label id="tel-error" class="has-error" for="tel" style="display: none"></label>
					</label>
					<span class="wstabs-button cart-info__toggle enter is-active" data-wstabs-ns="group-2" data-wstabs-button="1">Войти с помощью логина и пароля</span>
					<button class="login-popup__submit login-popup__submit--gray">Отправить</button>
				</form>
			</div>
		</div>
		<div class="gcell--24 gcell--ms-12 login-popup__right">
			<p class="login-popup__title">РЕГИСТРАЦИЯ ОПТОВИКА </p>
			<form class="registration-form js-form js-init" data-ajax="hidden/response/demo.json">
				<div class="cart-registration__info">
					<label class="cart-registration__label">
						<input type="text" id="reg-name" required name="reg-name" placeholder="Имя"
							   class="cart-registration__input cart-registration__input--white simple-input"
							   data-rule-word="true" data-rule-minlength="2" >
						<span class="required-dot"></span>
						<label id="reg-name-error" class="has-error" for="reg-name" style="display: none"></label>
					</label>
					<label class="cart-registration__label">
						<input type="text" id="reg-surname" required name="reg-surname" placeholder="Фамилия менеджера"
							   class="cart-registration__input cart-registration__input--white simple-input"
							   data-rule-word="true" data-rule-minlength="2" >
						<span class="required-dot"></span>
						<label id="reg-surname-error" class="has-error" for="reg-surname" style="display: none"></label>
					</label>
					<label class="cart-registration__label">
						<input type="email" id="reg-mail" name="reg-mail" required placeholder="E-mail" class="cart-registration__input cart-registration__input--white simple-input">
						<span class="required-dot"></span>
						<label id="reg-mail-error" class="has-error" for="reg-mail" style="display: none"></label>
					</label>
					<label class="cart-registration__label">
						<input type="tel" id="tel" name="tel" data-name="tel" placeholder="+38(0**) ***-**-**"
							   required data-rule-phoneua="true"
							   data-phonemask="+38(0**) ***-**-**"
							   data-phonemask-android="+38(0**) ***-**-**"
							   class="cart-registration__input cart-registration__input--white simple-input js-init">
						<span class="required-dot"></span>
						<label id="tel-error" class="has-error" for="tel" style="display: none"></label>
					</label>
					<label class="cart-registration__label">
						<input type="password" id="reg-password" required name="reg-password"
							   placeholder="Пароль ( мин. 6 символов)" data-rule-minlength="6"
							   class="cart-registration__input cart-registration__input--white simple-input" >
						<span class="required-dot"></span>
						<label id="reg-password-error" class="has-error" for="reg-password" style="display: none"></label>
					</label>
					<label class="cart-registration__label">
						<input type="password" id="reg-password-repeat" required name="reg-password-repeat"
							   placeholder="Пароль еще раз ( мин. 6 символов)" data-rule-minlength="6"
							   class="cart-registration__input cart-registration__input--white simple-input"
							   data-rule-equalTo="[name='reg-password']" >
						<span class="required-dot"></span>
						<label id="reg-password-repeat-error" class="has-error" for="reg-password-repeat" style="display: none"></label>
					</label>
					<label class="cart-registration__checkbox-label ">
						<input required type="checkbox" name="remember" id="remember" class="cart-registration__checkbox">
						<span class="cart-registration__checkbox-text cart-registration__checkbox-text--block cart-registration__checkbox-text--white">Я согласен с <a href="#">условиями использования</a> и на обработку персональных данных </span>
						<label id="remember-error" class="has-error" for="remember" style="display: none;">Этот параметр обязателен</label>
					</label>
					<button class="login-popup__submit login-popup__submit--yellow">Отправить заявку</button>
				</div>
			</form>
		</div>
	</div>
</div>
