<%
	/**
	 * @name more-items.ejs */

	/** установка лейаута всплывающего окна */
	app.setLayout('_hidden.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);
	const {media} = app.module;
	const {currentView, products} = app.data;

	let items = products.new;

%>

<% for (let key in items) { %>
<%- app.widget('product-item-small.ejs', {item: items[key]}) %>
<%	} -%>
