<%
	/**
	 * @name more-reviews.ejs */

	/** установка лейаута всплывающего окна */
	app.setLayout('_hidden.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);
	const {media} = app.module;
	const {currentView, products} = app.data;

%>

<div class="product__reviews-item js-review" data-id="111">
	<p class="product__reviews-title-wrap">
		<span class="product__reviews-title">Евгения</span>
		<span class="product__reviews-date">( 2 дня назад )</span>
	</p>
	<p class="product__reviews-text">
		Товар великолепен, писать много лень, но если приглянулось хотя бы чуть-чуть - берите
		и не пожалете
	</p>
	<div class="product__reviews-likes">
		<div class="product__reviews-like js-review-like" data-url="hidden/response/like.json">
											<span class="product__reviews-icon like">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
			<span class="js-like-count">15</span>
		</div>
		<div class="product__reviews-dislike js-review-dislike" data-url="hidden/response/dislike.json">
											<span class="product__reviews-icon dislike">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-down-icon') %>"></use>
												</svg>
											</span>
			<span class="js-dislike-count">2</span>
		</div>
	</div>
</div>
<div class="product__reviews-item">
	<p class="product__reviews-title-wrap">
		<span class="product__reviews-title">Евгутдия</span>
		<span class="product__reviews-date">( 2 дня назад )</span>
	</p>
	<p class="product__reviews-text">
		Товар великолепен, писать много лень, но если приглянулось хотя бы чуть-чуть - берите
		и не пожалетеТовар великолепен, писать много лень, но если приглянулось хотя бы чуть-чуть - берите
		и не пожалетеТовар великолепен, писать много лень, но если приглянулось хотя бы чуть-чуть - берите
		и не пожалете
	</p>
	<div class="product__reviews-likes">
		<div class="product__reviews-like">
											<span class="product__reviews-icon like">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
			<span>15</span>
		</div>
		<div class="product__reviews-dislike">
											<span class="product__reviews-icon dislike">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
			<span>2</span>
		</div>
	</div>
</div>
<div class="product__reviews-item">
	<p class="product__reviews-title-wrap">
		<span class="product__reviews-title">Евгения</span>
		<span class="product__reviews-date">( 2 дня назад )</span>
	</p>
	<p class="product__reviews-text">
		Товар великолепен, писать много лень, но если приглянулось хотя бы чуть-чуть - берите
		и не пожалете
	</p>
	<div class="product__reviews-likes">
		<div class="product__reviews-like">
											<span class="product__reviews-icon like">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
			<span>15</span>
		</div>
		<div class="product__reviews-dislike">
											<span class="product__reviews-icon dislike">
												<svg>
													<use xlink:href="<%- media('assets/images/sprites/icons.svg#hand-icon') %>"></use>
												</svg>
											</span>
			<span>2</span>
		</div>
	</div>
</div>
