<%
	/** оставить отзыв
	 * @name review-popup.ejs */

	/** установка лейаута всплывающего окна */
	app.setLayout('_hidden.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);
	const {media} = app.module;

%>

<div class="popup review-popup">
	<div class="review-popup__inner">
		<p class="review-popup__title">НАПИСАТЬ ОТЗЫВ</p>
		<p class="review-popup__sub-title">
			Пожалуйста оставте ваш отзыв. <br>
			После модерации он будет опубликован на сайте.
		</p>
		<form class="js-form js-init" data-ajax="hidden/response/demo.json">
			<label class="cart-registration__label">
				<input type="text" id="reg-name" required name="reg-name" placeholder="Ваше имя"
					   class="cart-registration__input simple-input"
					   data-rule-word="true" data-rule-minlength="2" >
			</label>
			<label class="cart-registration__label">
				<input type="tel" id="tel" name="tel" data-name="tel"
					   placeholder="+38(0**) ***-**-**"
					   required data-rule-phoneua="true"
					   data-phonemask="+38(0**) ***-**-**"
					   data-phonemask-android="+38(0**) ***-**-**"
					   class="cart-registration__input simple-input js-init">
			</label>
			<label class="cart-registration__label contacts__data-label--textarea">
				<textarea class="review-popup__textarea" placeholder="Ваш отзыв" name="contacts-msg" id="contacts-msg" cols="30" rows="10"></textarea>
			</label>
			<label class="login-form__checkbox-label">
				<input required type="checkbox" name="remember" id="remember" class="cart-registration__checkbox">
				<span class="cart-registration__checkbox-text">Я согласен на обработку персональных данных</span>
				<label id="remember-error" class="has-error" for="remember" style="display: none;">Этот параметр обязателен</label>
			</label>
			<button class="login-popup__submit login-popup__submit--yellow">Отправить</button>
		</form>
	</div>
</div>
