<%
	/** таблица размеров
	 * @name table-size.ejs */

	/** установка лейаута всплывающего окна */
	app.setLayout('_hidden.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);
	const {media} = app.module;

	let titles = ['Метка', 'от 0-1 года', 'от 1-2 лет', 'от 2-3 года', 'от 3-4 лет', 'от 4-5 лет'];

	let items = [
		['а. Окружность головы', '23 см', '40 см', '45 см', '50 см', '56 см'],
		['b. Длина тела', '23 см', '40 см', '45 см', '50 см', '56 см'],
		['c. Обхват груди', '56 см', '45 см', '40 см', '50 см', '45 см'],
		['d. Длина рукава', '89 см', '40 см', '45 см', '50 см', '56 см'],
		['e. Длина от плеч до пола', '122 см', '55 см', '30 см', '50 см', '56 см'],
		['f. Длина ног', '122 см', '55 см', '30 см', '50 см', '56 см'],
		['g. Обхват талии', '188 см', '40 см', '45 см', '50 см', '56 см']
	];

%>

<div class="popup table-size__popup">
	<div class="table-size__title-wrap">
		<p class="table-size__title">ТАБЛИЦА РАЗМЕРОВ</p>
		<p class="table-size__text">Единица измерения: <span class="table-size__sm">сантиметры</span></p>
	</div>
	<div class="table-size__content-wrap">
		<div class="table-size__img-wrap">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 133 317">
				<image width="376" height="1013" opacity="0.5" xlink:href="<%- media('assets/images/size-image.png') %>" transform="matrix(0.3112 0 0 0.3129 0 -1.464844e-005)"></image>
				<g id="a" transform="translate(6.000000, 18.000000)">
					<text transform="matrix(1 0 0 1 49.7253 17.5047)" fill="#343434" font-family="Arial" font-size="18px">a</text>
					<path id="Line-2" fill="none" stroke="#E1323D" stroke-linecap="round" stroke-dasharray="5,3" d="M0.1,22.5h106.4"/>
				</g>
				<g id="b" transform="translate(2.000000, 141.000000)">
					<text transform="matrix(1 0 0 1 0.6145 50.4014)" fill="#343434" font-family="ArialMT" font-size="18px">b</text>
					<path fill="none" stroke="#E1323D" stroke-linecap="round" stroke-dasharray="5,4" d="M18.2,0.6v31v17.6V77"/>
				</g>
				<g id="c" transform="translate(32.000000, 144.000000)">
					<text transform="matrix(1 0 0 1 22.6368 17.7723)" fill="#343434" font-family="ArialMT" font-size="18px">c</text>
					<path fill="none" stroke="#E1323D" stroke-linecap="round" stroke-dasharray="5,4" d="M0.2,27.5c0,0,18.3,0,54.9,0"/>
				</g>
				<g id="d" transform="translate(87.000000, 139.000000)">
					<text transform="matrix(1 0 0 1 13 17)" fill="#343434" font-family="ArialMT" font-size="18px">d</text>
					<path fill="none" stroke="#E1323D" stroke-linecap="round" stroke-dasharray="5,4" d="M0.4,1c7.2,16,11.9,30.7,14.3,44s3.5,32.5,3.4,57.5"/>
				</g>
				<g id="e" transform="translate(118.000000, 131.000000)">
					<text transform="matrix(1 0 0 1 5.741 97.9963)" fill="#343434" font-family="Arial" font-size="18px">e</text>
					<path fill="none" stroke="#E1323D" stroke-linecap="round" stroke-dasharray="5,4" d="M0.5,0.2v185.2"/>
				</g>
				<g id="f" transform="translate(17.000000, 235.000000)">
					<text transform="matrix(1 0 0 1 0 41)" fill="#343434" font-family="ArialMT" font-size="18px">f</text>
					<path fill="none" stroke="#E1323D" stroke-linecap="round" stroke-dasharray="5,4" d="M13.5,0.1v76.4"/>
				</g>
				<g id="g" transform="translate(32.000000, 184.000000)">
					<text transform="matrix(1 0 0 1 23 17)" fill="#343434" font-family="Arial" font-size="18px">g</text>
					<path fill="#D8D8D8" stroke="#E1323D" stroke-linecap="round" stroke-dasharray="5,4" d="M0.2,28.5c0,0,18.3,0,54.9,0"/>
				</g>
			</svg>
		</div>
		<div class="table-size-wrap">
			<table class="table-size">
				<tr class="table-size__head">
					<% titles.forEach(item => { -%>
					<td><%- item %></td>
					<% }); -%>
				</tr>
				<% items.forEach(tr => { -%>
				<tr>
					<% tr.forEach(td => { -%>
					<td><%- td %></td>
					<% }); -%>
				</tr>
				<% }); -%>
			</table>
		</div>
	</div>
</div>
