<%
	/** попап при успешном заполнении формы
	 * @name thank-popup.ejs */

	/** установка лейаута всплывающего окна */
	app.setLayout('_hidden.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

%>

<div class="popup thank-popup" id="thank-popup">
	<p class="thank-popup__text"> </p>
</div>
