<%
/** статья
 * @name articles-item.ejs */

// выгружаем инструменты
const {media} = app.module;
const {item} = app.entry;

%>

<div class="articles-item grid">
	<div class="gcell--md-12 articles-item__img-wrap">
		<a href="<%- item.link %>" class="articles-item__img-link">
			<img src="<%- media('assets/images/' + item.img ) %>" alt class="lozad" >
		</a>
	</div>
	<div class="gcell--24 gcell--md-12">
		<div class="articles-item__text-box">
			<div class="articles-item__title-box">
				<p class="articles-item__title">
					<a href="<%- item.link %>" class="articles-item__link"><%- item.title %></a>
				</p>
				<p class="articles-item__date"><%- item.date %></p>
		</div>
			<p class="articles-item__text"><%- item.text %> </p>
		</div>
	</div>
</div>

