<%
/** карточка товара для каталога
 * @name cart-item-small.ejs */

// выгружаем инструменты
const {media} = app.module;
const {item, big, redact, cart, order, staticItem, small} = app.entry;

let sizes = item.sizes;

%>

<div class="cart-item__wrap">
	<div class="cart-item js-cart-item" data-id="123" data-url="./hidden/cart-update.php" <%- staticItem ? 'data-static="true"' : '' %>>
		<div class="cart-item__inner">
			<div class="cart-item__img-box">
				<div class="cart-item__img-wrap">
					<a href="#">
						<img class="cart-item__img lozad" src="<%- media('assets/images/' + item.img ) %>" alt >
					</a>
				</div>
			</div>
			<div class="cart-item__info-box">
				<div class="cart-item__info-item cart-item__info-item--first <%- big ? 'big-item' : '' %>">
					<p class="cart-item__code-box">Код товара: <span class="cart-item__code"><%- item.code %></span></p>
					<p class="cart-item__name"><%- item.name %></p>
					<div class="cart-item__color-box">
						<span>Цвет:</span>
						<span class="cart-item__color" style="background-color: #008000"></span>
					</div>
					<% if (!order) { %>
					<div class="cart-item__size-box">
						<span>Размер:</span>
						<div class="size__item">
							<span class="size__text">86</span>
							<span class="size__count">6</span>
						</div><div class="size__item">
							<span class="size__text">86</span>
							<span class="size__count">6</span>
						</div><div class="size__item">
							<span class="size__text">86</span>
							<span class="size__count">6</span>
						</div><div class="size__item">
							<span class="size__text">86</span>
							<span class="size__count">6</span>
						</div><div class="size__item">
							<span class="size__text">86</span>
							<span class="size__count">6</span>
						</div>
						<div class="size__item">
							<span class="size__text">86</span>
							<span class="size__count">6</span>
						</div>
						<div class="size__item">
							<span class="size__text">86</span>
							<span class="size__count">6</span>
						</div>
						<div class="size__item">
							<span class="size__text">86</span>
							<span class="size__count">6</span>
						</div>
					</div>
					<% } %>
				</div>
				<% if (big || order) { %>
				<div class="cart-item__info-item cart-item__info-item--second big-item">
					<span>Цена за <%- order ? 'шт' : 'единицу' %>:</span>
					<p class="cart-item__price">
						<span><%- item.price %></span>
						<span>грн</span>
					</p>
				</div>
				<% }
				 if (!order){ %>
				<div class="cart-item__info-item <%- big ? 'cart-item__info-item--third big-item' : 'cart-item__info-item--second' %>">
					<% if (cart) { %>
					<span>Единиц товара:</span>
					<div class="product__counter">
						<button class="product__counter-btn minus js-cart-minus">
							-
						</button>
						<input type="tel" class="product__counter-input js-cart-input" value="6">
						<button class="product__counter-btn plus js-cart-plus">
							+
						</button>
					</div>
					<% } else { %>
					<span>Единиц товара:</span>
					<p class="cart-item__count"><%- item.count %></p>
					<% } %>
				</div>
				<% } %>
				<div class="cart-item__info-item cart-item__info-item--third <%- big ? 'big-item' : '' %> <%- small ? 'small-item' : '' %>">
					<span>Сумма:</span>
					<p class="cart-item__price">
						<span><%- item.price %></span>
						<span>грн</span>
					</p>
				</div>
				<% if (redact) { %>
				<div class="cart-item__info-item cart-item__info-item--fourth big-item">
					<% if (cart || order) { %>
						<span class="cart-item__redact js-init" data-mfp="ajax" data-mfp-src="<%- order ? 'hidden/cart-sizes-wholesale.php' : 'hidden/cart-sizes.php' %>">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#pencil-icon') %>"></use>
							</svg>
						</span>
					<% } else { %>
						<span class="cart-item__redact js-cart-redact" data-url="hidden/cart-update.php">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#pencil-icon') %>"></use>
							</svg>
						</span>
					<% } %>
					<div class="cart-item__redact" >
						<span class="js-cart-remove" data-url="<%- order ? 'hidden/cart-order.php' : 'hidden/cart-update.php' %>">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#garbage-icon') %>"></use>
							</svg>
						</span>
						<div class="cart-item__remove-confirm js-remove-confirm">
							<p class="cart-item__confirm-title">Удалить?</p>
							<div>
								<button class="yellow-border-btn cart-item__confirm-btn js-confirm">Да</button>
								<button class="yellow-btn cart-item__confirm-btn js-unconfirm">Нет</button>
							</div>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
		<% if (order) { %>
			<div class="cart-item__size-box cart-item__size-box--order">
				<% sizes.forEach(item => { -%>
				<div class="size__item">
					<span class="size__text"><%- item.size %></span>
					<span class="size__count"><%- item.count %></span>
				</div>
				<% }); %>
			</div>
		<% } %>
	</div>
</div>

