<%
/** фильтры для каталога
 * @name catalog-filters.ejs */

// выгружаем инструменты
const {media} = app.module;
const {mobile, chosen} = app.entry;

let filters = [
	{
		name: 'Цвет',
		color: true
	}, {
		name: 'Производство'
	}, {
		name: 'Возраст'
	}, {
		name: 'Размер',
		size: true
	}
]

%>

<% if(mobile) { %>
<ul class="">
	<li class="catalog-filters__item--search">
		<form class="js-form js-init filters__search-form" data-ajax="./hidden/response/search.json">
			<span class="filters__search-icon">
				<svg>
					<use xlink:href="<%- media('assets/images/sprites/icons.svg#search-icon') %>"></use>
				</svg>
			</span>
			<input type="text" class="simple-input filters__search-input" placeholder="Поиск по каталогу">
		</form>
	</li>
	<% filters.forEach(item => { -%>
	<li class="catalog-filters__item filters__item">
		<span class="filters__item-top open">
			<div>
				<span class="filters__item-name"><%- item.name %></span>
				<span class="filters__item-chosen">Любой</span>
			</div>
			<button class="filters__toggle"></button>
		</span>
		<span class="filters__child-wrap">
			<% if(item.color) { %>
			<a href="catalog-with-filters.html" class="filters__child-color" style="background-color: #555987"></a>
			<a href="catalog-with-filters.html" class="filters__child-color" style="background-color: #555987"></a>
			<a href="catalog-with-filters.html" class="filters__child-color <%- chosen ? 'active' : '' %>" style="background-color: #555987"></a>
			<a href="catalog-with-filters.html" class="filters__child-color" style="background-color: #555987"></a>
			<a href="catalog-with-filters.html" class="filters__child-color" style="background-color: #555987"></a>
			<%	} else if(item.size) { -%>
				<a href="catalog-with-filters.html" class="product__size-item">
					<span class="product__size-text">86</span>
				</a>
				<a href="catalog-with-filters.html" class="product__size-item">
					<span class="product__size-text">86</span>
				</a>
				<a href="catalog-with-filters.html" class="product__size-item <%- chosen ? 'active' : '' %>">
					<span class="product__size-text">86</span>
				</a>
				<a href="catalog-with-filters.html" class="product__size-item">
					<span class="product__size-text">86</span>
				</a>
				<a href="catalog-with-filters.html" class="product__size-item">
					<span class="product__size-text">86</span>
				</a>
				<a href="catalog-with-filters.html" class="product__size-item">
					<span class="product__size-text">86</span>
				</a>
			<%	}  else { -%>
			<a href="catalog-with-filters.html" class="filters__child-link <%- chosen ? 'active' : '' %>">Собственное производство</a>
			<a href="catalog-with-filters.html" class="filters__child-link">Турция</a>
			<a href="catalog-with-filters.html" class="filters__child-link">Любой</a>
			<%	} -%>
		</span>
	</li>
	<% }); -%>
	<li class="catalog-filters__item">
		<form class="js-form filters__price-form js-form js-init" data-ajax="./hidden/response/price-filter.json">
			<div class="filters__price-title">
			<span class="filters__price-icon">
				<svg>
					<use xlink:href="<%- media('assets/images/sprites/icons.svg#price-icon') %>"></use>
				</svg>
			</span>
				<span>Цена</span>
			</div>
			<div class="filters__price-group">
				<p class="filters__price-text">Потяните за ползунки</p>
				<div class="filters__price-wrap">
					<input type="tel" class="filters__price-input min-cost" placeholder="От" <%- chosen ? 'value="250"' : '' %>>
					<input type="tel" class="filters__price-input max-cost" placeholder="До" <%- chosen ? 'value="1250"' : '' %>>
				</div>
				<div class="price-slider__wrap">
					<div class="price-slider" data-min="150" data-max="2500" <%- chosen ? 'data-start="250" data-end="1250"' : '' %>></div>
				</div>
			</div>
			<button class="filters__price-submit filters__price-submit--mob">применить</button>
		</form>
	</li>
</ul>
<%	} else { -%>
<div class="catalog-filters__wrap">
	<div class="filters__search">
		<form class="js-form filters__search-form js-init" data-ajax="./hidden/response/search.json">
			<span class="filters__search-icon">
				<svg>
					<use xlink:href="<%- media('assets/images/sprites/icons.svg#search-icon') %>"></use>
				</svg>
			</span>
			<input type="text" class="simple-input filters__search-input" placeholder="Поиск по каталогу">
		</form>
	</div>
	<div class="filters__items">
		<% filters.forEach(item => { -%>
		<div class="filters__item">
			<div class="filters__item-top open">
				<div>
					<span class="filters__item-name"><%- item.name %></span>
					<span class="filters__item-chosen">Любой</span>
				</div>
				<button class="filters__toggle"></button>
			</div>
			<div class="filters__child-wrap">
				<% if(item.color) { %>
					<a href="catalog-with-filters.html" class="filters__child-color" style="background-color: #555987"></a>
					<a href="catalog-with-filters.html" class="filters__child-color" style="background-color: #555987"></a>
					<a href="catalog-with-filters.html" class="filters__child-color <%- chosen ? 'active' : '' %>" style="background-color: #555987"></a>
					<a href="catalog-with-filters.html" class="filters__child-color" style="background-color: #555987"></a>
					<a href="catalog-with-filters.html" class="filters__child-color" style="background-color: #555987"></a>
				<%	} else if(item.size) { -%>
				<div class="filters__child-sizes">
					<a href="catalog-with-filters.html" class="product__size-item  product__size-item--link <%- chosen ? '' : 'active' %>">
						<span class="product__size-text">86</span>
					</a>
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link">
						<span class="product__size-text">86</span>
					</a>
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link">
						<span class="product__size-text">86</span>
					</a>
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link">
						<span class="product__size-text">86</span>
					</a>
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link">
						<span class="product__size-text">86</span>
					</a>
				</div>
				<div class="filters__child-sizes">
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link">
						<span class="product__size-text">86</span>
					</a>
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link">
						<span class="product__size-text">86</span>
					</a>
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link <%- chosen ? 'active' : '' %>">
						<span class="product__size-text">86</span>
					</a>
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link">
						<span class="product__size-text">86</span>
					</a>
					<a href="catalog-with-filters.html" class="product__size-item product__size-item--link">
						<span class="product__size-text">86</span>
					</a>
				</div>
				<%	}  else { -%>
					<a href="catalog-with-filters.html" class="filters__child-link <%- chosen ? 'active' : '' %>">Собственное производство</a>
					<a href="catalog-with-filters.html" class="filters__child-link">Турция</a>
					<a href="catalog-with-filters.html" class="filters__child-link <%- chosen ? '' : 'active' %>">Любой</a>
				<%	} -%>
			</div>
		</div>
		<% }); -%>
	</div>
	<div class="filters__price-box">
		<div class="filters__price-title">
			<span class="filters__price-icon">
				<svg>
					<use xlink:href="<%- media('assets/images/sprites/icons.svg#price-icon') %>"></use>
				</svg>
			</span>
			<span>Цена</span>
		</div>
		<form class="filters__price-form js-form js-init" data-ajax="./hidden/response/price-filter.json">
			<div class="filters__price-group">
				<p class="filters__price-text">Потяните за ползунки</p>
				<div class="filters__price-wrap">
					<input type="text" name="min-cost" id="min-cost" class="filters__price-input min-cost" placeholder="От" <%- chosen ? 'value="250"' : '' %>>
					<input type="text" name="max-cost" id="max-cost" class="filters__price-input max-cost" placeholder="До" <%- chosen ? 'value="1250"' : '' %>>
				</div>
				<div class="price-slider__wrap">
					<div class="price-slider" data-min="150" data-max="2500" <%- chosen ? 'data-start="250" data-end="1250"' : '' %>></div>
				</div>
			</div>
			<button class="filters__price-submit">применить</button>
		</form>
	</div>
</div>
<%	} -%>


