<%
/** блок с категориями товаров на главной странице
 * @name category-block.ejs */

// выгружаем инструменты
const {media} = app.module;

let items = [
	{
	    title: 'Мальчикам',
		link: '#',
		img: 'shutterstock_774976798.png'
	}, {
	    title: 'Девочкам',
		link: '#',
		img: 'img-girl.png'
	}, {
	    title: 'Новорожденным',
		link: '#',
		img: 'baby.png'
	}, {
	    title: 'Игрушки',
		link: '#',
		img: 'toys.png'
	}
]

%>

<div class="category-block__wrap">
	<div class="container">
		<p class="category-block__title main-title">Категории товаров </p>
		<div class="category-block grid">
			<% items.forEach(item => { -%>
			<div class="category-block__item-wrap gcell--24 gcell--sm-12 gcell--md-6" >
				<a href="<%- item.link %>" class="category-block__item" style="background-image: url(<%- media('assets/images/' + item.img ) %>)">
					<p class="category-block__item-title"><%- item.title %></p>
				</a>
			</div>
			<% }); -%>
		</div>
	</div>
</div>
