<%
/**
 * @name contacts-item.ejs */

// выгружаем инструменты
const {media} = app.module;
const {item} = app.entry;

%>

<div class="contacts-item grid">
	<div class="contacts-item__top-wrap" data-index="<%- item.index %>">
		<div class="container">
			<div class="contacts-item__top">
				<div class="contacts-item__address-box">
					<p class="contacts-item__name"><%- item.name %></p>
					<p class="contacts-item__address"><%- item.address %></p>
				</div>
				<div class="contacts-item__phones-box">
					<a href="tel:+222222222" class="contacts-item__phone"><%- item.phone1 %></a>
					<a href="tel:+222222222" class="contacts-item__phone"><%- item.phone2 %></a>
				</div>
				<div class="contacts-item__schedule-box">
					<div class="contacts-item__schedule-item">
						<span class="_medium">Пн-Пт.</span>
						<span>9:00-19:00</span>
					</div>
					<div class="contacts-item__schedule-item">
						<span class="_medium">Сб.</span>
						<span>9:00-19:00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contacts-item__bottom">
		<div class="map" id="map" data-lat="50.403727" data-lng="30.526416"></div>
	</div>
</div>

