<%
	/** подвал сайта
	 * @name footer.ejs */

	// выгружаем инструменты
	const {media} = app.module;
	const {subscribe} = app.entry;

	let main = [
			{
				link: '#',
				title: 'Мальчикам'
			}, {
				link: '#',
				title: 'Девочкам'
			}, {
				link: '#',
				title: 'Новорожденным'
			}, {
				link: '#',
				title: 'Игрушки'
			}, {
				link: '#',
				title: 'Акции и скидки'
			}, {
				link: '#',
				title: 'Оптовикам'
			}
		];
	let client = [
			{
				link: '#',
				title: 'О нас'
			}, {
				link: '#',
				title: 'Статьи'
			}, {
				link: '#',
				title: 'Помощь'
			}
		];
%>

<div class="footer <%- subscribe ? 'subscribe' : '' %>">
	<div class="footer__top">
		<div class="container footer__top-content">
			<div class="footer__socials-wrap">
				<div class="footer__logo">
					<%- app.widget('logo.ejs') %>
					<p class="footer-logo__title">Магазин детских товаров</p>
				</div>
				<div class="footer__socials">
					<a href="#" class="footer__social-item" target="_blank">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#fb-icon') %>"></use>
						</svg>
					</a>
					<a href="#" class="footer__social-item" target="_blank">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#twitter-icon') %>"></use>
						</svg>
					</a>
					<a href="#" class="footer__social-item" target="_blank">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#insta-icon') %>"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="footer__catalog">
				<p class="footer-menu__title">Каталог</p>
				<ul class="footer-menu">
					<% main.forEach(item => { -%>
					<li class="footer-menu__item">
						<a href="#" class="footer-menu__link"><%- item.title %></a>
					</li>
					<% }); -%>
				</ul>
			</div>
			<div class="footer__buy">
				<p class="footer-menu__title">Покупателю</p>
				<div class="footer__buy-menu">
					<ul class="footer-menu">
						<% client.forEach(item => { -%>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link"><%- item.title %></a>
						</li>
						<% }); -%>
					</ul>
					<ul class="footer-menu">
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Доставка и оплата</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Контакты</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__contacts">
				<p class="footer-menu__title">Консультации</p>
				<a class="footer__phone" href="tel:+999999999">0-800-500-300</a>
				<span class="footer__callback">Перезвонить?</span>
				<a href="mailto:babykroha@gmail.com" class="footer__mail">babykroha@gmail.com</a>
				<span class="footer__schedule">Каждый день с <span class="yellow-color">9:00</span>-<span class="yellow-color">18:00</span></span>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container footer-bottom__content">
			<div >
				<p>© 2018 Babykroha - официальный интернет-магазин детских товаров. Все права защищены</p>
			</div>
			<div >
				<span>Проектирование и создание сайта</span>
				<a href="#" target="_blank" class="wezom-link">
					<svg>
						<use xlink:href="<%- media('assets/images/sprites/icons.svg#icon-wezom') %>"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>
