<%
	/** шапка сайта
	 * @name header.ejs */

	// выгружаем инструменты
	const {currentView, views, menu} = app.data;
	const {media} = app.module;

	let mainMenu = menu.main;
%>

<ul class="header-menu">
	<li class="header-menu__item child">
		<a href="#" class="header-menu__link child">
			<span>Мальчикам</span>
		</a>
		<div class="header-menu__child-wrap">
			<div class="header-menu__child-box">
				<div class="container header-menu__child-content header-menu__child-content--boys" style="background-image: url(<%- media('assets/images/boys-menu.png') %>)">
					<div class="header-menu__child-years">
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>От 0 до 1 года</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>От 2 до 3 лет</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>От 2 до 3 лет</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>От 4 до 5 лет</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="header-menu__child-lists">
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Верхняя одежда</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Комбинезоны</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Куртки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Полукомбинезоны</span>
								</a>
							</li>
						</ul>
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Головные уборы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Шапки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Бейсболки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Перчатки, рукавицы</span>
								</a>
							</li>
						</ul>
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Одежда</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Брюки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Джинсы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Водолазки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Гольфы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Костюмы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Майки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Нижнее белье</span>
								</a>
							</li>

								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Носки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Рубашки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Толстовки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Футболки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Шорты</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Бриджи</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Свитера</span>
									</a>
								</li>
							<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Джемпера</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Пижамы</span>
									</a>
								</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="header-menu__item child">
		<a href="#" class="header-menu__link child">
			<span>Девочкам</span>
		</a>
		<div class="header-menu__child-wrap">
			<div class="header-menu__child-box">
				<div class="container header-menu__child-content header-menu__child-content--girls" style="background-image: url(<%- media('assets/images/girls-menu.png') %>)">
					<div class="header-menu__child-years">
						<ul class="child-menu__list">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>От 0 до 1 года</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>От 2 до 3 лет</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>От 2 до 3 лет</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>От 4 до 5 лет</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="header-menu__child-lists">
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Верхняя одежда</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Комбинезоны</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Куртки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Полукомбинезоны</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Головные уборы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Шапки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Бейсболки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Перчатки, рукавицы</span>
								</a>
							</li>
						</ul>
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Одежда</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Брюки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Джинсы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Водолазки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Гольфы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Костюмы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Майки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Нижнее белье</span>
								</a>
							</li>
						</ul>
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Носки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Рубашки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Толстовки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Футболки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Шорты</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Бриджи</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Свитера</span>
								</a>
							</li>
						</ul>
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Джемпера</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Пижамы</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="header-menu__item child">
		<a href="#" class="header-menu__link child">
			<span>Новорожденным</span>
		</a>
		<div class="header-menu__child-wrap">
			<div class="header-menu__child-box">
				<div class="container header-menu__child-content header-menu__child-content--baby" style="background-image: url(<%- media('assets/images/baby-menu.png') %>)">
					<div class="header-menu__child-lists">
						<ul class="child-menu__list">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Верхняя одежда</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Комбинезоны</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Человечки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Трансформеры</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Конверты двойка</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Конверты тройка</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Конверты в коляску, санки</span>
								</a>
							</li>
						</ul>
						<ul class="child-menu__list">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Головные уборы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Шапки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Повязки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Чепчики</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Панамы</span>
								</a>
							</li>
						</ul>
						<ul class="child-menu__list">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main child-menu__list-link--wide">
									<span>Конверты для выписки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main child-menu__list-link--wide">
									<span>Одеяла</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main child-menu__list-link--wide">
									<span>Одеяла</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main child-menu__list-link--wide">
									<span>Крыжмы</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main child-menu__list-link--wide">
									<span>Полотенца</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main child-menu__list-link--wide">
									<span>Пеленки</span>
								</a>
							</li>
						</ul>
						<ul class="child-menu__list child-menu__list--flex">
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link child-menu__list-link--main">
									<span>Одежда</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Боди</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Человечки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Ползунки</span>
								</a>
							</li>
							<li class="child-menu__list-item">
								<a href="#" class="child-menu__list-link">
									<span>Колготы</span>
								</a>
							</li>

								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Распашенки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Кофты</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Костюмы</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Наборы</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Нагрудники</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Желетки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Свитера</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Кофты</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Футболки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Водолазки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Платья</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Сарафаны</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Шорты</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Бриджи</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Лосины</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Брюки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Джинсы</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Полукомбинезоны</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Пижамы</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Нижнее белье</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Комплекты на выписку</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Песочники</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Носки пипетки</span>
									</a>
								</li>
								<li class="child-menu__list-item">
									<a href="#" class="child-menu__list-link">
										<span>Царапки</span>
									</a>
								</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="header-menu__item ">
		<a href="#" class="header-menu__link ">
			<span>Игрушки</span>
		</a>

	</li>
	<li class="header-menu__item ">
		<a href="#" class="header-menu__link ">
			<span>Акции и скидки</span>
		</a>

	</li>
	<li class="header-menu__item ">
		<a href="#" class="header-menu__link ">
			<span>Оптовикам</span>
		</a>

	</li>
</ul>

