<%
	/** шапка сайта
	 * @name header.ejs */

	const {currentView, views} = app.data;

%>
<div class="section error__header">
	<div class="container error__header-content">
		<div class="header-logo">
			<a href="<%- views.index.href %>">
				<%- app.widget('logo.ejs') %>
				<p class="header-logo__title">Магазин детских товаров</p>
			</a>
		</div>
	</div>
</div>
