<%
	/** шапка сайта
	 * @name header.ejs */

	// выгружаем инструменты
	const {currentView, views, menu} = app.data;
	const {media} = app.module;

%>
<div class="header">
	<div class="header__top">
		<div class="container header__top-content">
			<div>
				<div class="menu-open__wrap">
					<button class="menu-open__button menu-open">
						<span class="menu-open__icon">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#menu-icon') %>"></use>
							</svg>
						</span>
						<span class="menu-open__text">Меню</span>
					</button>
					<button class="menu-open__button--mob mobile-menu-open">
						<span class="menu-open__icon">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#menu-icon') %>"></use>
							</svg>
						</span>
					</button>
				</div>
				<div class="header-phones__wrap js-init" data-mfp="ajax" data-mfp-src="hidden/callback-popup.php">
					<a class="header-phones__phone" href="tel:+999999999">0-800-500-300</a>
					<span class="header-phones__callback">Перезвонить?</span>
				</div>
			</div>
			<div>
				<div class="header-wholesale__wrap js-init" data-mfp="ajax" data-mfp-src="hidden/login-wholesale-popup.php">
					<span class="header-wholesale__enter">Вход для оптовиков</span>
					<span class="header-wholesale__icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#right-arrow') %>"></use>
						</svg>
					</span>
				</div>
				<div class="header-login__wrap js-init" data-mfp="ajax" data-mfp-src="hidden/login-popup.php">
					<span class="header-login__icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#lock-icon') %>"></use>
						</svg>
					</span>
					<span class="header-login__enter">Регистрация / Вход </span>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom <%- (currentView.name === views.index.name) ? 'index' : '' %>">
		<div class="container header__bottom-content">
			<div class="header-logo">
				<% if (currentView.name === views.index.name) { %>
				<span></span>
				<%- app.widget('logo.ejs') %>
				<p class="header-logo__title">Магазин детских товаров</p>
				<% } else { %>
				<a href="<%- views.index.href %>">
					<%- app.widget('logo.ejs') %>
					<p class="header-logo__title">Магазин детских товаров</p>
				</a>
				<% } %>
			</div>
			<div class="header-menu__wrap">
				<%- app.widget('header-menu.ejs') %>
			</div>
			<div class="header-controls__wrap">
				<div class="header-search__wrap">
					<button class="header-search__btn">
						<span class="search-icon">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#search-icon') %>"></use>
							</svg>
						</span>
						<span class="close-icon">
							<svg>
								<use xlink:href="<%- media('assets/images/sprites/icons.svg#close-icon-thin') %>"></use>
							</svg>
						</span>
					</button>
					<a href="profile-favorite.html" class="header-favorite__btn">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#favorite-icon') %>"></use>
						</svg>
						<span class="header-favorite__badge badge js-favorite-count">0</span>
					</a>
					<button class="header-cart__btn js-cart-open" data-url="hidden/cart-show.php">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#cart-icon') %>"></use>
						</svg>
						<span class="header-cart__badge badge js-cart-count">0</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<%- app.widget('sidebar.ejs') %>
	<%- app.widget('mobile-menu.ejs') %>
	<div class="cart-wrap">
		<div class="cart-holder">
			<button class="js-cart-close cart-close-btn">
				<svg>
					<use xlink:href="<%- media('assets/images/sprites/icons.svg#close-icon') %>"></use>
				</svg>
			</button>
			<div class="cart-inner js-cart"> </div>
		</div>
	</div>
	<div class="header__search-wrap" data-url="./hidden/response/autocomplete.json">
		<div class="header__search container">
			<p class="header__search-text">Здравствуйте, что вы ищите? </p>
			<form class="js-init js-form header__search-form" data-ajax="hidden/response/search.json">
				<input required name="search" id="search" data-rule-minlength="2" placeholder="Начните вводить фразу" autocomplete="off" type="text" class="header__search-input">
				<button class="header__search-submit">
					<svg>
						<use xlink:href="<%- media('assets/images/sprites/icons.svg#search-icon') %>"></use>
					</svg>
					<span>Найти</span>
				</button>
			</form>
			<div>
				<div class="header__search-empty">
					<p class="search-empty__title">К сожалению, по Вашему запросу ничего не найдено.</p>
					<p class="search-empty__sub-title">Пожалуйста, уточните условия поиска</p>
				</div>
				<div class="header__search-results js-init" data-scrollbar></div>
			</div>
		</div>
	</div>
</div>
