<%
/** сео текст на главной
 * @name index-seo-text.ejs */

// выгружаем инструменты
const {media} = app.module;

%>

<div class="index-seo-text">
	<div class="container grid">
		<div class="gcell--24 gcell--md-12 index-seo-text__img">
			<img src="<%- media('assets/images/Layer-2.png') %>" alt class="lozad index-seo-text__img" >
		</div>
		<div class="gcell--24 gcell--md-12 index-seo-text__content">
			<div class="text-wrapper js-init" data-scrollbar>
				<p class="main-title">ИНТЕРНЕТ МАГАЗИН ДЕТСКИХ ТОВАРОВ <span class="yellow-color">BABY</span>KROHA</p>
				<p>
					Интернет-магазин одежды BabyKroha – это отличная возможность купить детскую одежду . Вот уже более 15 лет производитель предлагает детскую одежду отличного качества на каждый день и на праздник для украинских покупателей. Великолепные платья, юбки, блузки и жакеты, брюки модных и разнообразных фасонов позволяют нашим клиенткам чувствовать себя красивыми, женственными, стильными и уверенными в себе.
				</p>
				<p>
					Интернет-магазин одежды BabyKroha – это отличная возможность купить детскую одежду . Вот уже более 15 лет производитель предлагает детскую одежду отличного качества на каждый день и на праздник для украинских покупателей. Великолепные платья, юбки, блузки и жакеты, брюки модных и разнообразных фасонов позволяют нашим клиенткам чувствовать себя красивыми, женственными, стильными и уверенными в себе.
				</p>
				<p>
					Интернет-магазин одежды BabyKroha – это отличная возможность купить детскую одежду . Вот уже более 15 лет производитель предлагает детскую одежду отличного качества на каждый день и на праздник для украинских покупателей. Великолепные платья, юбки, блузки и жакеты, брюки модных и разнообразных фасонов позволяют нашим клиенткам чувствовать себя красивыми, женственными, стильными и уверенными в себе.
				</p>
			</div>
		</div>
	</div>
</div>
