<%
/** информационный блок на главной
 * @name index-info-block.ejs */

// выгружаем инструменты
const {media} = app.module;
const {} = app.entry;

let text = [
	{
	    icon: 'fabric-icon',
		text: 'Собственная фабрика'
	},{
		icon: 'canpol-icon',
		text: 'Официальный представитель Canpol'
	},{
	    icon: 'diler-icon',
		text: 'Официальный диллер турецких товаров'
	},{
		icon: 'avent-icon',
		text: 'Официальный представитель Avent'
	},{
	    icon: 'box-icon',
		text: 'Бесплатная доставка укрпочтой'
	}
]

%>

<div class="index-info__wrap">
	<div class="container grid">
		<div class="index-info__text-box grid gcell--24 gcell--def-16">
			<% text.forEach(item => { -%>
			<div class="index-info__item gcell--24 gcell--sm-12">
				<div class="index-info__item-img">
					<svg>
						<use xlink:href="<%- media('assets/images/sprites/icons.svg#' + item.icon) %>"></use>
					</svg>
				</div>
				<div class="index-info__item-text">
					<%- item.text %>
				</div>
			</div>
			<% }); -%>
		</div>
		<div class="index-info__img-box gcell--def-8">
			<div class="index-info__img">
				<img src="<%- media('assets/images/bear.png') %>" alt class="lozad" >
			</div>
		</div>
	</div>
</div>
