<%
/** блок с новостями на главной странице
 * @name index-news-block.ejs */

// выгружаем инструменты
const {media} = app.module;
const {title} = app.entry;

let news = [
	{
	    title: 'Золото - драгоценный тренд этого сезона',
		link: '#',
		img: 'shutterstock_390805201.png',
		date: '22/04',
		text: 'Все необходимые товары для новорожденных купить вам помогут наши менеджеры. Мы предлагаем товары от известных украинских производителей, которые являются лидерами в данной отрасли. '
	}, {
	    title: 'Золото - драгоценный тренд этого сезона',
		link: '#',
		img: 'shutterstock_390805201.png',
		date: '22/04',
		text: 'Все необходимые товары для новорожденных купить вам помогут наши менеджеры. Мы предлагаем товары от известных украинских производителей, которые являются лидерами в данной отрасли. '
	}, {
	    title: 'Золото - драгоценный тренд этого сезона',
		link: '#',
		img: 'shutterstock_390805201.png',
		date: '22/04',
		text: 'Все необходимые товары для новорожденных купить вам помогут наши менеджеры. Мы предлагаем товары от известных украинских производителей, которые являются лидерами в данной отрасли. '
	}
]

%>

<div class="index-news-block">
	<div class="container">
		<p class="index-news-block__title main-title"><%- title %></p>
		<div class="grid">
			<% for (let key in news) { %>
			<%- app.widget('news-item.ejs', {item: news[key]}) %>
			<%	} -%>
		</div>
	</div>
</div>
