<%
/** слайдер на главной странице
 * @name main-slider.ejs */

// выгружаем инструменты
const {media} = app.module;

let slides = [
	{
	    title: 'Большой ассортимент трикотажа',
		link: '#',
		img: 'slide.jpg'
	}, {
	    title: 'Новая коллекция детской одежды',
		link: '#',
		img: '3.jpg'
	}, {
		title: 'Большой ассортимент трикотажа',
		link: '#',
		img: 'slide.jpg'
	}, {
	    title: 'Куртки Active уже в продаже',
		link: '#',
		img: '3.jpg'
	}
]

%>

<div class="main-slider__wrap">
	<div class="main-slider">
		<% for (let key in slides) { %>
		<%- app.widget('main-slider-item.ejs', {item: slides[key]}) %>
		<%	} -%>
	</div>
	<div class="main-slider__controls"></div>
</div>
