<%
/** слайд на главной странице
 * @name main-slider-item.ejs */

// выгружаем инструменты
const {media} = app.module;
const {item} = app.entry;

%>

<div class="main-slider__item-wrap">
	<div class="main-slider__item grid">
		<div class="main-slider__text-box gcell--24 gcell--md-11">
			<div>
				<p class="main-slider__title">
					<span class="main-slider__title-counter"></span>
					<span><%- item.title %></span>
				</p>
				<a href="#" class="yellow-btn regular-btn main-slider__btn">
					Перейти в каталог
				</a>
				<div class="main-slider__controls-holder"> </div>
			</div>
			<div class="main-slider__links grid">
				<a href="#" class="main-slider__link gcell--24 gcell--sm-12">
					<div class="main-slider__link-icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#coat-icon') %>"></use>
						</svg>
					</div>
					<div>
						<p class="main-slider__link-text">верхняя одежда</p>
					</div>
				</a>
				<a href="#" class="main-slider__link gcell--24 gcell--sm-12">
					<div class="main-slider__link-icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#tshirt-icon') %>"></use>
						</svg>
					</div>
					<div>
						<p class="main-slider__link-text">трикотаж</p>
					</div>
				</a>
			</div>
		</div>
		<div class="main-slider__img-box gcell--md-13" style="background-image: url(<%- media('assets/images/' + item.img ) %>)"></div>
	</div>
</div>

