<%
/** боковое меню
 * @name sidebar.ejs */

// выгружаем инструменты
const {menu} = app.data;
const {media} = app.module;

let mainMenu = menu.main;
let sidebar = menu.sidebar;

%>

<div class="_hide">
	<nav class="mobile-menu" id="mobile-menu">
		<ul class="mobile-menu-list">
			<li class="mobile-menu__item mobile-menu__item--search">
				<form class="js-form mobile-search__form js-init" data-ajax="hidden/response/search.json">
					<input type="text" class="mobile-search__input">
					<button class="mobile-search__btn">Поиск</button>
				</form>
			</li>
			<li class="mobile-menu__item js-init" data-mfp="ajax" data-mfp-src="hidden/login-wholesale-popup.php">
				<span class="mobile-menu__callback">Вход для оптовиков</span>
			</li>
			<li class="mobile-menu__item js-init" data-mfp="ajax" data-mfp-src="hidden/login-popup.php">
				<span class="mobile-menu__callback">Регистрация / Вход</span>
			</li>
			<% sidebar.forEach(item => { -%>
			<li class="mobile-menu__item">
				<a href="<%- item.link %>" class="mobile-menu__link">
					<span><%- item.title %></span>
				</a>
			</li>
			<% });
			mainMenu.forEach(item => { -%>
			<li class="mobile-menu__item">
				<a href="<%- item.link %>" class="mobile-menu__link">
					<span><%- item.title %></span>
				</a>
			</li>
			<% }); -%>
			<li class="mobile-menu__item">
				<a href="tel:+999999999" class="mobile-menu__phone">0-800-500-30</a>
				<span class="mobile-menu__callback">Перезвонить?</span>
			</li>
		</ul>
	</nav>
</div>
