<%
/** новость
 * @name news-item.ejs */

// выгружаем инструменты
const {media} = app.module;
const {item} = app.entry;

%>

<div class="news-item__wrap gcell--24 gcell--sm-8">
	<div class="news-item">
		<div class="news-item__top">
			<a href="<%- item.link %>" class="news-item__img-link">
				<img src="<%- media('assets/images/' + item.img ) %>" alt class="lozad" >
			</a>
		</div>
		<div class="news-item__bottom">
			<div class="news-item__date"><%- item.date %></div>
			<div class="news-item__text-box">
				<p class="news-item__title">
					<a href="<%- item.link %>" class="news-item__link"><%- item.title %></a>
				</p>
				<p class="news-item__text"><%- item.text %> </p>
			</div>
		</div>
	</div>
</div>

