<%
/** информация о заказе
 * @name order-info.ejs */

// выгружаем инструменты
const {media} = app.module;
const {item, cart, order, order_end} = app.entry;

%>

<div class="order-info">
	<div class="order-info__item <%- cart %>">
		<div class="order-info__item-icon"></div>
		<p class="order-info__item-text">Корзина</p>
	</div>
	<div class="order-info__item <%- order %>">
		<div class="order-info__item-icon"></div>
		<p class="order-info__item-text">Оформление заказа</p>
	</div>
	<div class="order-info__item <%- order_end %>">
		<div class="order-info__item-icon"></div>
		<p class="order-info__item-text">Заказ оформлен</p>
	</div>
</div>

