<%

/** pagination
 * @name pagination.ejs */

// выгружаем инструменты

const {media} = app.module;
const {currentView, news} = app.data;
const {center} = app.entry;

-%>

<div class="pagination grid <%- center ? 'center' : '' %>">
	<a href="" class="pagination__item pagination__item--btn left disable">
		<svg>
			<use xlink:href="<%- media('assets/images/sprites/icons.svg#arrow-left') %>"></use>
		</svg>
	</a>
	<a href="" class="pagination__item active" data-page="1">1</a>
	<a href="" class="pagination__item" data-page="2">2</a>
	<a href="" class="pagination__item" data-page="3">3</a>
	<a href="" class="pagination__item" data-page="4">4</a>
	<a href="" class="pagination__item" data-page="5">5</a>
	<span href="" class="pagination__item pagination__item--empty">...</span>
	<a href="" class="pagination__item" data-page="5">33</a>
	<a href="" class="pagination__item pagination__item--btn right">
		<svg>
			<use xlink:href="<%- media('assets/images/sprites/icons.svg#right-arrow') %>"></use>
		</svg>
	</a>
</div>
