<%
/** Превьвер для тестового сайта
 * @name default/preview.ejs */

        // выгружаем инструменты
const {currentView, views, lang} = app.data;
const {comment, media} = app.module;

var length = 0;
for (var key in views) {
    length++;
}
%>
<%- comment.todoPhp('Превьювер только для верстки, на сайте его не подключать!') %>
<nav>
    <div id="previewer" class="previewer" style="display: none;">
        <div class="previewer__header">
            <div id="previewer__close" class="previewer__close" title="Закрыть список страниц">&times;</div>
            <div id="previewer__title" class="previewer__title">
                <%- currentView.title; %>
            </div>
            <div class="previewer__pages">
                страниц - <span id="previewer__count"><%- length %></span>
            </div>
        </div>
        <div class="previewer__container">
            <div id="previewer__list" class="previewer__list">
                <% for (var key in views) { %>
                <a href="<%- views[key].href %>" class="previewer__item <% if (views[key].href == currentView.href) { %>is-active<% } %>">
                    <div class="previewer__block">
                        <div class="previewer__name"><%- views[key].title %></div>
                        <div class="previewer__alias">/<%- views[key].href %></div>
                    </div>
                </a>
                <% } %>
            </div>
        </div>
    </div>
    <div id="previewer__nav" class="previewer__nav">
			<span id="previewer__open" class="previewer__link previewer__open" title="Открыть список страниц">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="42" viewBox="0 0 30 42"><path d="M14 18c0 1.1-.9 2-2 2h-3c-1.1 0-2-.9-2-2v-3c0-1.1.9-2 2-2h3c1.1 0 2 .9 2 2v3zM23 18c0 1.1-.9 2-2 2h-3c-1.1 0-2-.9-2-2v-3c0-1.1.9-2 2-2h3c1.1 0 2 .9 2 2v3zM23 27c0 1.1-.9 2-2 2h-3c-1.1 0-2-.9-2-2v-3c0-1.1.9-2 2-2h3c1.1 0 2 .9 2 2v3zM14 27c0 1.1-.9 2-2 2h-3c-1.1 0-2-.9-2-2v-3c0-1.1.9-2 2-2h3c1.1 0 2 .9 2 2v3z"></path></svg>
			</span>
        <a href="<%- views['index'].href; %>" id="previewer__home" class="previewer__link previewer__home" title="Перейти на главную страницу">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="42" viewBox="0 0 30 42"><path d="M23.6 19.9c.5.5.5 1.2.1 1.7-.2.2-.5.3-.8.3-.3 0-.5-.1-.8-.3l-7.1-6.8-7.1 6.9c-.5.5-1.2.4-1.6-.1-.4-.5-.4-1.2.1-1.6l7.1-6.9c.8-.8 2.2-.8 3 0l7.1 6.8zm-8.6-3.2l5.6 5.2v6.4c0 .6-.5 1.2-1.1 1.2h-2.8v-4.6h-3.4v4.6h-2.8c-.6 0-1.1-.5-1.1-1.2v-6.4l5.6-5.2z"></path></svg>
        </a>
        <span id="previewer__prev" class="previewer__link previewer__prev" title="Предыдущая страница">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="42" viewBox="6 0 30 42"><path d="M25.1 28.5c-.2.3-.6.5-1 .5s-.7-.1-.9-.4l-5.7-5.7c-1.1-1.1-1.1-2.7 0-3.8l5.7-5.7c.5-.5 1.2-.6 1.7-.2.7.5.7 1.5.2 2l-5.8 5.8 5.7 5.7c.5.5.5 1.3.1 1.8z"></path></svg>
			</span>
        <span id="previewer__next" class="previewer__link previewer__next" title="Следующая страница">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="42" viewBox="0 0 30 42"><path d="M10.9 28.5c-.5-.5-.4-1.3.1-1.9l5.7-5.7-5.7-5.7c-.5-.5-.5-1.5.2-2 .5-.4 1.2-.3 1.7.2l5.7 5.7c1.1 1.1 1.1 2.7 0 3.8l-5.7 5.7c-.3.3-.6.4-.9.4-.5 0-.8-.2-1.1-.5z"></path></svg>
			</span>
        <span id="previewer__close-menu" class="previewer__link previewer__close-menu" title="Закрыть меню">&times;</span>
    </div>
    <div id="previewer__overlay" class="previewer__overlay"></div>
</nav>
<link rel="stylesheet" href="<%- media('assets/css/static/preview.css') %>">
<script src="<%- media('assets/js/static/preview.js') %>" async></script>
