<%
/** карточка товара для каталога
 * @name product-item-small.ejs */

// выгружаем инструменты
const {media} = app.module;
const {item} = app.entry;

let login = true;

%>

<div class="product-item__wrap gcell--24 gcell--ms-8">
	<div class="product-item js-cart-item" data-id="111" data-url="hidden/cart-add.php">
		<div class="product-item__img-box">
			<% if(item.oldPrice) { %>
				<div class="product-item__label product-item__label--<%- item.labelColor %>"  >
					<span><%- item.label %></span>
				</div>
			<%	} -%>
			<button class="product-item__favorite js-favorite-btn <%- item.favorite ? 'active' : '' %>" data-url="hidden/response/favorite.json" >
                <span class="product-item__favorite-icon">
                    <svg>
                        <use xlink:href="<%- media('assets/images/sprites/icons.svg#favorite-icon') %>"></use>
                    </svg>
                </span>
                <span class="product-item__favorite-icon--fill">
                    <svg>
                         <use xlink:href="<%- media('assets/images/sprites/icons.svg#like-icon') %>"></use>
                    </svg>
                </span>
			</button>
			<div class="product-item__img-wrap">
				<a href="#">
					<img class="product-item__img lozad" src="<%- media('assets/images/' + item.img ) %>" alt >
				</a>
			</div>
		</div>
		<div class="product-item__text-box">
			<p class="product-item__name">
				<a href="#">
					<%- item.name %>
				</a>
			</p>
			<a href="#" class="product-item__category"><%- item.category %></a>
			<div class="product-item__price-box">
				<span class="product-item__price">
					<span><%- item.price %></span>
					<span class="product-item__price-currency">грн</span>
				</span>
				<% if(item.oldPrice) { %>
					<span class="product-item__old-price">
						<span><%- item.oldPrice %></span>
						<span class="product-item__price-currency">грн</span>
					</span>
				<%	} -%>
			</div>
			<button class="yellow-btn product-item__btn js-cart-add">
				Купить
			</button>
			<button class="yellow-border-btn product-item__btn product-item__btn--hidden <%- login ? 'js-cart-order' : 'js-init' %>" <%- login ? 'data-url="./hidden/cart-order.php"' : 'data-mfp="ajax" data-mfp-src="./hidden/login-wholesale-popup.php"' %>>
				<%- login ? 'Оформить заказ' : 'Стать оптовиком' %>
			</button>
		</div>
	</div>
</div>

