<%
/** слайд в слайдере товаров
 * @name product-slider.ejs */

// выгружаем инструменты
const {media} = app.module;
const {title, items, link, small} = app.entry;

%>

<div class="product-slider__wrap <%- small ? 'small' : '' %>">
	<div class="product-slider__title-box container">
		<p class="product-slider__title main-title"><%- title %></p>
		<div class="product-slider__controls">
			<% if (link) { %>
			<div class="product-slider__link-box">
				<a href="#" class="product-slider__link">
					<span><%- link %></span>
					<span class="product-slider__link-icon">
						<svg>
							<use xlink:href="<%- media('assets/images/sprites/icons.svg#right-arrow') %>"></use>
						</svg>
					</span>
				</a>
			</div>
			<% } %>
			<div class="product-slider__buttons-box">
				<div class="product-slider__counter"></div>
			</div>
		</div>
	</div>
	<div class="product-slider <%- small ? 'small' : '' %>">
		<% for (let key in items) { %>
		<%- app.widget('product-item-small.ejs', {item: items[key]}) %>
		<%	} -%>
	</div>
</div>
