<%
	/** Подключение внешних скриптов
	 * @name scripts */

	// выгружаем инструменты
	const {lang} = app.data;
	const {media, comment} = app.module;
%>
<%- comment.todoPhp('Определение старых браузеров') %>
<script>window.$wzmOld_URL_IMG = '<%- media('assets/css/static/pic/wezom-info-red.gif') %>';</script>
<script async defer src="<%- media('assets/js/static/wezom-old.min.js') %>"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA28F_ZIiUbfnruREv33xgb5kmkP2iTys" async defer></script>
<%- comment.todoPhp('Заменить на путь к файлу js переводам админки `Media/js-translations/${lang}.js`') %>
<script src="<%- media(`../_HTML/dist/hidden/js-translations/${lang}.js`) %>"></script>
<%- comment.php('Основные скрипты страницы') %>
<script src="<%- media('assets/js/modernizr.js') %>"></script>
<script src="<%- media('assets/js/vendors.js') %>"></script>
<script src="<%- media('assets/js/initialize.js') %>"></script>
