<%
/** боковое меню
 * @name sidebar.ejs */

// выгружаем инструменты
const {menu} = app.data;
const {media} = app.module;

let sidebar = menu.sidebar;

%>

<div class="_hide">
	<nav class="sidebar" id="menu">
		<ul class="sidebar-list">
			<li class="sidebar-close__wrap">
				<button class="sidebar-close">
					<svg>
						<use xlink:href="<%- media('assets/images/sprites/icons.svg#close-icon') %>"></use>
					</svg>
				</button>
			</li>
			<% sidebar.forEach(item => { -%>
			<li class="sidebar-menu__item">
				<a href="<%- item.link %>" class="sidebar-menu__link">
					<span><%- item.title %></span>
				</a>
			</li>
			<% }); -%>
		</ul>
	</nav>
</div>
