<%
	/** Подключение внешних стилей и скриптов
	 * @name stylesheets */

	// выгружаем инструменты
	const {media, comment} = app.module;
%>
<%- comment.php('Основные стили страницы') %>
<style id="webpack-style-loader-insert-before-this"></style>
<link rel="stylesheet" href="<%- media('assets/css/vendors.css') %>">
<link rel="stylesheet" href="<%- media('assets/css/editor.css') %>">
<link rel="stylesheet" href="<%- media('assets/css/helpers.css') %>">
<link rel="stylesheet" href="<%- media('assets/css/style.css') %>">
