<%
/** форма пописки на новости
 * @name subscribe-form.ejs */

// выгружаем инструменты
const {media} = app.module;

%>

<div class="subscribe-form__wrap">
	<div class="container grid subscribe-form__box">
		<div class="gcell--24 gcell--md-11">
			<p class="subscribe-form__title">Подпишитесь на рассылку</p>
		</div>
		<div class="gcell--24 gcell--md-12">
			<form class="subscribe-form js-form js-init" data-ajax="hidden/response/demo.json">
				<input required placeholder="E-mail" id="subscribe-mail" name="subscribe-mail" type="email" class="subscribe-form__input simple-input">
				<button class="subscribe-form__submit yellow-btn js-form-submit">Подписаться</button>
			</form>
		</div>
	</div>
</div>
