.about__text-box {

	&--first {
		padding-top: rem(25px);
		padding-bottom: rem(25px);

		@include media($md, min) {
			padding-top: rem(77px);
			padding-bottom: rem(100px);
		}
	}

	&--second {
		padding-top: rem(25px);
		padding-bottom: rem(25px);

		@include media($md, min) {
			padding-top: rem(109px);
			padding-bottom: rem(100px);
		}
	}
}

.about__title-wrap {
	padding: rem(58px) 0 rem(29px);
}

.about__text-title {
	font-family: Rubik-Bold;
	color: #4e4e4e;
	font-size: rem(30px);
	font-weight: 700;
	line-height: rem(40px);
	margin-top: 0;
	margin-bottom: rem(20px);
}

.about__text {
	color: #343434;
	font-size: rem(14px);
	font-weight: 400;
	line-height: rem(24px);
}

.about__text-wrap {
	padding-top: rem(15px);

	&--first {
		@include media($md, min) {
			padding-right: rem(29px);
			padding-top: rem(44px);
		}
	}

	&--second {
		padding-top: rem(15px);
		padding-left: rem(20px);

		@include media($md, min) {
			padding-left: rem(98px);
			padding-top: rem(37px);
		}
	}
}

.about__text-list {
	font-family: Rubik-Medium;
	font-weight: 500;
	line-height: rem(21px);
}

.yellow-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding-left: 25px;
		padding-top: rem(17px);
		padding-bottom: rem(17px);
		background: url('static/pic/dot.png') left rem(24px) no-repeat;
		background-size: rem(15px) rem(15px);
	}
}

.about__text-img {
	display: none;

	@include media($md, min) {
		display: block;
	}
}

.delivery-info__icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rem(21px);
  position: absolute;
  top: 10px;
  left: 10px;

  @include media($sm, max) {
	top: 5px;
	left: 5px;
  }

  svg {
	max-width: rem(80px);
	max-height: rem(80px);
	fill: #ffffff;

	@include media($sm, max) {
	  width: 40px;
	}
  }
}
.second__block{
  width: 100%;
}
.delivery-info__content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.delivery-info__item {
  padding-bottom: rem(95px);
  margin-right: 30px;

  @include media($md, max) {
	width: 100% ;
	margin-right: 0;
	padding-bottom: 20px;
  }

  .second__block {
	position: relative;
	overflow: hidden;
	border-radius: 0 100px 10px 50px;
	@include media($sm, max) {
	  border-radius: 50px 10px 10px 50px;
	}
  }

  .delivery-info__content {
	border: 2px solid #f8d4cd;
	border-radius: 0 0 20px 20px;
	padding: 60px 55px 40px	55px;
	height: auto;
	margin-top: -43px;
	font-family: "Google Sans", serif;
	font-size: 16px;
	line-height: 24px;

	li {
	  text-decoration: none;
	}

	@include media($def, max) {
	  padding: 30px 15px 20px 15px;
	}
  }
}

.none__block{
  display: none;
}
.open_delivery{
  width: 40px;
  height: 40px;
  background: #FDE52D;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
  margin-right: 25px;
  cursor: pointer;

  @include media ($def, max) {
	margin-left: 25px;
  }
}
.open_delivery span{
  color: #EF5843;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 500;
}

.delivery-info__item-left {
  display: flex;
  align-items: center;
  height: 138px;
  background: #9266F5;
  border-radius: 50px 100px 10px 50px;

  @include media ($sm, max) {
	height: 80px;
	border-radius: 50px 10px 10px 50px;
  }
}

.delivery-info__item-right {
  background-color: #c8b3fa;
  box-sizing: border-box;
  border-radius: 100px 100px 10px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;

  @include media ($def, max) {
	width: rem(270px);
  }

  @include media ($sm, max) {
	background-color: transparent;
	width: rem(100px);
  }

  &:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
	height: 100%;
	border: 20px solid #fde52d;
	border-bottom: none;
	border-right: none;
	border-radius: 100px 0 10px 0;
	@include media($def, max) {
	  border-radius: 60px 0 10px 0;
	}
	@include media ($sm, max) {
	  content: none;
	}
  }
}

.delivery-info__title {
  font-family: "Google Sans", serif;
  font-size: 30px;
  line-height: normal;
  color: #FFFFFF;

  @include media ($md, max) {
	font-size: 20px;
  }

  @include media ($sm, max) {
	font-size: 18px;
  }
}

.delivery-info__text {
	color: #4e4e4e;
	line-height: rem(28px);
	font-weight: 400;
	margin-top: 0;
}

.delivery-info__sub-title {
	font-family: Rubik-Bold;
	font-weight: 700;
	margin: 0;
}

.delivery-info__title-wrap {
	padding-top: rem(58px);
	padding-bottom: rem(28px);

}

.articles-item--right {
	@include media($md, min) {
		.articles-item__img-wrap {
			order: 1;

			img {
				border-radius: 0 5px 5px 0;
			}
		}

		.articles-item__text-box {
			padding-right: rem(80px);
			padding-left: 0 !important; // sass-lint:disable-line no-important

			&::after {
				right: 0;
				left: inherit !important; // sass-lint:disable-line no-important
			}
		}
	}
}

.wholesale__text-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.wholesale__text-list {
	position: relative;
	z-index: 1;
}

.wholesale__text-box {
	max-width: rem(750px);
	color: #4e4e4e;
	font-weight: 400;
	line-height: rem(28px);
	padding-bottom: rem(52px);
}

.wholesale-bg {
	background-repeat: no-repeat;
	background-size: contain;
}

.wholesale__title-wrap {
	padding-top: rem(58px);
	padding-bottom: rem(28px);
}