////
/// @group _blocks/
////

/// Description

.yellow-btn {
	background-color: $main;
	border: none;
	transition: .5s;
	border-radius: 6px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

	&:hover {
		box-shadow: none;
		background-color: #ecd31c;
		cursor: pointer;
	}

	&:active {
		background-color: darken(#ecd31c, 10%);
	}

	&.disabled {
		background-color: darken(#e6e6e3, 10%);
	}
}

.yellow-border-btn {
	background: transparent;
	border: 2px solid $main;
	transition: .5s;
	border-radius: 5px;

	&:hover {
		background-color: $main;
	}

	&:active {
		background-color: darken($main, 10%);
	}
}

.regular-btn {
	line-height: rem(60px);
	height: rem(60px);
	display: inline-block;
	padding-left: rem(65px);
	padding-right: rem(65px);
}
