// sass-lint:disable force-element-nesting

.cart-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	right: -100%;
	z-index: 3000;
	top: 0;
	transition: background-color .5s;

	&.open {
		background-color: rgba(46, 46, 46, 0.8);
	}
}

.cart-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

}

.cart-info__item {
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	background-color: #ffffff;
	padding: rem(30px);
	margin-bottom: rem(30px);

	@include media($md, min) {
		max-width: rem(653px);
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.cart-info__item-sub-title {
		font-family: Rubik-Medium;
	}
}

.cart-info__pay-on-cart {
	border: 1px solid #fde52d;
	font-size: rem(14);
	padding: rem(15);
	color: #4e4e4e;
	margin: 12px 0 0;
	width: 100%;
	max-width: rem(427px);

	&.empty-text {
		display: none !important;
	}
}

.cart-info__item-title {
	padding-bottom: rem(15px);
	border-bottom: 1px solid #dfdfdf;
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(24px);
	font-weight: 500;

}

.cart-info__item-sub-title {
	line-height: rem(23px);
	color: #4e4e4e;
	font-family: Rubik;
	font-size: rem(18px);
	font-weight: 400;
	margin: 0;
	padding-top: rem(20px);
}

.cart-registration__tab-btn {
	height: rem(23px);
	color: #8c8c8c;
	background: transparent;
	font-size: rem(18px);
	font-weight: 400;
	border: none;
	outline: none;
	position: relative;
	padding: 2px;
	margin-top: rem(20px);

	&::after {
		content: '';
		display: block;
		position: absolute;
		background: $main;
		height: 3px;
		left: 0;
		bottom: -5px;
		width: 100%;
		transform: scale(0);
		transition: .3s;
	}

	&:first-of-type {
		margin-right: rem(20px);

		@include media($sm, min) {
			margin-right: rem(40px);
		}
	}

	&.is-active {
		color: #4e4e4e;
		font-family: Rubik-Medium;
		font-weight: 500;

		&::after {
			transform: scale(1);
		}
	}

	&:not(.is-active) {
		&:hover {
			color: lighten(#8c8c8c, 10%);

			&::after {
				transform: scale(1);
				opacity: 0.4;
			}
		}
	}
}

.cart-registration__input {
	height: rem(40px);
	width: 100%;
	line-height: rem(40px);
	border-radius: 3px;
	border: 1px solid #9c9c9c;
	background-color: #f5f6f8;
	margin-top: rem(20px);
	padding-left: rem(20px);
	transition: .3s;
	position: relative;

	&::placeholder {
		color: #8c8c8c;
		font-size: rem(14px);
		font-weight: 400;
	}

	&:required,
	&.is-required {
		& + .required-dot {
			display: block;
			position: absolute;
			right: rem(10px);
			bottom: rem(16px);
			width: rem(6px);
			height: rem(6px);
			line-height: rem(6px);
			border-radius: 50%;
			background-color: #e1323d;
		}

		&:focus {
			& + .required-dot {
				background-color: #0ea50e;
			}

			&::placeholder {
				color: #4e4e4e;
			}
		}
	}

	&--white {
		background-color: #ffffff;
	}

	&--md {
		margin-top: rem(15px);

		@include media(sm) {
			margin-top: 0;
		}
	}
}

.cart-registration__info {
	padding-top: rem(10px);
}

.cart-registration__callback {
  color: $secondary;
  font-size: 9px;
  position: relative;
  padding-left: rem(25px);
  cursor: pointer;
  transition: .3s;

  @include media(lg) {
	font-size: 12px;
	padding-left: rem(35px);
  }

  &:before {
	content: '';
	width: 10px;
	height: 1px;
	background: $secondary;
	display: block;
	position: absolute;
	top: -1px;
	bottom: 0;
	margin: auto;
	left: 6px;
	transition: .3s;

	@include media(lg) {
	  width: 17px;
	}
  }

  &:hover {
	color: $text;

	&:before {
	  background-color: $text;
	}
  }
}

.cart-info__content {
	padding-top: rem(50px);
}

.cart-info__pay-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: rem(5px);
	padding-bottom: rem(20px);
	position: relative;

	label.radio-has-error {
		position: absolute;
		bottom: 0;
		right: 0;
		color: $secondary;
		font-size: rem(12px);

		@include media($md, min) {
			top: rem(-20px);
			bottom: inherit;
		}
	}
}

.pay-bloks {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: unset;
	margin-bottom: 20px;

  	.cart-info__label {
	  flex-basis: calc(94%/3);
	  border: 3px solid #e4e4e4;
	  border-radius: 6px;
	  margin: 5px;
	  text-align: center;
	  padding: 20px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;

	  &--long {
		flex-basis: 100%;
	  }

	  @include media (sm, max) {
		padding: 10px;
	  }

	  @include media(def, max) {
		flex-basis: 45%;
	  }

	  &.is-checked {
		border: 3px solid #FDE52D;
	  }

	  svg, img {
		margin-top: 15px;
		max-height: 45px;
	  }
	}
}

.cart-info__label {
	line-height: rem(16px);
	color: #4e4e4e;
	font-size: rem(14px);
	font-weight: 400;
	padding: rem(10px) 0;
	cursor: pointer;
	display: inline-block;
	position: relative;

	&:hover {
		.radio-input__text {
			color: $main;
		}
	}

	label.has-error {
		right: 0;
		width: 100%;
		position: absolute;
		display: block;
		bottom: rem(-7px);
		font-size: rem(10px);
		text-align: right;
		color: $secondary;
	}

	.cart-info__delivery-content & {
		width: 100%;
	}
}

.radio-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.radio-input__text {
	position: relative;
	padding-left: rem(24px);
	transition: .3s;

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
        top: 0;
		width: rem(16px);
		height: rem(16px);
		border: 1px solid #dfdfdf;
		border-radius: 50%;
		background-color: #f5f6f8;
	}
}

.radio-input:checked + .radio-input__text::before {
	background: url('static/pic/dot-icon.png') center no-repeat $main;
	background-size: rem(8px) rem(8px);
	border-color: $main;
}

.cart-info__btn {
	width: 46%;
	height: rem(50px);
	line-height: rem(50px);
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(14px);
	font-weight: 500;
	flex-shrink: 0;
	display: inline-block;
	text-align: center;

	&--remind {
		display: block;
		margin-top: rem(20px);
	}

	&:first-of-type {
		margin-right: rem(5px);
	}

	@include media($sm, min) {
		width: rem(200px);

		&:first-of-type {
			margin-right: rem(20px);
		}
	}
}

.accordion-button {
	cursor: pointer;
}

.accordion-block {
	position: relative;
	overflow: hidden;
}

.cart-info__order-box {
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	background-color: #ffffff;
	padding: rem(30px);

	p {
		margin: 0;
	}

	@include media($md, min) {
		max-width: rem(458px);
		margin-left: auto;
	}
}

.cart-info__order-total {
	display: flex;
	justify-content: space-between;
	padding-top: rem(30px);
}

.cart-info__order-text {
	line-height: rem(24px);
	color: #8c8c8c;
	font-family: Rubik;
	font-size: rem(14px);
	font-weight: 400;
	margin: 0;
}

.cart-info__order-price {
	line-height: rem(28px);
	color: #000000;
	font-family: Rubik;
	font-size: rem(24px);
	font-weight: 400;

	.currency {
		color: #8c8c8c;
		font-size: rem(14px);
	}
}

.cart_bold { // sass-lint:disable-line class-name-format
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(18px);
	font-weight: 500;
}

.cart-info__price {

	@include media($sm, min) {
		flex-basis: rem(100px);
		width: 50%;
	}
}

.cart-info__text {

	@include media($sm, min) {
		flex-basis: rem(212px);
		width: 50%;
	}
}

.cart-item__info-box--center {

	@include media($md, min) {
		align-items: center;
	}
}

._dark {
	color: #343434;
}

.cart-info__right {
	order: -1;
	padding-bottom: rem(30px);

	@include media($md, min) {
		order: initial;
		padding-bottom: 0;
	}
}

.cart-item--justify {
	display: flex;
	justify-content: space-between;

	@include media($md, min) {
		justify-content: initial;
	}
}

.cart-info__delivery-items {
	padding-top: rem(24px);
	position: relative;

	label.radio-has-error {
		position: absolute;
		bottom: 0;
		right: 0;
		color: $secondary;
		font-size: rem(12px);

		@include media($md, min) {
			top: rem(-20px);
			bottom: inherit;
		}
	}
}

.cart__items-wrap {
	width: 100%;
}

.cart__total-btn {
	display: inline-block;
	text-align: center;
	width: rem(232px);
	height: rem(50px);
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(14px);
	font-weight: 500;
	line-height: rem(50px);

	&:first-of-type {
		margin-right: rem(20px);
	}
}

.cart-item__redact {
	cursor: pointer;
	margin-right: rem(20px);

	&:hover {
		svg {
			fill: $secondary;
		}
	}

	svg {
		width: rem(25px);
		height: rem(25.6px);
		fill: #8c8c8c;
	}

	@include media($md, min) {
		margin-right: 0;

		svg {
			width: rem(17px);
			height: rem(17px);
			transition: .3s;
		}
	}
}

.cart__total-buttons {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cart__total-wrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: rem(30px);
	padding-bottom: rem(26px);
}

.cart-info__toggle {
	line-height: rem(14px);
	display: inline-block;
	position: relative;
	color: #e1323d;
	font-size: rem(12px);
	font-weight: 400;
	cursor: pointer;
	margin-top: rem(20px);

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background: #e1323d;
		bottom: 0;
		left: 0;
		transition: .3s;
	}

	&:hover {
		&::after {
			transform: scale(0);
		}
	}
}

.cart-enter__social-wrap {
	display: flex;
	align-items: center;
	color: #4e4e4e;
	font-size: rem(18px);
	font-weight: 400;
	padding-top: rem(36px);
}

.cart-enter__socials {
	display: flex;
}

.cart-enter__social-link {
	width: rem(40px);
	height: rem(40px);
	border-radius: 50%;
	background-color: $main;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 rem(9px);
	transition: .3s;

	svg {
		max-height: rem(20px);
		max-width: rem(20px);
		fill: #4e4e4e;
		transition: .3s;
	}

	&:hover {
		background: #4e4e4e;

		svg {
			fill: $main;
		}
	}
}

.cart-registration__checkbox-label {
	padding-top: rem(30px);
	cursor: pointer;
	position: relative;

	&:hover {
		color: $main;
	}

	label.has-error {
		right: 0;
		width: 100%;
		position: absolute;
		display: block;
		bottom: rem(-18px);
		font-size: rem(10px);
		text-align: right;
		color: $secondary;
	}
}

.cart-registration__status {
  .cart-registration__checkbox-label {

	label.has-error {
	  right: 0;
	  width: 100%;
	  position: absolute;
	  display: block;
	  bottom: rem(-32px);
	  font-size: rem(10px);
	  text-align: right;
	  color: $secondary;
	}
  }
}

.cart-registration__checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.cart-registration__checkbox-text {
	line-height: rem(16px);
	color: #343434;
	font-size: rem(14px);
	font-weight: 400;
	position: relative;
	padding-left: rem(35px);
	transition: .3s;
	display: inline-block;

	.gray {
		color: #8c8c8c;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: rem(25px);
		height: rem(25px);
		border: 1px solid #9c9c9c;
		border-radius: 3px;
		background-color: #f5f6f8;
	}

	&--white {
		&::before {
			background-color: #fff;
		}
	}

	a {
		position: relative;
		display: inline-block;
		transition: .3s;

		&::after {
			display: block;
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			background: $main;
			transition: .3s;
		}

		&:hover {
			color: $main;

			&::after {
				transform: scaleX(0);
			}
		}
	}
}

.cart-registration__checkbox:checked ~ .cart-registration__checkbox-text::before {
	background: url('static/pic/check-icon.png') center no-repeat $main;
	background-size: rem(13px) rem(10px);
	border-color: $main;
}

.cart-info__label--select {
	.select2-container--default .select2-selection--single {
		outline: none;
		height: rem(40px);
		border-radius: 3px;
		border: 1px solid #dfdfdf;
		background-color: #f5f6f8;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: rem(40px);
		padding-left: rem(20px);
	}

	.select2-container--default .select2-selection--single .select2-selection__placeholder {
		color: #8c8c8c;
		font-size: rem(14px);
		font-weight: 400;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		display: none;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		line-height: rem(40px);
		height: rem(35px);
		width: rem(30px);
		background: url('static/pic/arrow-down.svg') center no-repeat;
		background-size: rem(14px) rem(7px);
		transition: .3s;
	}

	.select2-container--open {
		.select2-selection__arrow {
			transform: rotate(180deg);
		}
	}

	.select2-container--default .select2-results>.select2-results__options {
		overflow-x: hidden;
	}
}

.cart-registration__sex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-family: Rubik-Medium;

  .option{
	background-color: #f5f6f8;
	height: 2.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	cursor: pointer;
	padding: 0 10px;
	border: 1px solid #9c9c9c;
	transition: all 0.3s ease;
  }

  .option + .option {
	margin-left: 10px;
  }

  .option .dot{
	height: 20px;
	width: 20px;
	background: #d9d9d9;
	border-radius: 50%;
	position: relative;
  }
  .option .dot::before{
	position: absolute;
	content: "";
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background-color: #FDE52D;
	border-radius: 50%;
	opacity: 0;
	transform: scale(1.5);
	transition: all 0.3s ease;
  }
  input[type="radio"]{
	display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
	border-color: #FDE52D;
	background-color: #FDE52D;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
	background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
	opacity: 1;
	transform: scale(1);
  }
  .option span{
	font-size: 0.875rem;
	font-weight: 500;
	margin-left: 10px;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
	color: #4e4e4e;
  }
}

.cart-registration__label {
	position: relative;
	display: block;

	label.has-error {
		right: 0;
		width: 100%;
		position: absolute;
		display: block;
		bottom: rem(-18px);
		font-size: rem(10px);
		text-align: right;
		color: $secondary;
	}
}

.cart-registration__status{
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

.cart-close-btn {
	border: none;
	outline: none;
	background: transparent;
	position: absolute;
	right: rem(20px);
	top: rem(40px);
	z-index: 1;

	svg {
		width: rem(22px);
		height: rem(22px);
		fill: #8c8c8c;
	}

	&:hover {
		svg {
			fill: darken(#8c8c8c, 15%);
		}
	}
}

.cart__main-buttons {
	display: flex;
	align-items: center;
}

.cart__order-btn {
	height: rem(77px);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $main;
	width: 50%;
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(14px);
	font-weight: 500;
	transition: .3s;
	text-align: center;

	&:hover {
		background-color: darken($main, 10%);
	}

	&:active {
		background-color: darken($main, 15%);
	}
}

.cart__back-btn {
	height: rem(77px);
	line-height: 1;
	background-color: #ffffff;
	width: 50%;
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(14px);
	font-weight: 500;
	transition: .3s;
	border: none;

	&--full {
		width: 100%;
	}

	&:hover {
		background-color: darken(#ffffff, 10%);
	}

	&:active {
		background-color: darken(#ffffff, 15%);
	}
}

.cart-window__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: rem(576px);
	width: 90%;
	padding-bottom: rem(23px);
}

.cart-window__title {
	line-height: rem(28px);
	color: #343434;
	font-family: Rubik-Bold;
	font-size: rem(24px);
	font-weight: 700;
}

.cart-window__content {
	padding: rem(38px);
	height: calc(100% - 190px);

	@include media($xl, max) {
		height: calc(100% - 167px);
	}

	@include media($lg, max) {
		height: calc(100% - 145px);
	}

	@include media($def, max) {
		height: calc(100% - 120px);
	}

	@include media($sm, max) {
		height: calc(100% - 145px);
	}
}

.cart__clean {
	line-height: rem(16px);
	opacity: 0.5;
	color: #ff0202;
	font-size: rem(14px);
	font-weight: 400;
	transition: .3s;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}

.cart-window__totals {
	text-align: right;
	padding: rem(30px);
	color: #8c8c8c;
	font-weight: 400;
}

.cart-window__bottom {
	border-top: 1px solid #dfdfdf;
}

.cart-window__total {
	color: #4e4e4e;
	font-family: Rubik-Bold;
	font-weight: 700;
}

.cart-window__total-count {
	color: #4e4e4e;
	font-family: Rubik-Bold;
	font-weight: 700;
}

.cart-window__items-wrap {
	height: calc(100% - 50px);
}

.cart-enter__form {
	max-width: rem(427px);
}

.cart-item {
  color: #8c8c8c;
  font-size: rem(12px);
  font-weight: 400;
  padding: rem(20px) 0;
  position: relative;

  &__size {
	&-item {
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  align-items: center;
	  margin: 0 0 10px;
	}
  }
}

.cart-item + .cart-item {
	border-top: 1px solid #dfdfdf;
}

.cart-item__inner {
	display: flex;
}

.cart-item__img-box {
	// width: 30%;
	padding-right: rem(20px);
}

.cart-item__img {
	max-height: 80px;
	display: block;
	margin: auto;
}

.cart-item__info-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;

	@include media($ms, min) {
		width: 90%;
		flex-direction: row;
		align-items: center;
	}
}

.cart-item__info-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&--first {
		padding-right: 10px;
	}

	&--second {
		flex-direction: row;
		align-items: center;
		padding-right: 10px;
	}

	&--third {
		flex-direction: row;
		align-items: center;
		padding-right: 10px;
	}

	&--fourth {
		flex-direction: row;
		align-items: center;
		padding-top: rem(25px);
	}

	@include media($ms, min) {
		&.big-item {
			width: 20%;
		}

		&--second {
			flex-direction: column;
			align-items: flex-start;
		}

		&--third {
			flex-direction: column;
			align-items: flex-start;

			&.small-item {
				width: 20%;
			}
		}
	}

	@include media($md, min) {

		&--fourth {
			justify-content: space-between;
		}

		&--first {
			width: 60%;
		}

		&--second {
			width: 30%;
		}

		&--third {
			width: 30%;

		}

		&--fourth {
			width: 40px;
			flex-shrink: 0;
			flex-grow: 0;
		}

		&--first.big-item {
			flex-basis: rem(385px);
			padding-right: 20px;
		}

		&--second.big-item {
			flex-basis: rem(255px);
			padding-right: 20px;
		}

		&--third.big-item {
			flex-basis: rem(200px);
			padding-right: 20px;
		}

		&--fourth.big-item {
			flex-basis: rem(64px);
		}
	}
}

.cart-item__name {
	color: #4e4e4e;
	font-size: rem(14px);
	line-height: rem(16px);
	font-weight: 700;
	margin-top: rem(8px);
	margin-bottom: rem(8px);
}

.cart-item__count {
	color: #4e4e4e;
	font-size: rem(16px);
	font-weight: 700;
	margin: 0 0 0 10px;

	@include media($sm, min) {
		margin: 0;
	}
}

.cart-item__price {
	color: #4e4e4e;
	font-size: rem(16px);
	font-weight: 700;
	margin: 0 0 0 10px;

	@include media($sm, min) {
		margin: 0;
	}
}

.cart-item__code-box {
	margin: 0;
	white-space: nowrap;
}

.cart-item__code {
	color: #4e4e4e;
}

.cart-wrap .cart-item__code {
	position: relative;
	overflow: hidden;
	width: 50px !important; // sass-lint:disable-line no-important

	//&::after {
	//	@include media($ms, min) {
	//		content: '';
	//		display: block;
	//		position: absolute;
	//		right: 0;
	//		top: 0;
	//		height: 1rem;
	//		background: linear-gradient(left, rgba(245, 246, 248, 0.6), #f5f6f8 100%, #f5f6f8);
	//		width: 15px;
	//	}
	//}
}

.cart-item__color-box {
	display: flex;
	align-items: center;
}

.cart-item__color {
	width: rem(16px);
	height: rem(16px);
	display: inline-block;
	border-radius: 50%;
	margin: 0 8px;
	border: 1px solid lighten($text, 40%);
}

.cart-item__size-box {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&--order {
		padding-top: rem(21px);
	}
}

.size__item {
	width: rem(40px);
	height: rem(40px);
	border-radius: 3px;
	background-color: $main;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #4e4e4e;
	font-size: rem(14px);
	position: relative;
}

.size__count {
	font-size: rem(10px);
	display: block;
	position: absolute;
	right: rem(4px);
	top: 0;
}

.cart-item__remove-confirm {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(250, 250, 260, 0.7);
	text-align: right;
	padding-right: 15px;
	display: none;
	z-index: 5;
}

.cart-item__confirm-title {
	font-size: rem(20px);
	color: #4e4e4e;
	font-family: Rubik-Medium;
}

.cart-item__confirm-btn {
	width: rem(50px);
	height: rem(35px);
	line-height: 1;
	font-size: rem(15px);
	font-family: Rubik-Medium;
}

.cart-enter__login-info {
	padding-top: rem(30px);
}

.cart-enter__login-item {
	margin: 3px 0;
	font-size: rem(14px);

	&._bold {
		font-family: Rubik-Medium;
		font-size: rem(16px);
	}
}

.cart-holder {
	background: #f5f6f8;
	height: 100%;
	width: rem(772px);
	max-width: calc(100% - 40px);
	position: absolute;
	right: 0;
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	overflow: auto;
}

.cart__content {
	padding-bottom: rem(30px);
}

.rozn-birthday {
  display: none;

  .title {
	margin-top: rem(20px);
	color: #8c8c8c;
	font-size: rem(14px);
	font-weight: 400;
	text-align: center;
  }

  .cart-registration__label {
	display: inline-block;
  }

  .cart-registration__input {
	padding-left: rem(10px);
  }
}
