// sass-lint:disable force-element-nesting

.product-item__wrap {
  padding: 0 8px 16px 8px;

  .no-touchevents & {
	height: 595px;

	@media screen and (min-width: 1281px) and (max-width: 1900px) {
	  height: 510px;
	}

	@media screen and (min-width: 1024px) and (max-width: 1280px) {
	  height: 480px;
	}

  }
}

.lightbox, .lightbox-category {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  z-index: 51;
  display: block;
}

.product-item {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background: #ffffff;
  margin: auto;
  min-height: 100%;
  overflow: hidden;
  border: 1px solid #e0e0e0;


  @include media($def, max) {
	border: 2px solid #f8d4cd;
  }

  &__img {
	&-wrap {
	  position: relative;
	  height: 380px;
	  overflow: hidden;

	  @include media($dt, max) {
		height: 315px;
	  }
	  @include media($mg, max) {
		height: 320px;
	  }
	  @include media($lg, max) {
		height: 280px;
	  }
	  @include media($def, max) {
		height: 480px;
	  }
	  @include media($ms, max) {
		height: auto;
	  }
	}
  }

  &__buttons-box {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	justify-content: space-between;

	opacity: 0;
	pointer-events: none;
	transition: all 200ms ease-in-out;

  }

  &:hover {
	.product-item__buttons-box {
	  opacity: 1;
	  pointer-events: all;
	}
	border: 2px solid #dbb5ad;

	.product-item__bottom {

	  .product-item__btn {
		background: #E65D40;
		color: #ffffff;
		transition: 0.3s;

		svg{
		  stroke: #ffffff;
		  opacity: 1;
		}

	  }
	}

	.product__sizes {
	  padding-top: 16px;
	  display: flex;
	  justify-content: start;
	  flex-wrap: wrap;
	}

	.product-item__btn--drops {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}

  }

  &__wrap {
	&:hover {
	  z-index: 2;
	}
  }

  .no-touchevents & {
	height: 100%;
	overflow: hidden;

	.product-item__btn--hidden {
	  transition: .1s;
	  background: #FDE52D;
	  border-radius: 30px 10px 10px 10px;
	}

	&:hover {
	  height: auto;
	  z-index: 1;


	  .product-item__btn--hidden {
		opacity: 1;
	  }
	}
  }
}

.product-item__favorite {
  border: none;
  position: absolute;
  right: 16px;
  top: 18px;
  background: transparent;
  z-index: 1;
  opacity: 0.8;

  .product-item__favorite-icon--fill {
	display: none;
  }

  &.active {
	.product-item__favorite-icon--fill {
	  display: block;

	  svg {
		fill: #e65d40;
		opacity: 1;
	  }
	}

	.product-item__favorite-icon {
	  display: none;
	}

	&:hover {
	  svg {
		fill: #e65d40;
		opacity: 1;
	  }
	}
  }

  .no-touchevents & {

	&:not(.active) {
	  &:hover {
		svg {
		  fill: #e65d40;
		  opacity: 1;
		}
	  }
	}
  }

  svg {
	width: 22px;
	height: 22px;
	transition: .4s;
  }
}

.product-item__compare {
  border: none;
  position: absolute;
  right: 16px;
  top: 52px;
  background: transparent;
  opacity: 0.8;
  z-index: 1;
  display: none;

  &.active {

	svg {
	  fill: #e65d40;
	  opacity: 1;
	}

	&:hover {
	  svg {
		fill: #e65d40;
		opacity: 1;
	  }
	}
  }

  .no-touchevents & {

	&:not(.active) {
	  &:hover {
		svg {
		  fill: #e65d40;
		  opacity: 1;
		}
	  }
	}
  }

  svg {
	width: 22px;
	height: 22px;
	transition: .4s;
  }
}

.product-item__name {
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  display: block;
  text-align: start;
  font-family: "Google Sans", serif;
  margin: 0;
  transition: .3s;

  &:hover {
	color: $main;
  }

  @include media ($def, max) {
	font-size: 18px;
	line-height: 23px;
	height: 45px;
  }
}

.product-item__category {
  color: #8C8C8C;
  font-size: 14px;
  line-height: 16px;
  transition: .3s;

  &:hover {
	color: $secondary;
  }
}

.product-item__price {
  font-family: "Google Sans", serif;
  font-size: 20px;
  line-height: 17px;
  font-weight: bold;

  @include media($def, max) {
	font-size: 22px;
  }
}

.product-item__price-currency {
  text-transform: lowercase;

  &--sale {
	color: #e65D40;
  }
}

.product-item__btn {
  height: 50px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 30px 10px 10px 10px;
  color: #000000;

  @media screen and (min-width: 1024px) and (max-width: 1440px) {
	height: 45px;
	padding: 15px 13px;
  }

  @include media($def, max) {
	font-size: 20px;
	border-radius: 30px 10px 10px 10px;
  }

  svg {
	width: 22px;
	height: 22px;
	fill: transparent;
	stroke: #18192e;
	opacity: 0.7;
	margin-left: 8px;
  }

}

.product-item__btn--drops {
  height: 50px;
  width: 100%;
  display: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  background: $main;
  border-radius: 10px;
  border: 1px solid transparent;
  color: #18192e;
  font-family: "Google Sans", serif;

}

.product-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  width: 100%;
}

.product-item__price-box {
  display: flex;
  flex-direction: column;
}

.product-item__label {
  padding: 0 10px;
  border-radius: 10px 5px 5px 0;
  height: 30px;
  line-height: 16px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
  left: 20px;

  @include media($def, max){
	height: 35px;
	font-size: 12px;
	line-height: 18px;
  }

  &:nth-child(1) {
	top: 20px;
  }

  &:nth-child(2) {
	top: 55px;

	@include media($def, max) {
	  top: 61px;
	}
  }

  &:nth-child(3) {
	 top: 90px;

	@include media($def, max) {
	  top: 102px;
	}

   }

  &--red {
	background-color: #f17732;
	color: #fff;
  }

  &--blue {
	background-color: #61dc4d;
	color: #fff;
  }

  &--green {
	background-color: #9266f5;
	color: #fff;
  }

  &--yellow {
	background-color: $main;
  }
}

.product-item__old-price {
  font-family: "Google Sans", serif;
  font-size: 14px;
  line-height: 18px;
  color: #18192e;
  text-decoration: line-through;
  text-decoration-color: #18192e;

  @include media($def, max) {
	font-size: 16px;
	line-height: 21px;
  }
}

.product-item__img {
  margin: auto;
  height: 380px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;

  @include media($dt, max) {
	height: 315px;
  }
  @include media($mg, max) {
	height: 320px;
  }
  @include media($lg, max) {
	height: 280px;
  }
  @include media($def, max) {
	height: 475px;
  }
  @include media($ms, max) {
	height: auto;
  }
}

/*----MS Edge Browser CSS Start----*/
@supports (-ms-ime-align:auto) {
  .product-item__wrap {
	&:hover {
	  height: auto !important;
	}
  }
}

// range slider

.catalog {
  $this: &;
  background: #fff;
  color: #4d4d4d;
  border-bottom: 4px solid #FDE52D;
  position: relative;

  @include media($def, max) {
	display: none;
  }

  &-button {
	display: inline-flex;
	align-items: center;
	padding: rem(11) rem(20);
	color: #18192E;
	font-size: rem(18);
	background: #FDE52D;
	border-radius: 10px;
	margin: 0 20px 0 0;
	cursor: pointer;

	svg {
	  width: 25px;
	  height: 16px;
	  margin: 0 20px 0 0;
	}
  }

  .header-controls__wrap {
	display: none;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0 20px;
	max-width: 350px;
	width: 100%;

	@include media($def, max) {
	  display: flex;
	}
  }

  & &__items {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;

	@include media($def, max) {
	  flex-direction: column;
	  align-items: flex-start;
	  padding: 20px 0;
	  border-bottom: 4px solid #FDEEE8;
	  border-top: 4px solid #FDEEE8;
	}
  }

  &-menu {
    background: #fff;
    padding: 30px 0 50px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;

	&.js-catalog {
		position: fixed;
	}

    &__wrap {
      height: 100%;

      .grid {
        height: 100%;
      }
    }

    &__sub {
      height: 100%;
      position: relative;
      padding: 0 5px 20px 30px;

      &--bg {
        background: #FDEEE8;
        border-radius: 10px 0 0 10px;

        & > .catalog-menu__head {
          border-color: #fff;
        }
      }
    }

    &__links {
      margin: 30px 0 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      &--overflow {
        overflow-y: auto;
        max-height: calc(100% - 100px);
        overflow-x: visible;
        flex-wrap: unset;

        &::-webkit-scrollbar {
          width: 1rem;
        }
        &::-webkit-scrollbar-track {
          background: #fff;
          border-radius: 100vw;
          margin-block: .5rem;
        }
        &::-webkit-scrollbar-thumb {
          background: #FDEEE8;
          border-radius: 100vw;
          border: 2px solid #fff;

          &:hover {
            background: #efcbbd;
          }
        }
      }

      .catalog__item-wrap {
        &:hover {
          .catalog__child-menu {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }

    &__link {
      font-size: 16px;
      padding: 5px 0;
      border-bottom: 2px solid transparent;
      transition: all .2s ease-in-out;
      display: flex;
      width: max-content;

      &-parent {
        &:hover {
          & > .catalog-menu__link {
            color: #E65D40;
            border-color: #E65D40;
          }
          .catalog__item-arrow {
            transform: translateX(-15px);
          }
        }
      }

      &-child {
        &:hover {
          color: #E65D40;
        }
      }

      &-category {
        color: #4D4D4D;
        font-weight: 500;
        font-size: 18px;
        width: max-content;
        margin: 30px 0 0;
        padding: 10px 0 5px;
        border-bottom: 2px solid #4D4D4D;
        display: flex;

        &:hover {
          border-color: #E65D40;
          color: #E65D40;
        }
      }
    }

    &__category-links {
      height: calc(100% - 100px);

      .catalog-menu__link {
        padding: 10px 0;
        border: none;
      }
    }

    &__head {
      padding: 20px 0;
      font-size: rem(24);
      line-height: rem(30);
      color: #18192E;
      display: block;
      border-bottom: 4px solid #FDEEE8;
    }

    &__nav {
      width: 13vw;
      height: 100%;
      position: relative;

      @include media($mg, max){
        width: 20vw;
      }

      #{$this}__items {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
      }

      #{$this}__item {
        display: flex;
        align-items: center;
        padding: 12px 0 3px;
        max-width: unset;

        &:before {
          display: block;
        }
      }

      #{$this}__name {
        margin: 0 0 0 10px;
      }
    }

    .container {
      position: relative;
    }

    &--category {
      top: calc(100% + 4px);
      height: 100%;
      padding: 0;
      background: -moz-linear-gradient(90deg, rgba(253,238,232,1) 20%, rgba(255,255,255,1) 20%);
      background: -webkit-linear-gradient(90deg, rgba(253,238,232,1) 20%, rgba(255,255,255,1) 20%);
      background: linear-gradient(90deg, rgba(253,238,232,1) 20%, rgba(255,255,255,1) 20%);

      .container {
        height: 100%;
      }

      .catalog-menu__sub--bg {
        display: none;
        width: 18vw;
        border-radius: 0;
      }
      .catalog__child-menu {
        width: 62vw;
        border: 0;
      }
    }
  }

  .js-close {
    position: absolute;
    right: 50px;
    top: 25px;
    z-index: 5;
    opacity: .5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__sub-item {
    position: absolute;
    width: 22vw;
    background: #fff;
    top: 0;
    left: 100%;
    padding: 0 0 0 20px;
    opacity: 0;
    pointer-events: none;
    height: calc(100% - 2px);

    @include media($mg, max){
      width: 30vw;
    }
  }

  &__child-menu  {
    position: absolute;
    top: 0;
    left: calc(100% - 25px);
    width: 45vw;
    height: 100%;
    opacity: 0;
    padding: 0 0 0 10px;
    pointer-events: none;
    border-radius: 0 10px 10px 0;
    border: 1px solid #FDEEE8;
    background: #fff;
    transition: all .2s ease-in-out;

    @include media($mg, max){
      width: 50vw;
    }

    .catalog-menu__sub {
      height: 100%;
    }
  }

  &__item {
	position: relative;
	padding: 20px 0 15px;
	width: 100%;
	cursor: pointer;

    &-arrow {
      float: right;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease-in-out;
    }

    &-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        #{$this}__sub-item {
          opacity: 1;
          pointer-events: all;
        }
      }

      &:hover {
        .catalog__item {

          &:after {
            width: 100%;
            opacity: 1;

            @include media($def, max) {
              width: calc(100% - 40px);
            }
          }

          &:before {
            opacity: 1;
          }

          img {
            opacity: 0;

            &.hov-image {
              opacity: 1;
            }
          }

          #{$this}__name {
            color: #E65D40;
          }
        }
      }
    }

    &-children {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0;
      pointer-events: none;
      z-index: 99;
      padding: 50px 0 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      color: #4D4D4D;
      overflow-y: auto;

      & > * {
        padding: 0 0 0 17px;
      }

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-back {
      position: relative;
      font-size: 20px;
      color: #18192E;
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      margin: 0 0 20px;

      &:before {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        content: "";
        background: no-repeat url("/Media/assets/images/catalog/arr-left.svg") ;
        width: 9px;
        height: 15px;
        background-size: contain;
        margin: 0 10px 0 0;
      }

      &:after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        left: 0;
        bottom: 0;
        height: 2px;
        background: #FDE52D;
      }
    }

	@include media($def) {
	  max-width: 108px;
	}

	@include media($def, max) {
	  display: flex;
	  align-items: center;
	  padding: 12px 0 3px;
	}

    &:hover, &.active {
      &:after {
        width: 100%;
        opacity: 1;

        @include media($def, max) {
          width: calc(100% - 40px);
        }
      }

      &:before {
        opacity: 1;
      }

      img {
        opacity: 0;

        &.hov-image {
          opacity: 1;
        }
      }

      #{$this}__name {
        color: #E65D40;
      }
    }

	&:before {
	  content: "";
	  display: none;
	  position: absolute;
	  right: 0;
	  height: 15px;
	  width: 9px;
	  opacity: .3;
	  transition: all .2s ease-in-out;
	  background: no-repeat url("/Media/assets/images/catalog/arrow-right.svg");
	  background-size: contain;

	  @include media($def, max) {
		display: block;
	  }
	}

	&:after {
	  content: "";
	  display: block;
	  position: absolute;
	  bottom: -4px;
	  left: 0;
	  width: 0;
	  height: 4px;
	  background: #E65D40;
	  opacity: 0;
	  transition: all .2s ease-in-out;

	  @include media($def, max) {
		left: 40px;
	  }
	}
  }


  &__name {
	pointer-events: none;
	color: #4D4D4D;
    font-size: 14px;

	@include media($def, max) {
      font-size: 16px;
      margin: 0 0 0 10px;
	}
  }

  &__image {
	position: relative;

	img {
	  width: 30px;
	  height: 30px;
	  object-fit: contain;
	  transition: all .2s ease-in-out;
	}
  }

  .hov-image {
	opacity: 0;
	top: 0;
	left: 0;
	position: absolute;
  }

  &__nav {
	margin: 12px 0;
	display: none;
	@include media($def, max) {
	  display: block;
	}

	&-item {
	  display: block;
	  font-size: 16px;
	  line-height: 48px;
	  transition: all .2s ease-in-out;

	  &:hover {
		color: #E65D40;
	  }
	}
  }
}


.catalog-filters__controls-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-slider__wrap {
  padding: 28px 0 20px;

  @include media($def, max) {
	padding: 28px 5px 20px;
  }
}

.price-slider {
  height: 2px;

  .ui-slider-handle {
	border-radius: 50%;
	outline: none;
	width: rem(12px);
	height: rem(12px);
	background-color: $main;
	border: none;
	cursor: pointer;
	margin-left: -5px;

	&:active {
	  background-color: $main;
	}
  }

  .ui-widget-header {
	background: $main;
  }

  &.ui-widget.ui-widget-content {
	border: none;
	border-radius: 3px;
	background-color: #dfdfdf;
	width: 100%;
	position: relative;
	margin: 0 auto;
  }
}

filters__price-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 60px;
  padding: 18px 24px;
}

.filters__price-text {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}

.filters__price-box {
  position: relative;
}

.filters__price-title {
  color: #343434;
  font-family: "Google Sans", serif;
  padding: 18px 24px 10px;
  display: flex;
  align-items: center;
  background-color: #fff;

}

.filters__price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filters__price-text {
	border: 2px solid transparent;
	border-bottom: 2px solid #e0e0e0;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;

	&:focus-within {
	  border-bottom: 2px solid $main;
	}
  }


  .filters__price-input {
	border: 2px solid transparent;
	border-radius: 3px;
	background-color: #ffffff;
	width: 100%;
	outline: none;
	box-shadow: none;

	&::-webkit-input-placeholder {
	  color: #343434;
	  font-size: 14px;
	  font-weight: 400;
	}
  }

  .filters__price-divider {
	font-size: 20px;
  }

}

.filter-summary {
  font-family: "Google Sans",  serif;
  width: 145px;
  height: 84px;
  padding: 14px 16px 15px;
  border: none;
  background: #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 3;
  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
  display: none;

  &__result {
	font-size: 14px;
	color: #7d7d7d;
	margin-bottom: 12px;
	text-align: center;
	line-height: 18px;
	span {
	  color: #18192e;
	}
  }

  &__submit {
	font-size: 12px;
	width: 113px;
	height: 26px;
	color: #ffffff;
	line-height: 15px;
	background-color: #e65d40;
	border: none;
	border-radius: 10px;
  }
}

.filters-menu-open {
  width: 123px;
  height: 40px;
  line-height: 1;
  position: relative;
  padding-left: 25px;
  border-radius: 10px;
  color: #18192e !important;
  box-shadow: none;


  &:before {
	content: '';
	background: url('./static/pic/filter-mobile-icon.svg') center no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15%;
  }

  @include media($def, min) {
	display: none;
  }

  @include media($def, max) {
	font-size: 14px;
  }

  @include media($sm, max) {
	font-size: 12px;
  }
}

.catalog__mobile-filters {
  @include media($def, min) {
	display: none;
  }
}

.filtration__items-scope {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 15px 16px;

  @include media($dt, max) {
	flex-direction: column;
	align-items: flex-start;
  }

  @include media($def, max) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }
}

.filtration__item-name {
  font-family: "Google Sans", serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.filters__item {
  padding: 0 24px;

  &.open {

	.filters__toggle {
	  display: block;
	  width: 0;
	  border: none;
	  height: rem(10px);
	  cursor: pointer;
	  transform: rotate(0deg);
	}

  }

}

.filters__item-top {
  background: #fff;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 60px;
  padding: 18px 0;
  position: relative;



  @include media($def, max) {
	height: 55px;
  }

  a {
	cursor: default;

	&:not([href]) {
	  cursor: default;
	}

	&[href] {
	  cursor: pointer;

	  &:hover {
		text-decoration: underline;
	  }
	}

	&.is-active {
	  color: #ff0202;
	}
  }

  &.filters__categories-top {
	min-height: 40px;
	height: auto;
	padding: 7px 0;
  }
}


.filters__item {
  .filters__item-top {
	&:before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 50%;
	  transform: translateX(-50%);
	  width: 100%;
	  height: 1px;
	  background-color: #fdeee8;
	  padding: 0 20px;

	  @include media($def, max) {
		width: 90%;
	  }
	}
  }
}

.filters__items {
  border: 1px solid #a1a1a1;
  border-radius: 20px;
  overflow: hidden;

}

.filters__item-name {
  font-family: "Google Sans", serif;
  display: block;
  color: #18192e;
  font-size: 16px;
  line-height: normal;
}

.filters__item-chosen {
  display: none;
}

.filters__child-wrap {
  padding: 5px 0 15px;

  @include media($def, max) {
	background-color: #ffffff;
  }
}

.filters__child-link {
  display: block;
  padding-left: 29px;
  position: relative;
  font-size: 14px;
  margin-bottom: 8px;

  .filter-input__name:hover {
	border: 1px solid #E0E0E0;
	border-radius: 20px;
	padding: 5px;
	color: #E65D40;

	@include media($def, max) {
	  border: none;
	  padding: 0;
	}
  }

  &:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 16px;
	height: 16px;
	border: 1px solid #000000;
	opacity: 0.15;
	border-radius: 3px;
	background: #fff;
	cursor: pointer;
  }

  &.active:before {
	background: url(./static/pic/check-icon.svg) center no-repeat $main;
	background-size: 9px 10px;
	width: 16px;
	height: 16px;
	content: '';
	opacity: 1;
	z-index: 1;
	border-radius: 3px;
	border-color: $main;
  }
}

.filters__child-name {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 8px;
  display: block;
  cursor: default;

  @include media($def, min) {
	font-size: 14px;
  }

  &[href] {
	cursor: pointer;

	&:hover {
	  text-decoration: underline;
	}
  }

  &.is-active {
	color: #ff0202;
  }
}

.filters__child-color {

  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  border: 3px solid #ffffff;
  outline: 1px solid rgba(230, 93, 64, 0.3);
  cursor: pointer;

  &:before {
	border-radius: 50%;
	background-size: 9px 10px;
	width: 100%;
	content: '';
	height: 100%;
	z-index: 1;
	position: absolute;
  }

  &.active {
	&::before {
	  background: url('./static/pic/check-icon.svg') center no-repeat transparent;
	  background-size: 9px 10px;
	}
  }
}

.filters__categories {
  .filters__item:first-child {
	.filters__categories-top:before  {
	  content: none;
	}
  }
}

.catalog__show-more {
  max-width: 244px;
  line-height: 18px;
  font-family: Google Sans, serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #e2e9f280;
  border-radius: 10px;
  border: none;
  display: block;
  padding: 16px 75px;
  box-sizing: border-box;
  margin: auto;

  &:hover {
	background-color: $main;
	-webkit-transition: .3s;
	transition: .3s;
  }

  &:active {
	background-color: darken(#fff, 10%);
  }

  @include media($md, min) {
	display: initial;
  }

  @include media($def, max){
	margin-bottom: 24px;
	width: 100%;
  }

  @include media($sm, max){
	width: 100%;
	max-width: none;
  }
}

.catalog__items-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-top: 40px;
  @include media($def, max) {
	flex-direction: column;
	padding-left: 0;
  }
}

.catalog__items-counter {
  font-size: 18px;
  font-weight: 400;
}

.catalog__items-wrap {
  padding-bottom: 95px;

  @include media($def, min) {
	padding-left: 20px;
  }

  @include media($def, max) {
	padding-bottom: 8px;
  }
}

.filters__search {
  margin-bottom: 16px;
  width: 100%;
  height: 55px;

}

.filters__search-input {
  padding-left: 40px;
  //width: 60%;
  background: transparent;

  &::-webkit-input-placeholder {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 400;
  }
}

.filters__search-selection {
  background: #ffffff;
  height: 100%;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  width: 42%;

  select{
	width: 100%;
  }

  &__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
  }

  .select2-container--default .select2-selection--single {
	border: none;
  }

  .select2-dropdown {
	background: #ffffff;
	border: none;
	-webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	-moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	border-radius: 0 0 10px 10px;
	padding: 0;

	.select2-search {
	  display:none
	}

	.select2-results__option--highlighted[aria-selected]{
	  color: #f8d4cd;
	  background-color: transparent;
	}

	.select2-results__option[aria-selected=true]{
	  background-color: #f8d4cd;
	  color: #18192e;
	}
  }

  .select2-container--default {
	.select2-selection--single .select2-selection__arrow {
	  height: auto;
	  top: 1px;
	  left: 0;
	  width: auto;
	  display: flex;
	  justify-content: flex-end;
	  align-items: center;
	  b{
		position: static;
		margin: 0;
		content: "";
		background: url('./static/pic/arrow-down-pink.svg') center no-repeat;
		height: rem(25.6px);
		width: rem(50px);
		background-size: 15px 8px;
		-webkit-transition: .3s;
		transition: .3s;
		border:none;
		transform: rotate(-90deg);
	  }
	}

	&.select2-container--open {
	  .select2-selection__arrow  b {
		transform: rotate(0deg);
	  }
	}
  }
}

.filters__search-form {
  position: relative;
  border: 1px solid #a1a1a1;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .simple-input {
	height: 52px;
  }
}

.filters__search-icon {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 12px;
  z-index: 1;
  align-items: center;

  svg {
	width: rem(14px);
	height: rem(14px);
	fill: #666666;
  }
}

.filters__toggle {
  display: block;
  width: 25px;
  border: none;
  background: url("./static/pic/arrow-down-pink.svg") bottom no-repeat transparent;
  background-size: 15px 8px;
  height: 25px;
  cursor: pointer;
  transform: rotate(-90deg);

  @include media($def, max) {
	width: 30px;
  }

}

select.select2 {
  visibility: hidden;
}

.catalog__items-select-box {
  color: #18192e;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 8px;

  .select2-container--default .select2-selection--single {
	border: none;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
	@include media($def, max){
	  padding-left: 0;
	}
  }

  .select2-dropdown {
	background: #ffffff;
	border: none;
	-webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	-moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	border-radius: 0 0 10px 10px;
	padding: 0;

	.select2-results__option--highlighted[aria-selected]{
	  color: #f8d4cd;
	  background-color: transparent;
	}

	.select2-results__option[aria-selected=true]{
	  background-color: #f8d4cd;
	  color: #18192e;
	}
  }

  .select2-container--default {
	.select2-selection--single .select2-selection__arrow {
	  height: auto;
	  top: 50%;
	  transform: translateY(-50%);
	  right: 0;
	  display: flex;
	  justify-content: flex-end;
	  align-items: center;
	  b{
		position: static;
		margin: 0;
		content: "";
		background: url('./static/pic/arrow-down-pink.svg') center no-repeat;
		height: rem(25.6px);
		width: rem(50px);
		background-size: 15px 8px;
		-webkit-transition: .3s;
		transition: .3s;
		border:none;
		transform: rotate(-90deg);
	  }
	}

	&.select2-container--open {
	  .select2-selection__arrow  b {
		transform: rotate(0deg);
	  }
	}
  }

  .select2 .select2-container .select2-container--default {
	@include media($def, max) {
	  width: 140px;
	}
	@include media($sm, max) {
	  width: 125px;
	}
  }

  @include media($def, max) {
	border: 1px solid #a1a1a1;
	height: 40px;
	border-radius: 10px;
	font-size: 14px;
	margin-right: 0;

	@include media($sm, max) {
	  font-size: 12px;
	}

	select {
	  max-width: 125px;
	  @include media($def, max) {
		max-width: 140px;
	  }
	  @include media($sm, max) {
		max-width: 125px;
	  }
	}
  }

}

.catalog__title-box {
  padding-top: 58px;
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include media($md, min) {
	align-items: flex-start;
	padding-top: 58px;
  }
}

.catalog-title {
  margin-top: 14px;
}

.product__pagination-wrap {
  color: #8c8c8c;
  font-size: rem(16px);
  font-weight: 400;
  flex-shrink: 0;
}

.product__pagination-link {
  transition: .3s;

  &.first {
	margin-right: rem(19px);

	.product__pagination-link-icon {
	  transform: rotate(180deg);
	  display: inline-block;
	}
  }

  &.second {
	margin-left: rem(27px);

	.product__pagination-link-icon {
	  display: inline-block;
	}
  }

  &:hover {
	color: $secondary;

	.product__pagination-link-icon {
	  svg {
		fill: $secondary;
	  }
	}
  }
}

.product__pagination-current {
  color: #343434;
}

.product__pagination-link-icon {
  padding-left: 9px;

  svg {
	transition: .3s;
	fill: #1d201c;
	width: rem(13px);
	height: rem(7px);
  }
}

.product__favorite-btn {
  border: none;
  background: transparent;

  .product__favorite-icon--fill {
	display: none;
  }

  &.active {
	.product__favorite-icon--fill {
	  display: block;

	  svg {
		fill: $secondary;
	  }
	}

	.product__favorite-icon {
	  display: none;
	}

	&:hover {
	  svg {
		fill: darken($secondary, 10%);
	  }
	}
  }

  &:not(.active) {
	&:hover {
	  svg {
		fill: $secondary;
	  }
	}
  }

  svg {
	transition: .4s;
	width: rem(23px);
	height: rem(21px);
	fill: #8b8b8b;
  }
}

.product__name-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__name {
  line-height: 35px;
  color: #4e4e4e;
  font-family: Rubik-Bold;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.product__code {
  margin: 0;
  line-height: 15px;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 400;

  .code {
	color: #343434;
  }
}

.product__price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(26px);
}

.product__price-current {
  line-height: 30px;
  color: #4e4e4e;
  font-size: rem(26px);
  font-family: Rubik-Bold;
  font-weight: 700;

  .currency-red {
	color: $secondary;
  }

  .currency {
	font-family: Rubik-Regular;
	font-size: rem(16px);
	font-weight: 400;
  }

  .currency-small {
	font-size: rem(12px);
  }
}

.product__price-old {
  line-height: rem(23px);
  color: #8c8c8c;
  font-size: rem(18px);
  font-family: Rubik-Bold;
  font-weight: 700;
  margin-right: rem(23px);

  .red-line-through {
	text-decoration: line-through;
	text-decoration-color: $secondary;
  }

  .currency {
	font-family: Rubik-Regular;
	font-size: rem(14px);
	font-weight: 400;
  }
}

.product__availability {
  line-height: rem(14px);
  color: #008000;
  font-size: rem(14px);
  font-weight: 400;
  &-none {
	color: #800013;
  }
}

.product__availability-icon {
  margin-left: 10px;

  svg {
	width: rem(11px);
	height: rem(8px);
	fill: #008000;
  }
}

.product__colors-wrap {
  display: flex;
  align-items: center;
}

.product__color-link {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: rem(5px);
  border-radius: 50%;
  transition: .3s;
  border: 1px solid transparent;

  span {
	width: rem(17px);
	height: rem(17px);
	border-radius: 50%;
	display: block;
	flex-shrink: 0;
	border: 1px solid lighten($text, 50%);
  }

  &.active {
	border-color: #8b8b8b;
  }

  &:not(.active) {
	&:hover {
	  border-color: lighten(#8b8b8b, 10%);
	}

  }
}

.product__colors-wrap {
  line-height: 18px;
  color: #343434;
  font-size: 14px;
  padding-top: 33px;
}

.product__size-item {

  .product__size-text{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: #4d4d4d;
	font-size: 12px;
	border: 1px solid #f8d4cd;
	border-radius: 10px;
	background-color: #ffffff;
	height: 25px;
	width: 50px;
	margin: 0 8px 8px 0;
	cursor: pointer;
  }

  &.active .product__size-text {
	  background-color: $main;
	  border: 1px solid $main;
	  font-weight: 600;
  }

  &--link {
	transition: .3s;
	background: transparent;

	&:hover {
	  background: #ffffff;
	}
  }

  &.active {
	font-weight: 600;
  }

  &.disable {
	background: transparent;
	color: #8c8c8c;
	opacity: 0.3;
  }

  &.js-init {
	cursor: pointer;
  }
}

.product__size-count {
  font-size: rem(14px);
  display: block;
  position: absolute;
  right: rem(4px);
  top: 0;
}

.product__sizes {
  display: none;

  &-grid {
	margin-left: auto;
  }

  .size__item {
	height: rem(38px);
	margin-left: 0;
	margin-top: 0;
  }
}

.product__sizes-text {
  line-height: rem(16px);
  color: #343434;
  font-size: rem(15px);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media($def, min) {
	font-size: rem(14px);
  }
}

.product__sizes-wrap {
  padding-top: rem(31px);
}

.product__sizes-icon {
  margin-left: rem(7px);
  display: inline-block;
  height: rem(14px);
  vertical-align: bottom;

  svg {
	width: rem(14px);
	height: rem(14px);
  }
}

.product__info-items {
  padding-top: rem(39px);
}

.product__info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: rem(16px);
  font-weight: 400;

  &:not(:first-of-type) {
	padding-top: rem(20px);
  }

  &--ageBlock {
	align-items: flex-start;
  }
}

.ageBlock {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  &-item {
	width: 100%;
	display: flex;
	padding-bottom: rem(15px);
  }
}

.product__info-dots {
  flex-grow: 1;
  border-bottom: 1px dotted #343434;
  display: inline-block;
  margin: 10px 4px 0;
}

.product__info-text {
  margin: 0;
}

.product__buy-btn {
  height: rem(50px);
  width: 45%;
  max-width: rem(200px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &:first-of-type {
	margin-right: rem(20px);
  }

  @include media($md, min) {
	width: auto;
	padding: 0 rem(20px);
	max-width: none;
  }
}

.product__sizes-link {
  transition: .3s;
  cursor: pointer;

  &:hover {
	color: $secondary;

	svg {
	  fill: $secondary;
	}
  }
}

.product__counts-text {
  line-height: rem(21px);
  font-weight: 400;
  color: #8c8c8c;
  font-size: rem(16px);

  p {
	margin: 0;
  }
}

.product__count,
.product__total-price {
  color: #343434;
  font-family: Rubik-Medium;
  font-size: rem(14px);
  font-weight: 500;
  padding-right: 4px;
  padding-left: 3px;
}

.product__count-total {
  position: relative;

  &::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 3px;
	background: #8b8b8b;
	height: 1px;
	width: 100%;
	left: 0;
  }
}

.product__counts-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product__counts-box {
  padding-top: rem(37px);
  padding-bottom: rem(30px);
  display: flex;
  align-items: center;
}

.product__counter {
  height: rem(40px);
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  margin-right: rem(20px);
}

.product__counter-btn {
  border: none;
  outline: none;
  background: transparent;
  color: #000000;
  font-size: rem(14px);
  height: 100%;
  line-height: 1;
  padding: 0 rem(11px);
  transition: .3s;

  &:hover {
	color: $secondary;
  }
}

.product__counter-input {
  max-width: rem(45px);
  text-align: center;
  border: none;
  height: 100%;
  color: #000000;
  font-size: rem(14px);
  font-weight: 400;
  background-color: #fff;
}

.product__text {
  max-width: rem(684px);
  color: #4e4e4e;
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(24px);
}

.product__tab-buttons {
  border-bottom: 1px solid #9c9c9c;
}

.product__tab-btn {
  outline: none;
  border: none;
  color: #8c8c8c;
  font-size: rem(18px);
  font-weight: 400;
  position: relative;
  background: transparent;
  line-height: rem(27px);
  padding: 2px;
  margin-right: rem(46px);

  &::after {
	content: '';
	display: block;
	position: absolute;
	background: $main;
	height: 3px;
	left: 0;
	bottom: -1px;
	width: 100%;
	transform: scale(0);
	transition: .3s;
  }

  &.is-active {
	color: #4e4e4e;

	&::after {
	  transform: scale(1);
	}
  }

  &:not(.is-active) {
	&:hover {
	  color: lighten(#4e4e4e, 10%);

	  &::after {
		transform: scale(1);
		opacity: 0.4;
	  }
	}
  }
}

.product__delivery-box {
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #ffffff;
  padding: rem(30px);
  margin-left: auto;
}

.product__delivery-text {
  display: none;
}

.product__delivery-title {
  line-height: rem(23px);
  color: #4e4e4e;
  font-family: Rubik-Bold;
  font-size: rem(18px);
  font-weight: 700;
  position: relative;
  padding-right: 30px;
}

.product__delivery-svg {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &.rotate {
	svg {
	  transform: rotate(180deg);
	}
  }

  svg {
	width: 30px;
	height: 30px;
	transition: all 300ms ease-in-out;
  }
}

.product__delivery-item {

  padding: rem(30px) 0 rem(27px);

  &:not(:last-of-type) {
	border-bottom: 1px solid #dfdfdf;
  }

}

.product__delivery-sale {
  color: #4e4e4e;
  font-family: Rubik-Medium;
  font-size: rem(16px);
  font-weight: 500;
  line-height: rem(19px);
  margin: 0;
}

.product__delivery-sub-title {
  line-height: rem(18px);
  color: #4e4e4e;
  font-family: Rubik-Bold;
  font-size: rem(16px);
  font-weight: 700;
  margin: 0;

  @include media($def, min) {
	font-size: rem(14px);
	line-height: rem(19px);
  }
}

.product__delivery-sub-item {
  padding-top: rem(19px);
}

.product__bottom-wrap {
  width: 100%;
  padding-top: rem(99px);
  padding-bottom: rem(100px);
}

.product__reviews-box {
  padding-top: rem(29px);
  padding-bottom: rem(55px);

  @include media($md, min) {
	padding-bottom: 0;
  }
}

.product__reviews-btn {
  height: rem(40px);
  line-height: 1;
  padding: 0 rem(37px);
  color: #000000;
  font-family: Rubik-Medium;
  font-size: rem(14px);
  font-weight: 500;
}

.product__reviews-item {
  padding-top: rem(30px);
  padding-bottom: rem(19px);

  &:not(:last-of-type) {
	border-bottom: 1px solid #dfdfdf;
  }
}

.product__reviews-title {
  line-height: rem(16px);
  font-size: rem(14px);
  color: #343434;
  font-family: Rubik-Bold;
  font-weight: 700;
}

.product__reviews-text {
  max-width: rem(684px);
  color: #343434;
  font-weight: 400;
  line-height: rem(25px);
  font-size: rem(16px);
  margin: 0;
  padding: rem(15px) 0;

  @include media($def, min) {
	line-height: rem(21px);
	font-size: inherit;

  }
}

.product__reviews-date {
  color: #8c8c8c;
  font-weight: 400;
}

.product__reviews-title-wrap {
  margin: 0;
  font-size: rem(14px);
}

.product__reviews-icon {
  transition: .3s;
  display: inline-block;

  svg {
	width: rem(12px);
	height: rem(13px);
  }

  &.like {
	padding-right: 5px;

	svg {
	  fill: #008000;
	}
  }

  &.dislike {
	display: inline-block;
	padding-right: 5px;

	svg {
	  fill: #ff0202;
	}
  }
}

.product__reviews-like {
  color: #8c8c8c;
  font-size: rem(14px);
  padding-right: 13px;
  cursor: pointer;
  transition: .3s;

  &:hover {
	color: #343434;
  }

  &.active {
	color: #343434;

	.product__reviews-icon {
	  transform: scale(1.2);
	}
  }
}

.product__reviews-dislike {
  color: #8c8c8c;
  font-size: rem(14px);
  padding-left: 13px;
  cursor: pointer;
  transition: .3s;

  &:hover {
	color: #343434;
  }

  &.active {
	color: #343434;

	.product__reviews-icon {
	  transform: scale(1.2);
	}
  }
}

.product__reviews-likes {
  display: flex;
  align-items: center;
}

.product__reviews-pagination {
  padding-top: rem(16px);
}

.gallery-preview__item {
  width: rem(100px);
  height: rem(100px);
  border: 1px solid #dfdfdf;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
  transition: .3s;

  &:hover {
	opacity: 0.7;
  }
}

.product__gallery-wrap {
  display: flex;
  position: relative;
}

.slick-current {
  .gallery-preview__item {
	//opacity: 1;
	//background-color: #ffffff;
  }
}

.product__gallery-preview {
  position: relative;

  .slick-arrow {
	//position: absolute;
	//background-color: #fff;
	//border: none;
	//border-radius: 50%;
	//width: rem(35px);
	//height: rem(35px);
	//box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	//top: 0;
	//bottom: 0;
	//margin: auto;

	&:hover {
	  //box-shadow: none;
	  //background-color: $main;
	}

	&:active {
	  //background-color: darken(#EDD41D, 10%);
	}

	&.slick-disabled {
	  display: none !important;
	}

	@include media($md, min) {
	  left: 0;
	  right: 0;
	  top: initial;
	  bottom: initial;
	  margin: auto;
	  transform: rotate(90deg);
	}
  }

  .slick-prev {
	background-image: url('./static/pic/arrow-left-slick.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: rem(6px) rem(11px);
	top: 0;
	left: -30px;
  }

  .slick-next {
	background-image: url('./static/pic/arrow-right-slick.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: rem(6px) rem(11px);
	right: -18px;
  }

  @include media($md, min) {
	.slick-prev {
	  top: -40px;
	}
  }
}

.product__gallery-item {
  width: 100%;
  height: rem(400px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;

  @include media($md) {
	height: rem(484px);
  }

  img {
	max-height: 100%;
  }
}

.sizes-gallery-popup {
  .product__gallery-item {
	margin: auto;
	height: 70vh;

	@include media(765px, max) {
	  height: 400px;

	  &.portrait{
		width: 40% !important;
	  }

	  &.landscape{
		width: 100% !important;
	  }
	}

	@include media(600px, max) {
	  &.portrait{
		width: 40% !important;
	  }
	}
  }

  .product__name {
	font-size: rem(33px);
  }

  .product__price-current {
	font-size: rem(29px);

	.currency {
	  font-size: rem(19px);
	  font-weight: bold;
	}

	.currency-small {
	  font-size: rem(15px);
	}
  }

  .product__code {
	font-size: rem(17px);
  }

  .size__item {
	width: 2.4rem;
	height: 2.4rem;
	margin-left: 0;
	margin-top: 0;
  }
}

.threesixty {
  min-height: rem(400px);
}

.touchevents .threesixty__images {
  margin-bottom: 0;
  height: 100%;
}

.threesixty__images {
  li {
	display: flex;
	width: 100%;
	height: rem(400px);
	align-items: center;
	justify-content: center;

	@include media($md) {
	  height: rem(484px);
	}
  }
}

.product__gallery-img {
  width: auto;
  margin: auto;
  max-height: rem(484px);
}

.product__3d-btn {
  width: rem(43px);
  height: rem(43px);
  border: 2px solid $main;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: transparent;
  right: 10px;
  top: 10px;
  transition: .3s;

  &:hover {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  }

  svg {
	width: rem(20px);
	height: rem(26px);
	fill: #4e4e4e;
	transition: .3s;
  }

  ._3d-icon {
	display: none;
	height: rem(26px);
  }

  .picture-icon {
	height: rem(26px);
  }

  &.is-image {
	._3d-icon {
	  display: block;
	}

	.picture-icon {
	  display: none;
	}
  }
}

.product__gallery-main {
  order: -1;

  @include media($md, min) {
	order: initial;
  }
}

.product__info-wrap {
  padding-top: rem(30px);

  @include media($ms, min) {
	padding-top: 0;
  }
}

.product__buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gallery-preview__wrap {
  margin-left: rem(35px);
  margin-right: rem(35px);
  margin-top: rem(5px);
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &.slick-initialized {
	opacity: 1;
	visibility: visible;
  }

  @include media($ms, min) {
	margin-left: 0;
	margin-right: 0;
	margin-top: rem(15px);
	margin-bottom: rem(15px);
  }
}

.cart-registration__info {
  display: flex;
  flex-direction: column;
}

.catalog__filters {
  display: none;
  margin-bottom: 50px;

  .catalog-filters__wrap {
	position: relative;
  }

  @include media($def, min) {
	display: block;
  }
}

.catalog__items-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 16px;

  @include media($def, max) {
	justify-content: space-around;
  }
}

.product-page__title-box {
  padding-top: rem(18px);
  padding-bottom: rem(29px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include media($ms, min) {
	flex-direction: row;
	align-items: flex-start;
  }
}

.product-page__back-btn {
  margin-top: rem(18px);
  padding: rem(5px) rem(15px);
}

.product-page__grid {
  float: right;
  float: right;
  margin: 0 10px 0 0;
  padding: rem(5px) rem(15px);
  cursor: pointer;
}

.is-select {
  background-color: #f8ed9f;
}

.search-result__sub-title {
  line-height: rem(23px);
  color: #8c8c8c;
  font-size: rem(18px);
  font-weight: 400;
  margin: 9px 0 0;

  .search-result__word {
	font-family: Rubik-Italic;
	color: #4e4e4e;
  }
}

.search-result__items-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rem(47px);
}

.is-hide {
  display: none !important; // sass-lint:disable-line no-important
}

.product__gallery {
  width: 100%;
}

.catalog__chosen-item {
  height: 30px;
  line-height: 18px;
  border-radius: 18px;
  background-color: #fdeee8;
  color: #18192e;
  font-size: 12px;
  font-weight: 400;
  padding-left: 7px;
  padding-right: 10px;
  display: inline-flex;
  margin-right: 8px;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;

  &--clear {
	background-color: #FF0202;
	border-color: #FF0202;
	transition: background-color 0.3s, border-color 0.3s;
	color: #fff;

	&:hover {
	  background-color: #d10202;
	  border-color: #d10202;
	}
  }
}

.catalog__filters-chosen {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 24px 16px;
}

.catalog__chosen-clear {
  font-size: 12px;
  font-weight: bold;
  color: #18192e;
  transition: color 0.3s;
  margin-left: 10px;
  position: relative;
  padding-left: 17px;

  &:hover {
	color: #FF0202;
  }

  &:before {
	content: '';
	background: url('./static/pic/close-icon-cross.svg') center no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 12px;
	height: 12px;
	margin: auto;

	@include media($dt, max) {
	  right: 170px;
	}
  }
}

.catalog__chosen-delete {
  border: none;
  background: none;
  outline: none;
  margin-left: 6px;
  line-height: 1;
  padding: 0;
  height: 100%;

  svg {
	width: rem(8px);
	height: rem(8px);
	fill: #121a27;
  }
}

.product__bottom-left {
  @media (min-width: $ms) and (max-width: $md) {
	padding-right: 10px;
  }
}

.product-main {
  position: relative;
  width: 100%;
  text-align: center;
}
.yt-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  &__frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  }
}
.rating-group {
  margin: 10px auto 0;
  display: inline-flex;
}

.rating__icon {
  pointer-events: none;
}

.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

.rating__input--none {
  display: none
}

.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
  &:before {
	content: '★';
	color: gold;
	text-shadow: 1px 1px #bbb;
  }
}

.review-popup__rating {
  display: flex;
  justify-content: center;
}

.rating__input:checked ~ .rating__label:before {
  color: #ddd;
}

.rating-group:hover .rating__label:before {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rating__input:hover ~ .rating__label:before  {
  color: #ddd;
}

.mobile-menu {
  &__link {
	&--head {
	  margin-right: 0 !important;
	}
  }
}

.mobile-menu {
  &__link {
	&--head {
	  margin-bottom: -1px !important;
	}

	&:after {
	  display: none;
	}
  }
}

.review-container {
  position: relative;
  padding: 20px 30px 100px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  &__title {
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
  }

  &--rating {
	margin: 0;

	&-wrapper {
	  justify-content: flex-start;
	}
  }
}

.review-item__rating {
  width: 265px;

  span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;

	&.active {
	  color: gold;
	  text-shadow: 1px 1px #bbb;
	}

	&:before {
	  content: '★';
	}
  }
}

.review-item {
  position: relative;
  padding: 20px 30px;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  border-bottom: 2px solid $main;
  margin: 0 0 50px;

  &__name {
	font-weight: 600;
  }

  &__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
  }

  &__answer	{
	border-top: 1px solid #eaeaea;
	padding: 10px 0 0 10px;
	&-name {
	  font-weight: 600;
	}
  }
}

.pages-counter {
  border: none;
  color: #e65d40;
  visibility: hidden;
}

.catalog__items-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #7d7d7d;
  text-transform: lowercase;

  @include media($def, max){
	display: none;
  }
}

.catalog__items-select {
  color: #18192e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;

  .select2-container--default .select2-selection--single {
	border: none;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
	padding-right: 0;
  }

  .select2-dropdown {
	background: #ffffff;
	min-width: 75px;
	border: none;
	-webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	-moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	border-radius: 20px;
	padding: 16px 0;

	.select2-search {
	  display:none
	}

  }

  .select2-results__option {
	font-family: Google Sans, serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #18192e;
	background: #ffffff;
	width: 75px;
	padding-left: 24px;
	box-sizing: border-box;


	&.select2-results__option--highlighted[aria-selected]{
	  color: #fde52d;
	  background-color: transparent;
	}

	&[aria-selected=true]{
	  background-color: #fde52d;
	  color: #18192E;
	}
  }

  .select2-container--default {
	.select2-selection--single .select2-selection__arrow {
	  height: auto;
	  top: 3px;
	  left: 0;
	  width: auto;
	  b{
		position: relative;
		top: 0;
		right: 35px;
		content: "";
		display: inline-block;
		transform: rotate(180deg);
		background: url('./static/pic/arrow-down-pink.svg') center no-repeat;
		height: rem(25.6px);
		width: rem(30px);
		background-size: 12px 6px;
		margin-left: 20px;
		-webkit-transition: .3s;
		transition: .3s;
		border:none;
	  }
	}

	&.select2-container--open {
	  .select2-selection__arrow  b {
		transform: rotate(0deg);
	  }
	}
  }

}

.child-add__wrap {
  box-sizing: border-box;
  position: relative;
  padding-left: 8px;

  @include media($def, max) {
	background-color: #fdeee8;
	padding: 0;
	margin-left: 30px;
  }
  @include media($md, max) {
	margin-left: 40px;
  }
  @include media($ms, max) {
	margin-left: 0;
  }

  &.js-init {
	border: none;
	outline: none;
	background: transparent;
  }

  .child-creation__button {
	position: relative;
	z-index: 4;
	margin-right: 0;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid #a1a1a1;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;

	@include media($def, max) {
	  padding: 8px 7px;
	}
  }

  .child-add__pic {
	background: url('./static/pic/child-icon.svg') center no-repeat;;
	height: 22px;
	width: 24px;
	margin-right: 20px;

	@include media($def, max) {
	  margin-right: 0;
	}
  }

  .child-inf {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media($def, max) {
	  display: none;
	}
  }

  .child-add__title {
	margin-right: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #18192e;

	@include media($def, max) {
	  margin-right: 7px;
	}

  }

  .child-add__description {
	background: url('./static/pic/information-q-mark.svg') center no-repeat;;
	height: 16px;
	width: 16px;

	@include media($def, max) {
	  background: none;
	}
  }

  .child-selection__wrap {
	padding: 24px;
	width: 97%;
	box-sizing: border-box;
	border: 1px solid #f8d4cd;
	border-radius: 0 0 10px 10px;
	display: none;
	position: absolute;
	z-index: 5;
	top: 85%;
	background-color: #fdeee8;

	@include media($def, max) {
	  border-top: none;
	  padding-top: 16px;
	  width: 100%;
	}

	&.active {
	  @include media($def, max) {
		display: none;
	  }
	}

  }


  .child-selection__gender {
	ul {
	  display: flex;
	  justify-content: start;
	  list-style-type: none;
	  padding-left: 0;
	  margin-top: 0;

	  .child-selection__tab {
		cursor: pointer;
		margin-right: 32px;

		span {
		  text-decoration: none;
		  font-weight: 400;
		  font-size: 14px;
		  line-height: 18px;
		  letter-spacing: 0.05em;
		  color: #7d7d7d;
		  position: relative;
		}

		&.active {
		  span {
			color: #18192e;
			&:after {
			  content: '';
			  position: absolute;
			  background-color: #e65d40;
			  width: 100%;
			  height: 2px;
			  bottom: -2px;
			  left: 0;
			}
		  }
		}
	  }
	}
  }

  .child-age {
	height: rem(50px);
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	background: #ffffff;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	display: none;
	position: relative;

	&.is-active {
	  display: flex;
	}

	select{
	  width: 100%;
	}

	&__container {
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	  position: relative;
	}

	.select2-container--default .select2-selection--single {
	  border: none;
	}

	.select2-dropdown {
	  background: #ffffff;
	  border: none;
	  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	  border-radius: 0 0 20px 20px;
	  padding: 16px 0;

	  .select2-search {
		display:none
	  }

	  .select2-results__option--highlighted[aria-selected]{
		color: #f8d4cd;
		background-color: transparent;
	  }

	  .select2-results__option[aria-selected=true]{
		background-color: #f8d4cd;
		color: #18192e;
	  }
	}

	.select2-container--default {
	  .select2-selection--single .select2-selection__arrow {
		height: auto;
		top: 1px;
		left: 0;
		width: auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		b{
		  position: static;
		  margin: 0;
		  content: "";
		  background: url('./static/pic/arrow-down-pink.svg') center no-repeat;
		  height: 25px;
		  width: 25px;
		  background-size: 12px 6px;
		  -webkit-transition: .3s;
		  transition: .3s;
		  border:none;
		}
	  }

	  &.select2-container--open {
		.select2-selection__arrow  b {
		  transform: rotate(180deg);
		}
	  }
	}
  }
}

.mfp-container {

  .selection-show {
	width: rem(340px);

	.child-add__wrap {
	  z-index: 5;

	  @include media($def, max) {
		margin-left: 0;
	  }

	  .child-add__pic {
		margin-right: 0;
		@include media($sm, max) {
		  margin-left: 10px;
		}
	  }

	  .child-inf {
		position: relative;
		display: flex;

		.child-add__title {
		  margin-right: 65px;
		  @include media($def, max) {
			margin-right: 7px;
		  }
		  @include media($sm, max) {
			margin-right: 30px;
		  }

		}
	  }
	}

	.child-selection__wrap {
	  position: relative;
	  display: block;
	}
  }


  .select2-container--default .select2-selection--single {
	border: none;
  }

  .select2-dropdown {
	background: #ffffff;
	border: none;
	-webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	-moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.22);
	border-radius: 0 0 10px 10px;
	padding: 16px 0;

	.select2-search {
	  display:none
	}

	.select2-results__option--highlighted[aria-selected]{
	  color: #f8d4cd;
	  background-color: transparent;
	}

	.select2-results__option[aria-selected=true]{
	  background-color: #f8d4cd;
	  color: #18192e;
	}
  }

  .select2-results__option  {
	text-align: left;
  }

  .select2-container--default {
	.select2-selection--single .select2-selection__arrow {
	  height: auto;
	  top: 1px;
	  left: 0;
	  width: auto;
	  display: flex;
	  justify-content: flex-end;
	  align-items: center;

	  b {
		position: static;
		margin: 0;
		content: "";
		background: url('./static/pic/arrow-down-pink.svg') center no-repeat;
		height: rem(25.6px);
		width: rem(25px);
		background-size: 12px 6px;
		-webkit-transition: .3s;
		transition: .3s;
		border: none;
	  }
	}

	&.select2-container--open {
	  .select2-selection__arrow b {
		transform: rotate(180deg);
	  }
	}
  }

}

.product-item__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
  height: 26px;

  .product-item__stars {

	.rating-stars {
	  display: flex;
	  padding: 0;
	  margin: 0;

	  .rating-stars__item {
		list-style: none;
		margin-right: 5px;

		svg {
		  fill: #959cad;
		  stroke-width: 1px;
		  opacity: 0.5;

		  &._fill_yellow {
			fill: #ffc700;
			opacity: 1;
		  }
		}
	  }
	}

  }

  .product-item__reviews {
	font-size: 12px;
	line-height: 16px;
	color: #262728;
	opacity: 70%;
  }
}

#filters-menu {
  border-radius: 0 24px 24px 0;
  max-height: 100vh;
  overflow-y: hidden;

  .filtration__items-scope {
	padding: 0;
	margin-bottom: 19px;

	.filtration__item-name {
	  padding: 0;
	}
	.catalog__chosen-clear {
	  padding-right: 0;
	  font-weight: normal;
	}
  }

  .catalog__filters-chosen {
	padding: 0 10px 10px 0;
  }

  .mobile__filter-items {
	padding: 20px;
	.filters__item {
	  padding: 0;

	  .filters__item-top {
		padding: 10px 0 10px;

		&:before {
		  width: 100%;
		}

		.filters__item-name {
		  font-size: 16px;
		}
	  }

	  .filters__child-wrap {
		padding: 0 0 10px 0;

		.filters__child-link {
		  margin-bottom: 5px;
		  padding-left: 27px;

		  &:before {
			width: 16px;
			height: 16px;
		  }
		}
	  }
	}
	.filters__price-input {
	  font-size: 16px;
	}
  }
}

.mobile__summary {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  background-color: #FDEEE8;
  padding: 10px 20px;
  z-index: 3;

  &-submit {
	height: 40px;
	padding: 0 21px;
	font-size: 14px;
	color: #FDEEE8;
	background-color: #E65D40;
	border-radius: 10px;
	border: none;
	outline: none;
	box-shadow: none;
  }

  &-title {
	display: flex;
	align-items: center;
	color: #7D7D7D;
	font-size: 14px;
	line-height: normal;
	span {
	  color: #18192E;
	}
  }
}
.mm-menu .mobile__summary {
  display: flex;
}

.__uppercase {
  text-transform: uppercase;
}
.__bold {
  font-weight: 700;
}
.mfp-content .child-add__wrap .child-creation__button{
  border-color: rgb(248, 212, 205);
}

.overflow-hidden {
  overflow: hidden;
}