.contacts__title-wrap {
	padding-top: rem(58px);
	padding-bottom: rem(29px);
}

.contacts__title {
  font-size: rem(36px);
  line-height:rem(46px);
}

.contacts__main-phone {
	color: #4e4e4e;
	font-size: rem(24px);
	font-weight: 700;
	line-height: rem(40px);
	font-family: Rubik-Bold;
	transition: .3s;
	margin-right: rem(40px);

	.no-touchevents & {
		&:hover {
			color: $main;
		}
	}
}

.contacts__phone-title {
	font-size: rem(18px);
	line-height: rem(31px);
	font-weight: 400;
	margin: 0;

	.city {
		font-weight: 500;
		font-family: Rubik-Medium;
	}

	@include media($sm, min) {
		margin: 0 4px;
	}
}

.contacts__box {
	padding-top: 12px;
}

.contacts-item {
	color: #8c8c8c;
}

.contacts-item__top-wrap {
	width: 100%;
	//height: rem(117px);
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	border-bottom: 1px solid #dfdfdf;
	background-color: #ffffff;

	&:first-of-type {
		border-top: 1px solid #dfdfdf;
	}

	&.open {
		color: #4e4e4e;
		border-top: 1px solid #dfdfdf;

		.contacts-item__address-box {
			&:before {
				background-color: $main;
			}
		}

		.contacts-item__phones-box {
			&:before {
				background-color: $main;
			}
		}

		.contacts-item__schedule-box {
			&:before {
				background-color: $main;
			}
		}
	}
}

.contacts-item__top {
	width: 100%;
	padding: rem(22px) 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@include media($ms, min) {
		flex-direction: row;
		align-items: center;
	}
}

.contacts-item__address-box {
	padding-left: rem(65px);
	position: relative;
	cursor: pointer;
	transition: .3s;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		width: rem(44px);
		height: rem(44px);
		border-radius: 50%;
		background: url('./static/pic/location-icon.png') center no-repeat #dfdfdf;
		background-size: rem(20px) rem(27px);
		transition: .3s;
	}

	@include media($ms, min) {
		width: 33.3%;
		flex-basis: rem(535px);
	}

	.no-touchevents & {
		&:hover {
			color: darken($main, 20%);

			&:before {
				background-color: lighten($main, 15%);
			}
		}
	}
}

.contacts-item__phones-box {
	padding-left: rem(65px);
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		width: rem(44px);
		height: rem(44px);
		border-radius: 50%;
		background: url('./static/pic/phone-call.png') center no-repeat #dfdfdf;
		background-size: rem(19px) rem(19px);
	}

	@include media($sm, min) {
		padding-top: 0;
		padding-bottom: 0;
	}

	@include media($ms, min) {
		width: 33.3%;
		flex-basis: rem(363px);
	}
}

.contacts-item__schedule-box {
	padding-left: rem(65px);
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 190px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		width: rem(44px);
		height: rem(44px);
		border-radius: 50%;
		background: url('./static/pic/clock-icon.png') center no-repeat #dfdfdf;
		background-size: rem(22px) rem(22px);
	}

	@include media($sm, min) {
		padding-top: 0;
		padding-bottom: 0;
		max-width: none;
	}

	@include media($ms, min) {
		width: 33.3%;
		flex-basis: rem(199px);
	}
}

.contacts-item__name {
	font-size: rem(18px);
	font-weight: 500;
	line-height: rem(24px);
	margin: 0;
	font-family: Rubik-Medium;
}

.contacts-item__address {
	font-size: rem(14px);
	line-height: rem(24px);
	font-weight: 400;
	margin: 0;
	max-width: rem(417px);
}

.contacts-item__phone {
	font-size: rem(14px);
	font-weight: 500;
	line-height: rem(24px);
	font-family: Rubik-Medium;
	transition: .3s;

	&:hover {
		color: $main;
	}

	&:first-of-type {
		margin-right: 15px;
	}
}

.contacts-item__schedule-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: rem(14px);
	font-weight: 400;
	line-height: rem(24px);
}

._medium {
	font-family: Rubik-Medium;
}

.contacts__form-box {
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	background-color: #ffffff;
	padding: rem(35px) rem(29px) rem(18px) rem(41px);
}

.contacts__form-text {

	@include media($sm, min) {
		border-right: 1px solid #dfdfdf;
	}
}

.form-text {
	max-width: rem(466px);
	color: #8c8c8c;
	font-size: rem(14px);
	font-weight: 400;
	line-height: rem(24px);
}

.contacts__form-submit {
	max-width: rem(200px);
	height: rem(50px);
	line-height: rem(50px);
	width: 100%;
}

.contacts__form {

	@include media($sm, min) {
		padding-left: rem(40px);
	}
}

.contacts__data-input {
	height: rem(40px);
	line-height: rem(40px);
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background-color: #f5f6f8;
	width: 100%;
	margin-bottom: rem(20px);
	padding-left: rem(20px);
	font-size: rem(14px);
	font-weight: 400;

	&::placeholder {
		color: #8c8c8c;
		font-size: rem(14px);
		font-weight: 400;
	}

	&:focus {
		&::placeholder {
			color: #4e4e4e;
		}
	}
}

.contacts__data-submit {
	height: rem(50px);
	line-height: rem(50px);
	width: 100%;
	max-width: rem(200px);
	color: #4e4e4e;
	font-size: rem(14px);
	font-family: Rubik-Medium;
	font-weight: 500;
}

.contacts__data-textarea {
	height: rem(102px);
	width: 100%;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background-color: #f5f6f8;
	resize: none;
	outline: none;
	padding: rem(15px) rem(20px);
	transition: .3s;
	font-size: rem(14px);
	font-weight: 400;
	margin-bottom: rem(15px);

	&::placeholder {
		color: #8c8c8c;
		font-size: rem(14px);
		font-weight: 400;
	}

	&:focus {
		box-shadow: 0 2px 0 0 $main;
		&::placeholder {
			color: #4e4e4e;
		}
	}

	&.has-error {
		box-shadow: 0 2px 0 0 $secondary;
	}
}

.contacts__data-label {
	width: 100%;
	position: relative;

	&--textarea {
		width: 100%;
	}

	@include media($sm, min) {
		&:not(.contacts__data-label--textarea) {
			width: 50%;
		}

		&:first-of-type {
			padding-right: rem(20px);
		}

		&:nth-of-type(3) {
			padding-right: rem(20px);
		}
	}

	label.has-error { // sass-lint:disable-line force-attribute-nesting
		left: 0;
		position: absolute;
		display: block;
		top: rem(43px);
		font-size: rem(10px);
		text-align: right;
		color: $secondary;
	}
}

._pb-100 {
	padding-bottom: rem(100px);
}

.contacts__form-wrap {
	padding-top: rem(60px);
}

.contacts-item__bottom {
	height: rem(360px);
	width: 100%;
	display: none;
}

.map {
	width: 100%;
	height: 100%;
}

.contacts-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 65px;

  @media screen and (min-width: 640px) {
	flex-direction: row;
  }

  &__content .phones {
	display: flex;
  }

  &__content {
	flex: 1 0 48%;
  }
}

.hot-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(20px);
  background-color: #FDEEE8;
  border-radius: 20px;

  &__phone {
	padding: rem(60px) 0;
	background-color: #fff;
	text-align: center;

	a {
	  color: #E65D40;
	  font-size: rem(36px);
	  line-height: rem(40px);
	}
  }
}

.phones {
  display: flex;
  flex-wrap: wrap;

  &__title {
    color: #828282;
    font-size: rem(16px);
    line-height: rem(20px);
  }

  &__item {
	flex: 1 0 47%;
	padding-bottom: rem(66px);
	margin-right: rem(16px);
	border-top: rem(1px) solid #EBF0F5;

	& a {
	  display: block;
	  font-weight: 500;
	  font-size: rem(20px);
	  line-height: rem(30px);
	  color: #18192E;

	  &:hover, &:focus {
		color: #c2ac02;
		transition: .3s;
	  }
	}

	& a[href^="mailto:"] {
	  text-decoration: underline;
	}
  }
}

.messengers {
  display: flex;
  padding: rem(130px) 0 rem(40px);

  &__link {
	display: block;
	position: relative;
	flex: 1 0 50%;
	text-align: center;
	font-size: rem(18px);
	line-height: rem(24px);
	color: #828294;

	&:hover, &:focus {
	  text-decoration-line: underline;
	  color: #E65D40;
	  transition: .3s;
	}

	&:before {
	  content: "";
	  position: absolute;
	  top: rem(-96px);
	  left: 50%;
	  transform: translateX(-50%);
	  height: rem(80px);
	  width: rem(80px);
	  border-radius: 50%;
	}

	&:first-child:before {
	  background: url('../images/telegram.svg') #fff center/40% no-repeat;
	}

	&:first-child:after {
	  content: "";
	  position: absolute;
	  right: 0;
	  top: rem(-74px);
	  width: 2px;
	  height: rem(110px);
	  background-color: #fff;
	}

	&:nth-child(2):before {
	  background: url('../images/viber.svg') #fff center/40% no-repeat;
	}
  }
}
