////
/// @group _blocks/
////

/// Блок для центрирования контента
.container {
	width: 100%;
	flex-basis: 100%;
	max-width: rem(1520px);
	margin-left: auto;
	margin-right: auto;
	padding-left: rem(10px);
	padding-right: rem(10px);

	//& &,
	//&--no-gap {
	//	width: 100%;
	//	padding-left: 0;
	//	padding-right: 0;
	//}
	//
	//&--full {
	//	max-width: 100%;
	//}
	//
	//@include clearfix();
}
