////
/// @group _blocks/
////

/// Description
.cookie {
	position: fixed;
	bottom: -1px;
	left: 0;
	right: 0;
	background: #000;
	transition: transform .3s ease;
	z-index: 1000;

	&.is-hidden {
		transform: translateY(110%);
	}

	&__content {
		padding: 0;
		margin: 0;
		color: #aaa;
		max-width: 900px;
		font-size: rem(18px);

		@include media($md, min) {
			font-size: rem(14px);
		}
	}
}

.cookie-btn-confirm {
	height: rem(40px);
	line-height: rem(40px);
	padding: 0 rem(30px);
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(18px);
	font-weight: 500;

	@include media($md, min) {
		font-size: rem(14px);
	}
}
