////
/// @group _blocks/
////

/// Description
.draggable-table {
	position: relative;
	overflow: hidden;

	&__holder {
		overflow: hidden !important; // sass-lint:disable-line no-important
		cursor: initial !important; // sass-lint:disable-line no-important
		user-select: initial !important; // sass-lint:disable-line no-important

		.draggable-table--left &,
		.draggable-table--right & {
			cursor: move !important; // sass-lint:disable-line no-important
		}

		.touchevents & {
			touch-action: unset !important; // sass-lint:disable-line no-important
		}
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: rem(24px);
		pointer-events: none;
		opacity: 0;
		transition: opacity .2s ease;
		z-index: 99;
	}

	&::before {
		right: 100%;
		box-shadow: 10px 0 8px -6px #000;
	}

	&::after {
		left: 100%;
		box-shadow: -10px 0 8px -6px #000;
	}

	&--left::before,
	&--right::after {
		opacity: .3;
	}
}
