.error__header {
	background: $bg;
	padding: rem(15px);
}

.error__header-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.error__content {
	padding-top: rem(50px);
}

.error__title {
	text-align: center;
	margin: 0;
	color: $main;
	font-size: rem(180px);
	line-height: rem(180px);
	font-family: Rubik-Bold;

	@include media($md, min) {
		font-size: rem(280px);
		line-height: rem(280px);
	}
}

.error__text {
	color: #4e4e4e;
	margin: 0;
	text-align: center;
}

.error__controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: rem(450px);
	margin: auto;
	padding-top: rem(40px);
}

.error__link {
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: rem(38px);
	height: rem(40px);
	width: 50%;
	max-width: rem(200px);
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(14px);
	font-weight: 500;
}
