.faq__item {
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: rem(20px);
}

.faq__item-top {
  cursor: pointer;
  padding: rem(21px);
  display: flex;

  &:hover {
	.faq__item-icon {
	  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.06);
	}

	.faq__item-title {
	  color: $main;
	}
  }

  &.open {
	.faq__item-icon {
	  background: url('./static/pic/minus-icon.png') center no-repeat #f8ed9f;
	  background-size: rem(12px) 2px;
	}
  }
}

.faq__item-bottom {
  padding: rem(23px);
  border-top: 1px solid #dfdfdf;
  display: none;
}

.faq__item-text {
  margin: 0;
  color: #4e4e4e;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(24px);
}

.faq__item-title {
  color: #4e4e4e;
  font-weight: 500;
  font-family: Rubik-Medium;
  transition: .3s;
}

.faq__item-icon {
  display: inline-block;
  width: rem(25px);
  height: rem(25px);
  border-radius: 50%;
  margin-right: rem(11px);
  background: url('./static/pic/plus-icon.png') center no-repeat $main;
  background-size: rem(12px) rem(12px);
  transition: box-shadow .3s;
}

.faq__sidebar-items {
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
}

.faq__sidebar-item {
  //max-width: rem(133px);
  max-height: rem(133px);
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-of-type(1) {
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
  }

  &:nth-of-type(2) {
	border-bottom: 1px solid #dfdfdf;
  }

  &:nth-of-type(3) {
	border-right: 1px solid #dfdfdf;
  }
}

.faq__sidebar-toggle {
  width: 100%;
  height: rem(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  flex-direction: column;

  &:not(.is-active) {

	.faq__sidebar-icon {
	  background-color: #f8ed9f;
	}

	&:hover {
	  background-color: #f8ed9f;

	  .faq__sidebar-icon {
		background-color: #fff;
	  }
	}
  }

  &.is-active {
	background-color: $main;

	.faq__sidebar-icon {
	  border: 1px solid #4e4e4e;
	}
  }

  @include media($md, min) {
	height: rem(133px);
  }
}

.faq__sidebar-text {
  color: #4e4e4e;
  font-size: rem(14px);
  font-weight: 500;
  font-family: Rubik-Medium;
}

.faq__sidebar-icon {
  display: flex;
  width: rem(52px);
  height: rem(52px);
  border-radius: 50%;
  transition: .3s;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  svg {
	width: rem(30px);
	height: rem(19px);
	fill: #4e4e4e;
  }
}

.faq__main {
  padding-top: rem(40px);

  @include media(480px, min) {
	padding-left: rem(31px);
	padding-top: 0;
  }
}

.faq__title-wrap {
  padding: rem(58px) 0 rem(29px) 0;
}

.faq__sidebar-bottom {
  padding-top: rem(10px);
}

.faq__sidebar-callback {
  width: 100%;
  height: rem(50px);
  line-height: rem(50px);
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  border: none;
  color: #4e4e4e;
  font-size: rem(14px);
  font-weight: 500;
  font-family: Rubik-Medium;
  transition: .3s;

  &:hover {
	box-shadow: none;

	.faq__callback-text:after {
	  transform: scale(0);
	}
  }
}

.faq__callback-text {
  position: relative;

  &:after {
	content: '';
	width: 100%;
	display: block;
	height: 1px;
	background-color: #4e4e4e;
	position: absolute;
	left: 0;
	bottom: -3px;
	transition: .3s;
  }
}

.container--faq {
  padding-bottom: rem(100px);
}

.export {
  &__white-block {
	padding: 10px 20px;
	background: white;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	position: relative;
  }

  &__button-link {
	background: #fff;
	line-height: 0;
	border: 2px solid #FDE52D;
	display: inline-block;
	padding: 5px;
	border-radius: 8px;
	font-size: 18px;
	position: relative;
	cursor: pointer;
	transition: .3s;

	&:hover {
	  box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.06);
	}
  }

  &__form {
	min-width: 600px;

	label.has-error {
	  margin-left: 15px;
	}

	.select2.select2-container, .select2-results__option {
	  font-size: 12px;
	  width: 100%!important;
	}
  }

  &__slider {
	width: 300px;
  }

  &__slider--client {
	display: flex;

	p {
	  width: 250px;
	}

	input {
	  width: 100px;
	}
  }

  &__checkers {
	margin: 0 0 0 20px;
	padding-left: 0;

	.checkbox__icon {
	  margin-left: -15px;
	  display: inline-block;
	  vertical-align: initial;
	  width: 12px;
	  height: 12px;
	  background-size: contain;
	  background-repeat: no-repeat;
	  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 52 52' style='enable-background:new 0 0 52 52;' xml:space='preserve'%3E%3Cpath d='M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26 S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z'/%3E%3Cpath d='M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1 s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z'/%3E%3C/svg%3E%0A");

	}

	.checkbox__icon.opened {
	  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 52 52' style='enable-background:new 0 0 52 52;' xml:space='preserve'%3E%3Cpath d='M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26 S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z'/%3E%3Cpath d='M39,25H13c-0.552,0-1,0.447-1,1s0.448,1,1,1h26c0.552,0,1-0.447,1-1S39.552,25,39,25z'/%3E%3C/svg%3E%0A");
	}

	.checkbox__icon:hover {
	  cursor: pointer;
	}

	&.is-hide {
	  display: none;
	}

	li {
	  list-style: none;
	}

	input[type=checkbox] {
	  margin: 0 5px;
	}
  }

  &__title-wrap {
	padding: rem(58px) 0 rem(29px) 0;
  }

  &__buttons {
	display: inline-flex;
	align-items: center;
	border-radius: 6px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
	overflow: hidden;
	vertical-align: middle;

	@include media(1024px, min) {
	  margin-right: rem(20px);
	}
  }

  &__button {
	padding: 6px 8px;
	font-size: 12px;
	line-height: 1em;
	color: #000;
	background-color: #ffffff;
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;

	&:hover {
	  color: #343434;
	  background-color: #f7de27;
	}

	&.is-active {
	  cursor: default;
	  color: #343434;
	  background-color: #f7de27;
	}
  }

  &__save {
	padding: 20px 40px;
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 50px;
	margin-right: 20px;
  }

  &__availability {
	border-radius: 6px;
  }

  &__table-header {
	padding-bottom: 5px;

	> div {
	  border-bottom: 1px solid grey;
	}
  }

  &__product-name {
	display: flex;
	white-space: nowrap;
	flex-wrap: nowrap;
	overflow: hidden;
	padding-right: 5px;
  }

  &__info {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;

	&:hover {
	  cursor: pointer;
	}
  }

  &__info-icon {
	width: 20px;
	height: 20px;
  }

  &__info-text {
	display: none;
	position: absolute;
	background: white;
	padding: 10px;
	z-index: 5;
	max-width: 400px;
	box-shadow: 2px 2px 7px 0 grey;
  }

  &__saved-noty {
	font-weight: bold;
	display: none;
	position: absolute;
	right: 75px;
	padding: 5px 10px;
	background: #277e27;
	border-radius: 6px;
	color: white;
  }

  &__filter-noty {
	font-weight: bold;
	display: none;
	position: absolute;
	right: 75px;
	padding: 5px 10px;
	background: #277e27;
	border-radius: 6px;
	color: white;
  }

  &__your-price {
	color: red;
	font-weight: bold;
  }

  &__currency {
	font-size: 10px;
  }

  input[data-notAll="false"] {
	opacity: .5;
  }
}

.preloader {
  $max: 12;
  $angle: 360/$max;
  $size: 150px;
  $wh: 130px;
  $fill: crimson;

  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  background: #ffffff9e;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100Vh;
  width: 100%;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;

  .l-wrapper {
	position: absolute;
	width: $wh*4;
	height: $wh*2.3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	text-align: center;
  }

  svg {
	height: $wh;
	width: $wh;
	margin: 0 2em 2em;
	overflow: visible;
	/*   border: 1px solid red; */
  }

  .g-circles {
	//transform: scale(.9) translate(7px, 7px);
  }

  @function transform($item: 1) {
	$base: rotate(#{-$angle*$item}deg) translate(5px, 5px) scale(.9);
	@return $base;
  }

  .g--circle {
	transform-origin: $size/2 $size/2;

	fill: $fill;
	animation: opacity 1.2s linear infinite;

	@for $item from 1 through $max {
	  &:nth-child(#{$max}n + #{$item}) {
		animation-delay: -#{$item/10}s;
		transform: transform($item);
	  }
	}
  }

  .g-circles--trapez .g--circle {
	fill-opacity: 1;
	animation-name: opacity, colors;
  }

  @keyframes opacity {
	3% {
	  fill-opacity: 1;
	}
	75% {
	  fill-opacity: 0;
	}

  }

  @keyframes opacity-stroke {
	10% {
	  stroke-opacity: 1;
	}
	85% {
	  stroke-opacity: 0;
	}

  }

  @keyframes colors {
	0% {
	  fill: yellowgreen;
	}
	10% {
	  fill: gold;
	}
	75% {
	  fill: crimson;
	}
  }

  @keyframes colors-stroke {
	0% {
	  stroke: yellowgreen;
	}
	10% {
	  stroke: gold;
	}
	75% {
	  stroke: crimson;
	}
  }

  @keyframes colors-2 {
	0% {
	  fill: yellow;
	}
	50% {
	  fill: red;
	}
	65% {
	  fill: orangered;
	}
	95% {
	  fill: gold;
	}
  }

  @keyframes colors-3 {
	0% {
	  fill: yellowgreen;
	}
	50% {
	  fill: turquoise;
	}
	65% {
	  fill: yellow;
	}
	95% {
	  fill: orange;
	}
  }

  @keyframes transform {
	10% {
	  transform-origin: 50px 50px;
	  transform: scale(.85);
	}
  }

  @keyframes transform-2 {
	40% {
	  transform: scale(.85) translate(-10px, -10px);
	}
	60% {
	  stroke-width: 15;
	}
  }
}
