.footer {
  font-size: rem(16px);
  color: #18192E;
  background: $bg;
  border-top: 4px solid #fde52d;

  &.subscribe {
	.footer__top {
	  padding-top: rem(141px);
	}
  }

  &__client {
	display: block;

	@include media($def, max) {
	  display: none;
	}
  }

  &__links-wrap {
	align-items: center;
	width: 100%;

    @include media($def, max) {
      display: flex;
      margin: 15px 0 0;
    }

	& > * {
      width: 100%;

      @include media($def, max) {
        width: 50%;
      }
	}
  }
}

.footer__top {
  padding-top: rem(65px);
  padding-bottom: rem(25px);

  .grid {
	justify-content: space-between;
  }

  @include media($def, max) {
	padding-top: rem(30px);
	padding-bottom: rem(15px);
  }
}

.footer-bottom__content {
  border-top: 1px solid #D6DEE8;
  font-size: rem(12px);
  padding: 20px 0;

  .grid {
	justify-content: space-between;
	align-items: center;
  }

  @include media($def, max) {
	padding-top: 10px;
	padding-bottom: 15px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-size: rem(14);
  color: #4d4d4d;

  @include media($def, max) {
	text-align: center;
  }
}

.devs {
  font-size: rem(14);
  color: #4D4D4D;

  @include media($def, max) {
	text-align: center;
    width: 100%;
  }
}

.footer__payments {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;

  @include media($def, max) {
	display: none;
  }

  &--mob {
	margin: 0;
    display: none;

	@include media($def, max) {
	  display: flex;
	}
  }

  img {
	max-height: 38px;
	max-width: 100px;

	+ img {
	  margin-left: rem(5px);
	}
  }
}

.wezom-link {
  padding-left: rem(10px);

  svg {
	width: rem(33px);
	height: rem(12px);
  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(12px);

  svg {
	width: rem(65px);
	height: rem(50px);
  }
}

.footer__social-item {
  background-color: #000000;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: rem(10px);
  transition: .3s;

  svg {
	height: rem(16px);
	max-width: rem(16px);
	fill: #fff;
  }

  &:hover {
	opacity: 0.5;
  }
}

.footer-menu__title {
  font-size: rem(14px);
  margin: 0 0 20px;
  width: 100%;
  color: #4D4D4D;
  opacity: 0.5;

  @include media($def, max) {
	margin: 0 0 6px;
  }
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.footer-menu__link {
  padding: rem(8px) 0;
  display: block;
  transition: .3s;
  font-size: 14px;

  &:hover {
	color: $main;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  flex-basis: rem(264px);
  align-items: flex-start;

  @media (min-width: 640px) and (max-width: 1024px) {
	padding: 0 rem(10px);
  }
}

.footer__phone {
  font-size: rem(20px);
  transition: .3s;
  font-weight: 500;
  display: block;

  &:hover {
	color: $main;
  }
}

.footer__callback {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: rem(20);
  font-weight: 500;

  &:after {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	background: #18192E;
	opacity: .3;
	height: 2px;
	bottom: -5px;
	left: 0;
	transition: .3s;
  }

  &:hover {
	&:after {
	  transform: scaleX(0);
	}
  }
}

.footer__mail {
  position: relative;
  display: inline-block;
  margin: 10px 0 40px;
  font-size: rem(20);
  font-weight: 500;

  &:after {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	background: #18192E;
	opacity: .3;
	height: 2px;
	bottom: -5px;
	left: 0;
	transition: .3s;
  }

  &:hover {
	&:after {
	  transform: scaleX(0);
	}
  }

  @include media($def, max) {
	margin: 10px 0 16px;
  }
}

.footer__schedule {
  font-size: rem(14px);
  display: inline-block;
  color: #4d4d4d;
}

.footer__catalog {
  display: block;

  @media (min-width: 640px) and (max-width: 1024px) {
	padding: 0 rem(10px);
  }
}

.footer__buy {
  display: block;

  @media (min-width: 640px) and (max-width: 1024px) {
	padding: 0 rem(10px);
  }
}

.footer__socials-wrap {
  @include media ($sm, max) {
	display: flex;
	width: 100%;
	align-items: center;
	order: 1;
	justify-content: space-between;
  	margin: 20px 0 0;
  }
}

.footer__buy-menu {
  display: flex;
  justify-content: space-between;
}

.mobile-callback {
  -webkit-animation: 4s ease-in-out 3s normal none infinite running trambling-animation;
  -moz-animation: 4s ease-in-out 3s normal none infinite running trambling-animation;
  -o-animation: 4s ease-in-out 3s normal none infinite running trambling-animation;
  animation: 4s ease-in-out 3s normal none infinite running trambling-animation;
  cursor: pointer;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 9;
  display: none;

  @include media(1024px, min) {
	display: block;
  }

  @keyframes trambling-animation {
	0%, 50%, 100% {
	  transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	}
	10%, 30% {
	  transform: rotate(-10deg);
	  -webkit-transform: rotate(-10deg);
	  -moz-transform: rotate(-10deg);
	  -o-transform: rotate(-10deg);
	  -ms-transform: rotate(-10deg);
	}
	20%, 40% {
	  transform: rotate(10deg);
	  -webkit-transform: rotate(10deg);
	  -moz-transform: rotate(10deg);
	  -o-transform: rotate(10deg);
	  -ms-transform: rotate(10deg);
	}
  }

  svg {
	width: 30px;
	height: 30px;

	@include media (1024px, min) {
	  transform: scale(1.5);
	}
  }
}



