////
/// @group _blocks/
////

/// Description
.form {
	position: relative;
}

.form-group {
	margin-bottom: 1rem;
	position: relative;
}

.form-controller {
	position: relative;
}

.form-input {
	border-width: 1px;

	&::placeholder {
		color: #ccc;
		opacity: 1;
	}
}

.form-textarea {
	&::placeholder {
		color: #ccc;
		opacity: 1;
	}
}

.form-input,
.form-textarea,
.form-select {
	display: block;
	width: 100%;

	&.has-error {
		border-color: #f00;
	}
}

.form-flag {
	&__input {
		&.has-error ~ .form-flag__value {
			color: #f00;
		}
	}
}
