.header {
	//position: fixed;
	width: 100%;
	//background: #ffffff;
	//z-index: 100;
	//top: 0;
	position: relative;
	z-index: 10;

	&.open {
		top: 0;
		left: 0;
		position: fixed;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__top {
	  transition: all ease 0.5s;
	  &.__fixed {
		position: fixed;
		width: 100%;
		z-index: 50;

		.header__top-content--pc,
		.header__logo,
		.header__phones-wrap {
		  display: none;
		}

		.header__search-wrap {
		  width: 50vw;
		  max-width: none;
		}
	  }
	}



  &__logo {
	display: flex;
	align-items: center;
	max-width: 100px;
	max-height: 40px;
	margin: 0 30px 0 0;
	transition: all ease 0.5s;

	svg {
	  width: 100%;
	  height: 100%;
	}

	@include media($def, max) {
	  display: none;
	  margin: 0;
	}

	&--mob {
	  @include media($def, max) {
		display: flex;
		max-width: 200px;
		max-height: 30px;
	  }

	  @include media($def) {
		display: none;
	  }
	}
  }

  &__phones {
	&-all {
	  display: flex;
	  opacity: 0;
	  pointer-events: none;
	  flex-direction: column;
	  align-items: center;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 5;
	  width: 100%;
	  border-bottom: 2px solid rgba(24, 25, 46, 0.3);
	  transition: all ease 0.5s;
      background: #E2E9F2;

	  & > * {
		margin: 0 0 5px;
	  }
	}
	&-wrap {
	  position: relative;
	  width: 10rem;
	  padding: 0 0 5px 0;
	  display: inline-flex;
	  line-height: 1.3em;
	  flex-direction: column;
	  border-bottom: 2px solid rgba(24, 25, 46, 0.3);
	  transition: all .2s ease-in-out;

	  &.active {
		border-bottom: 2px solid transparent;
		.header__phones-head {
		  opacity: 0;
		}
		.header__phones-all {
		  opacity: 1;
		  pointer-events: all;
		}
	  }

	  @include media(1024px, min) {
		&:hover {
		  border-bottom: 2px solid transparent;

		  .header__phones-head {
			opacity: 0;
		  }
		  .header__phones-all {
			opacity: 1;
			pointer-events: all;
		  }
		  .header__phones-svg {
			transform: translateY(-50%) rotate(0deg);
		  }
		}
	  }
	}
	&-phone {
	  font-size: rem(20);
	  transition: .3s;
	  text-align: center;
	  transition: all .2s ease-in-out;

	  &:hover {
		color: $secondary;
	  }
	}
	&-svg {
	display: flex;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(180deg);
	right: -25px;
	  transition: all .3s ease-in-out;
	  z-index: 6;

	svg {
	  fill: $secondary;
	  width: 25px;
	  height: 25px;
	}
  }
  }

  &__nav {
	display: none;

	@include media(1024px, min) {
	  display: block;
	}

	&-wrap {
	  display: flex;
	  align-items: center;
	}

	&-item {
	  font-size: rem(14);
	  line-height: rem(14);
	  color: #666;
	  -webkit-transition: .3s;
	  transition: .3s;
	  padding: 0 rem(15);

	  &:first-of-type {
		padding-left: 0;
	  }

	  &:hover {
		color: #FF0202;
	  }

	  &:last-child {
		margin: 0;
	  }
	}
  }

  &__mob {

	&-search {
	  margin: 1.25rem 0;
	  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);

	  @include media(1024px, min) {
		display: none;
	  }
	}
  }
}

.menu-open__wrap {
  display: none;

  @include media($def, max) {
	display: inline-block;
  }
}

.header-menu__wrap {
	display: none;

	@include media(1024px, min) {
		display: inline-block;
		z-index: 2;
		margin-right: rem(30px);
	}
}

.header-search__btn {
	display: none;

	@include media(1024px, min) {
		display: inline-block;
		background: transparent;
		border: none;
		padding: rem(5px) rem(15px);
		width: rem(52px);
		height: rem(32px);

		svg {
			width: rem(22px);
			height: rem(22px);
			transition: .3s;
		}

		&:hover {
			svg {
				fill: $secondary;
			}
		}

		.close-icon {
			display: none;

			svg {
				width: rem(18px);
				height: rem(18px);
			}
		}

		&.open {
			.close-icon {
				display: block;
			}

			.search-icon {
				display: none;
			}
		}
	}
}

.header-logo__title {
	font-size: rem(12px);
	margin: 0;
	padding-top: rem(5px);
}

.header-favorite__btn {
	background: transparent;
	border: none;
	position: relative;
	padding: rem(5px) rem(15px);
	display: inline-block;

	svg {
		width: rem(30px);
		height: rem(25px);
		transition: .3s;

	  @include media($def, max) {
		width: 30px;
		height: 30px;
	  }
	}

	&:hover {
		svg {
			fill: $secondary;
		}
	}
}

.header-cart__summ {
  font-size: rem(20);
  font-weight: 400;

  @include media($def, max) {
	font-size: 20px;
  }
}

.header-cart__btn {
	background: transparent;
	border: none;
	position: relative;
	padding: rem(5px) rem(15px);

	svg {
		width: rem(30px);
		height: rem(25px);
		transition: .3s;

	  @include media($def, max) {
		width: 30px;
		height: 30px;
	  }
	}

	&:hover {
		svg {
			fill: $secondary;
		}
	}
}
.header-login__btn {
  	display: inline-block;
	background: transparent;
	border: none;
	position: relative;
	padding: rem(5px) rem(15px);

	@include media(1024px, min) {
		display: none;
	}

	svg {
	  width: 25px;
	  height: 25px;
	  transition: .3s;
	}

	&:hover {
	  svg {
		fill: $secondary;
	  }
	}
}

.badge {
	background: #E65D40;
	border-radius: 15px;
	color: #fff;
  	line-height: 14px;
	font-size: 14px;
	display: flex;
	align-items: center;
	position: absolute;
	padding: 5px 10px;
	min-width: 30px;
	top: -10px;
	right: -10px;

    @include media($def, max) {
      min-width: max-content;
      right: 2px;
    }
}

.menu-open__button {
	display: none;

	@include media(1024px, min) {
		display: flex;
		align-items: center;
		background: transparent;
		border: none;
		font-size: rem(14px);
		cursor: pointer;
		transition: .3s;
		padding: 0;

		svg {
			width: 20px;
			height: 13px;
			transition: .3s;
		}

		&:hover {
			color: $secondary;

			svg {
				fill: $secondary;
			}
		}
	}
}

.menu-open__text {
	padding-left: rem(13px);
}

.menu-open__icon {
  width: 25px;
  display: block;
}

.menu-open__button--mob {
	background: transparent;
	border: none;

    .menu-open-icon {
      display: block;
    }
    .menu-close-icon {
      display: none;
    }

    &.active {
      .menu-open-icon {
        display: none;
      }
      .menu-close-icon {
        display: block;
      }
    }

	svg {
		width: 20px;
		height: 20px;
	}

	@include media(1024px, min) {
		display: none;
	}
}

.header-wholesale__wrap {
	display: none;

	@include media(1024px, min) {
		display: inline-block;
		padding-right: rem(10px);
	}
}

.header-login__wrap {
  display: inline-flex;
  align-items: center;
}

.header__top {
	background: $bg;

    @include media($def, max) {
      border-bottom: 4px solid #FDE52D;
    }
}

.header__top-content {
	justify-content: space-between;
	align-items: center;
	padding: rem(10px) 0;
  	font-weight: 400;

  &--pc {
	display: none;
	transition: all ease 0.5s;

	@include media($def) {
	  display: flex;
	}
  }
  &--mob {
	display: flex;
	padding: rem(40px) 0 rem(20px);
    height: 85px;

    &.active {
      .currency, .header-login__wrap {
        display: block;
      }
      .header__logo--mob, .header-cart__btn {
        display: none;
      }
    }

    .currency, .header-login__wrap {
      display: none;
    }

	@include media($def) {
	  display: none;
	}
  }
}

.header-controls__wrap {
	position: relative;
	z-index: 2;
}

.callback-button {
  background: $main;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;

  @include media(1024px, min) {
	padding: 5px 10px;
  }

  &--mob {
	padding: 5px 20px;
	margin: 0 0 0 10px;
  }
}

.header-menu {
	list-style: none;
	display: flex;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.header-menu__item {
	display: inline-block;

	&:hover {
		.header-menu__link {
			span:after {
				transform: scaleX(1);
			}
 		}
	}
}

.header-menu__link {
	font-family: Rubik-Medium;
	font-size: rem(16px);
	transition: .3s;
	padding: rem(10px);
	display: block;

	span {
		position: relative;
		display: inline-block;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -34px;
			left: 0;
			right: 0;
			margin: auto;
			height: 3px;
			width: 100%;
			background-color: $secondary;
			transition: .4s;
			transform: scaleX(0);

			@include media(1901px, min) {
				bottom: -40px;
			}
		}
	}

	&:hover {
		color: $secondary;
	}
}



.header__bottom {
	position: relative;
  	font-weight: 600;
}

.header__bottom-content {
  	display: none;
	justify-content: space-between;
	align-items: center;
	padding-top: rem(14px);
	padding-bottom: rem(25px);

	@include media($def) {
	  display: flex;
	}

  &--mob {
	display: flex;
	justify-content: center;
	@include media($def) {
	  display: none;
	}
  }
}

.header-wholesale__enter {
	font-size: rem(14px);
	cursor: pointer;
	transition: .3s;

	&:hover {
		color: $secondary;
	}
}

.header-login__enter {
	font-size: rem(14px);
	cursor: pointer;
	transition: .3s;
  	color: #18192E;

	&:hover {
		color: $secondary;
	}
}

.header-login__icon {
	padding-left: rem(10px);
}

.header-wholesale__icon {
	padding-left: rem(5px);

	svg {
		width: 10px;
		height: 7px;
		fill: $secondary;
	}
}

.header-menu__child-wrap {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: rem(55px);
	margin-top: rem(50px);
	z-index: 100;
	//transition: opacity 0.3s;
	//transition-delay: .5s;
}

.header-menu__child-box {
	width: 100%;
	background-color: #fff;
}

.header-menu__child-content {
	display: flex;
	padding-top: rem(30px);
	padding-bottom: rem(30px);
	background-position: bottom right;
	background-repeat: no-repeat;
	//padding-right: rem(175px);
	min-height: rem(350px);
	max-height: rem(400px);
  	overflow-y: auto;

	&--boys {
		background-size: rem(175px) rem(340px);
	}

	&--girls {
		background-size: rem(220px) rem(351px);
	}

	&--baby {
		background-size: rem(268px) rem(306px);
		max-height: rem(600px)
	}
}

.header-menu__child-lists {
	//display: flex;
	//align-items: flex-start;
	//justify-content: space-between;
	//flex-direction: column;
	//flex-wrap: wrap;
	width: 100%;
	columns: 4;
}

.child-menu__list {
	margin: 0;
	list-style: none;
	font-size: rem(14px);
	color: #8C8C8C;
	padding: 0 rem(25px);
	display: inline-block;

	&--flex {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		&:last-of-type {
			width: 75%;
			height: 100%;
		}
	}
}

.header-menu__child-years {
	border-right: 1px solid #9c9c9c;
	width: 30%;

	.child-menu__list-link {
		//padding: rem(25px) 0;
	}

	& + .header-menu__child-lists {
		width: 70%;
	}

	&::-webkit-scrollbar { width: 3px; height: 3px;}
	&::-webkit-scrollbar-button {  background-color: #666; }
	&::-webkit-scrollbar-track {  background-color: #999;}
	&::-webkit-scrollbar-track-piece { background-color: #ffffff;}
	&::-webkit-scrollbar-thumb { height: 10px; background-color: #666; border-radius: 3px;}
	&::-webkit-scrollbar-corner { background-color: #999;}
  	&::-webkit-resizer { background-color: #666;}
}

.header__search-wrap {
	max-width: 500px;
  	width: 100%;
  	@include media($def) {
	  width: 35vw;
	}
}

.header__search-form {
	position: relative;

	label.has-error {
		position: absolute;
		width: 100%;
		right: 0;
		font-size: rem(12px);
		bottom: rem(-23px);
		color: $secondary;
	}
}

.header__search-icon {
 	position: absolute;
  left: 15px;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  opacity: 0.5;
  pointer-events: none;

  svg {
	width: 15px;
	height: 15px;
  }
}

.header__search-input {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 10px;

	width: 100%;
	padding: 15px 50px 15px 40px;
	color: rgb(102, 102, 102);
	font-size: rem(16px);
	font-weight: 400;
	outline: none;

	&::placeholder {
	  	color: rgba(102, 102, 102, 0.5);
		font-size: rem(16px);
		font-weight: 400;
	}

	&:focus {
		border-bottom-color: $main;
	}
}

.header__search-submit {
	border: none;
	background: rgba(253, 229, 45, 0.5);
	border-radius: 0 10px 10px 0;
  	font-size: rem(18px);
	outline: none;
	color: #343434;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: rem(15px) rem(25px);
	transition: .3s;
	height: 100%;

	&:hover {
		color: $secondary;

		svg {
			fill: $secondary;
		}
	}
}

.header__search-empty {
	padding-top: 30px;
	display: none;

	&.is-show {
		display: block;
	}
}

.search-empty__title {
	color: #343434;
	font-size: rem(14px);
	line-height: rem(24px);
	font-family: Rubik-Medium;
	font-weight: 500;
	margin: 0;
}

.search-empty__sub-title {
	font-size: rem(14px);
	line-height: rem(24px);
	color: #8c8c8c;
	font-weight: 400;
	margin: 0;
}

.header__search-results {
	padding: rem(39px) 0;
	display: none;
	overflow-x: hidden;
	height: rem(430px);
	position: absolute;
	background: linear-gradient(0deg,#e2e9f2,#e2e9f2);
	z-index: 10;

	&.is-show {
		display: block;
	}
}

.search-result__item {
	padding: rem(15px);
	display: flex;
	align-items: center;
	border-bottom: 1px solid #dfdfdf;
}

.search-result__img {
	max-width: rem(70px);
	padding-right: rem(10px);
}

.search-result__price {
	line-height: rem(16px);
	color: #4e4e4e;
	font-family: Rubik-Bold;
	font-size: rem(14px);
	font-weight: 700;
	display: block;
}

.search-result__code {
	line-height: rem(14px);
	display: block;
	color: #8c8c8c;
	font-size: rem(14px);
	font-weight: 400;

	.dark {
		color: #4e4e4e;
	}
}

.search-result__name  {
	line-height: rem(25px);
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(20px);
	display: block;
	font-weight: 400;
	padding: rem(5px) 0;
	transition: .3s;

	&:hover {
		color: $main;
	}
}

.currency-block {
	display: inline-flex;
	align-items: center;
	border-radius: 6px;
	overflow: hidden;
	vertical-align: middle;
 	 margin: 0 1rem;

	@include media(1100px, min) {
	  margin: 0 0 0 rem(50);
	}

	&__link {
		line-height: rem(16);
		color: #18192E;
		transition: color 0.3s, background-color 0.3s;
		cursor: pointer;
	  	position: relative;
        padding: 0 8px;
        font-size: rem(14);

		&:hover {
		  	color: #E65D40;
		}

		&.is-active {
			cursor: default;
			color: #E65D40;
		}

	   	&:first-child {
		  &:after {
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			bottom: 0;
			background: #666;
			opacity: 0.4;
			display: block;
			width: 2px;
			height: 100%;
		  }
		}
	}
}

.user-type {
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  vertical-align: middle;

  @include media(1024px, min) {
	margin-right: rem(20px);
  }

  &__link {
	padding: 6px 8px;
	font-size: 12px;
	line-height: 1em;
	color: #8c8c8c;
	background-color: #ffffff;
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;

	&:hover {
	  color: #343434;
	}

	&.is-active {
	  cursor: default;
	  color: #343434;
	  background-color: #f7de27;
	}
  }
}
