////
/// @group _blocks/
////

// category block
button {
  color: #000000;
}

.category-block__wrap {
	padding-top: rem(90px);
	padding-bottom: rem(90px);
	background-size: contain;

	@include media($def, max) {
	  padding-top: rem(40px);
	  padding-bottom: rem(40px);
	}
}

.category-block {
	padding-top: rem(40px);
}

.category-block__item-wrap {
	padding-top: rem(20px);

	@include media($md, min) {
		padding-left: rem(48px);

		&:nth-of-type(even) {
			transform: translateY(rem(48px));
		}
	}
}

.category-block__item {
	width: rem(215px);
	height: rem(325px);
	display: block;
	background-size: 100%;
	background-position-y: bottom;
	background-repeat: no-repeat;
	border-radius: 3px;
	transition: .4s;
	margin: auto;

	&:hover {
		box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.2);

		.category-block__item-title {
			transform: translate(-(rem(48px)), -(rem(10px)));
		}
	}
}

.category-block__item-title {
	font-size: rem(24px);
	font-family: Rubik-Bold;
	margin: 0;
	transform: translateX(-(rem(48px)));
	transition: .4s;
	padding-top: rem(30px);
}

// info block

.index-info__wrap {
	background-color: $bg;
	padding-top: rem(90px);
	padding-bottom: rem(90px);

	@include media($def, max) {
	  padding-top: rem(30px);
	  padding-bottom: rem(30px);
	}
}

.index-info__item-img {
	border-radius: 50%;
	background-color: $main;
	width: rem(117px);
	height: rem(117px);
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: rem(68px);
		height: rem(47px);
	}
}

.index-info__item-text {
	font-family: Rubik-Bold;
	font-size: rem(18px);
	padding-left: rem(10px);
	max-width: rem(223px);
}

.index-info__item {
	display: inline-flex;
	align-items: center;
	padding: rem(15px) 0;
}

.index-info__img-box {
	display: none;

	@include media($def, min) {
		display: block;
		position: relative;
	}
}

.index-info__img {
	position: absolute;
	width: rem(595px);
	height: rem(665px);
	bottom: -35%;
	right: -40%;
}

.subscribe-form {
	display: flex;
	border-radius: 10px;
  	overflow: hidden;
	border: 1px solid #dfdfdf;
	position: relative;

	label.has-error {
		position: absolute;
		font-size:  rem(10px);
		color: $secondary;
		bottom: -20px;
	}

	@media (min-width: 480px) and  (max-width: $def){
		max-width: rem(460px);
	}
}

.subscribe-form__wrap {
	max-width: rem(630px);
	position: relative;
	z-index: 3;
	margin: 0 0 80px;

  @include media($def, max) {
	margin: 0 0 30px;
  }
}

.subscribe-form__box {
	align-items: center;
	justify-content: center;
}

.subscribe-form__title {
	font-size: rem(14px);
  	color: #4d4d4d;
  opacity: 0.5;
	position: relative;
	margin: 0 0 rem(36px);
  @include media($def, max) {
	margin: 0 0 6px;
  }
}

.simple-input {
	height: rem(50px);
	line-height: rem(50px);
	border: none;
	outline: none;
	padding: rem(10px);
	position: relative;
	transition: .3s;
	background-color: #fff;

	&:focus {
		box-shadow: none;
	}

	&.has-error {
		box-shadow: 0 2px 0 0 $secondary;
	}

	&.is-valid {
		& + .required-dot {
			background-color: $success !important;
		}
	}
}

.subscribe-form__input {
	width: 100%;
	padding-left: rem(20px);
}

.subscribe-form__submit {
	height: rem(51px);
	line-height: rem(51px);
	padding: 0 rem(20px);
	background-color: $main;
	border: none;
	color: #343434;
	font-size: rem(16px);
	font-weight: 700;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	&:hover {
		background-color: #EDD41D;
	}

	@include media(480px, min) {
		padding: 0 rem(41px);
	}
}

.yellow-color {
	color: $main;
}

.scroll-box {

	@include media($md, min) {
		overflow: auto;
	}
}

.text-wrapper {
  font-size: 14px;

  @include media($lg, max) {
	max-width: 100%;
	padding: 50px;
	height: auto;
  }

  @include media($def, max) {
	padding: 30px 30px 42px 30px;

  }

  @include media($md, min) {
	height: 365px;
	max-width: 625px;
  }

  &.catalog-text-wrapper {
	max-width: none;
	max-height: 700px;
  }

}

.index-seo-text__content {
	padding-bottom: 30px;
}

.mCSB_dragger_bar {
	background: $main !important;
	width: 5px;
	border-radius: 2.5px;
}

.mCSB_draggerRail {
	background-color: #CACACA !important;
}

.gray-bg {
	background-color: $bg;
}

.background-img {
	background: #fff;

	@include media($def, min) {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.95)), url("./static/pic/bg.png"),repeat, #fff;
		background-size: contain;
	}
}

.sidebar-menu__item {
	padding: rem(10px);
}

.sidebar-menu__link {
	font-size: rem(20px);
	font-family: Rubik-Bold;
	text-transform: uppercase;
	transition: .3s;
	position: relative;
	padding-bottom: 18px !important;

	&:hover {
		color: $secondary !important;
	}

	&:after {
		display: block;
		content: '';
		position: absolute;
		margin: auto;
		height: 1px;
		bottom: 0;
		left: 0;
		right: 0;
		width: rem(162px);
		background-color: rgba(140, 140, 140, 0.3);
	}
}

.sidebar-list {
	width: 100%;
	height: 90%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.mobile-menu-list {
	text-align: center;
}

.mobile-menu__item {
	padding: rem(2px);
}

.mobile-menu__link {
	font-size: rem(16px);
	font-family: Rubik-Bold;
	text-transform: uppercase;
	transition: .3s;
	position: relative;
	padding-bottom: 10px !important;

	&:hover {
		color: $secondary !important;
	}

	&:after {
		display: block;
		content: '';
		position: absolute;
		margin: auto;
		height: 1px;
		bottom: 0;
		left: 0;
		right: 0;
		width: rem(162px);
		background-color: rgba(140, 140, 140, 0.3);
	}
}

.sidebar-close__wrap {
	position: absolute !important;
	right: -26px;
	top: 14px;
}

.sidebar-close {
	border: none;
	background: transparent;

	svg {
		width: rem(22px);
		height: rem(22px);
		fill: rgba(140, 140, 140, 0.3);
		transition: .3s;
	}

	&:hover {
		svg {
			fill: $secondary;
		}
	}
}

.mobile-search__input {
	border-radius: 4px 0 0 4px;
	line-height: rem(40px);
	height: rem(40px);
	border: none;
	width: 75%;
	outline: none;
	padding-left: 10px;
}

.mobile-search__btn {
	border-radius: 0 4px 4px 0;
	line-height: rem(40px);
	height: rem(40px);
	background-color: $main;
	border: none;
	width: 25%;
}

.mobile-menu__phone {
	font-size: rem(18px);
	font-family: Rubik-Bold;
}

.mobile-menu__item--search {
	padding: rem(20px);
}

.mobile-menu__callback {
	color: $secondary !important;
}

.mobile-search__form {
	display: flex;
}

.mm-menu {
	background-color: #fff;
	color: $text !important;
}

.mm-listitem>span.filters__child-wrap {
	white-space: normal;
}

.mm-listitem .product__size-item {
	margin-bottom: rem(5px);
}

.tooltip {
  &:hover &__text {
	visibility: visible;
	opacity: 1;
  }

  &__text {
	visibility: hidden;
	width: rem(290px);
	background-color: #ffffff;
	color: #18192E;
	font-size: 13px;
	text-align: left;
	border-radius: 10px;
	padding: 20px;
	position: absolute;
	z-index: 1;
	bottom: 135%;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s;
	box-shadow: 0 0 40px rgba(24, 25, 46, 0.15);

	p {
	  margin-top: 0;
	}


	@include media($lg, max) {
	  width: rem(320px);
	  padding: 5px 10px;
	}

	&::after {
	  content: "";
	  position: absolute;
	  top: 95%;
	  right: 6%;
	  display: block;
	  width: rem(15px);
	  height: rem(15px);
	  transform: rotate(45deg);
	  background-color: #ffffff;
	}

	ul {
	  padding-left: 25px;
	  li {
		text-align: left;
		padding-left: 5px;
	  }
	}

	&.active {
	  @include media($lg, max) {
		visibility: visible;
		opacity: 1;
	  }
	}
  }
}
.mm-menu_offcanvas {
  width: 70%;
}



.index-seo-text {

  @include media($def, max) {
	padding: 16px 16px 40px 16px;
  }


  &__image {
	display: none;
	position: relative;

	&:before {
	  content: '';
	  position: absolute;
	  background-color: rgba(255, 255, 255, 0.5);
	  border-radius: 100px 40px 40px 10px;
	  width: 81%;
	  height: 84%;
	  bottom: 0;
	  right: 0;

	  @include media($def, max) {
		border-radius: 50px 30px 30px 10px;
	  }
	}

	&:after {
	  content: '';
	  position: absolute;
	  background-color: rgba(253, 229, 45, 0.9);
	  border-radius: 100px 40px 40px 10px;
	  width: 45%;
	  height: 43%;
	  bottom: 0;
	  right: 0;
	  z-index: 0;

	  @include media($def, max) {
		border-radius: 50px 30px 30px 10px;
	  }
	}

	@include media($md, min) {
	  display: flex;
	  justify-content: flex-end;
	  padding: 34px 41px 0 0;

	}

	.drops__info-image {
	  position: relative;
	  max-width: 553px;
	  z-index: 1;
	  @include media($lg, max) {
		max-width: 500px;
		height: auto;
		width: 100%;
	  }
	}
  }
}


.drops__info {
  background-color: #9266f5;
  border-radius: 100px 40px 40px 10px;
  font-family: "Google Sans", serif;
  margin-bottom: 80px;
  padding: 0;

  @include media($lg, max) {

  }

  @include media($def, max) {
	margin-bottom: 0;
	border-radius: 50px 30px 30px 10px;
  }



  .drops__info-text {
	display: flex;
	align-items: center;
	justify-content: flex-end;
  }

  &-title {
	font-size: 36px;
	font-weight: 400;
	line-height: 48px;
	color: #ffffff;
	padding-bottom: 20px;

	@include media($def, max) {
	  font-size: 24px;
	  line-height: 30px;
	  padding-bottom: 30px;
	  width: 90%;
	}
  }

  &-details {
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	opacity: 0.7;

	@include media($def, max) {
	  font-size: 14px;
	  line-height: 18px;
	}

  }

  &-community {
	display: flex;
	align-items: center;
	color: #ffffff;
	padding: 40px 0 30px;

	@include media($def, max) {
	  justify-content: center;
	  padding: 36px 0 30px;
	}

	.drops__info-members {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	  border-right: 2px solid rgba(255, 255, 255, 0.3);
	  padding-right: 26px;

	  @include media($def, max) {
		flex-direction: column;
	  }
	}

	.drops__info-rating {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding-left: 32px;

	  @include media($def, max) {
		flex-direction: column;
	  }
	}

	.drops__description {
	  font-size: 14px;
	  line-height: 18px;
	  max-width: 84px;

	  @include media($def, max) {
		text-align: center;
	  }
	}

	.drops__quantity {
	  font-size: 36px;
	  line-height: 46px;
	  margin-right: 18px;
	}

  }

  .drops__application {
	display: flex;
	align-items: center;
	text-align: center;

	@include media($def, max) {
	  flex-direction: column;
	}

	&-btn {
	  height: 60px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 18px;
	  padding: 20px 40px;
	  font-weight: 500;
	  background: $main;
	  border-radius: 10px;
	  border: 1px solid transparent;
	  color: #18192e;
	  margin-right: 20px;

	  @include media($def, max) {
		padding: 20px 25px;
		margin-right: 0;
	  }
	}

	&-details {
	  font-weight: 500;
	  font-size: 18px;
	  line-height: 23px;
	  color: #ffffff;
	  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	  padding-bottom: 5px;
	  margin-top: 8px;

	  @include media($def, max) {
		margin-top: 20px;
	  }
	}
  }
}

.index-seo-text__right {
  @include media($lg, max) {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
  }
}