.index-news-block__title {
	padding-bottom: rem(20px);
}

.news-item__wrap {
	padding: rem(13px);
}

.index-news-block {
	padding-top: rem(90px);
	padding-bottom: rem(90px);

	@include media($def, max) {
	  padding-top: rem(30px);
	  padding-bottom: rem(30px);
	}
}

.news-item__bottom {
	display: flex;
	align-items: flex-start;
	padding-top: rem(20px);
}

.news-item__date {
	padding-right: rem(20px);
	padding-top: rem(2px);
	color: #8C8C8C;
	font-family: Rubik-Medium;
	font-size: rem(14px);
}

.news-item__title {
	font-size: rem(18px);
	font-family: Rubik-Medium;
	line-height: rem(24px);
	margin: 0;
	transition: .3s;

	&:hover {
		color: $main;
	}
}

.news-item__text {
	font-size: rem(13px);
	line-height: rem(21px);
}

.news-item__img-link {
	display: block;
	height: 0;
	padding-bottom: 57.143%;
	position: relative;

	span {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			transition: 0.3s;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			img {
				box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.articles__title-wrap {
	padding: rem(30px) 0 rem(15px) 0;
}

.articles__title {
	margin: 0;
}

.articles__box {
	overflow-x: hidden;
}

.articles-item {
	padding: rem(15px) 0;

	@include media($md, min) {
		&:nth-of-type(even) {
			.articles-item__img-wrap {
				order: 1;

				img {
					border-radius: 0 5px 5px 0;
				}
			}

			.articles-item__text-box {
				padding-right: rem(80px);

				&:after {
					right: 0;
				}
			}
		}

		&:nth-of-type(odd) {
			.articles-item__img-wrap {
				img {
					border-radius: 5px 0 0 5px;
				}
			}

			.articles-item__text-box {
				padding-left: rem(80px);

				&:after {
					left: 0;
				}
			}
		}
	}
}

.articles-item__img-wrap {
	display: none;

	@include media($md, min) {
		display: block;
	}
}

.articles-item__title-box {
	position: relative;
	z-index: 1;
}

.articles-item__text-box {
	background: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;

	@include media($md, min) {
		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			width: 2000px;
			background: #fff;
		}
	}

	@include media($md, max) {
		padding: 20px;
	}
}

.articles-item__title {
	color: #4e4e4e;
	font-size: rem(30px);
	font-weight: 500;
	margin: 0;
	font-family: 'Rubik-Medium';
	transition: .3s;

	&:hover {
		color: $main;
	}

	@include media($md, min) {
		line-height: rem(32px);
	}
}

.articles-item__text {
	 color: #4e4e4e;
	 font-size: rem(14px);
	 font-weight: 400;
	 line-height: rem(24px);
	position: relative;
	z-index: 1;

	@include media($md, min) {
		max-width: rem(390px);
	}
 }

.articles-item__date {
	color: #4e4e4e;
	font-size: rem(14px);
	font-weight: 500;
	font-family: 'Rubik-Medium';
	flex-shrink: 0;
}

.articles-item__img-link {
	display: flex;
	align-items: center;
}

.news-page__title-box {
	padding: rem(37px) 0;
}

.news-page__text_box {
	max-width: rem(945px);
	margin: auto;
	font-weight: 400;
	line-height: rem(28px);
	color: #4e4e4e;
}

.news-page__date-wrap {
	font-size: rem(14px);
	margin: 0;
}

.news-page__date-text {
	color: #8c8c8c;
	font-weight: 400;
}

.news-page__date {
	font-weight: 500;
	font-family: 'Rubik-Medium';
}

.news__pagination-wrap {
	display: flex;
	justify-content: center;
	padding-top: rem(49px);
}
