.pagination {
	text-align: center;

	&.center {
		justify-content: center;
		padding: 20px;
	}
}

.pagination__item {
	display: block;
	width: 33px;
	height: 33px;
	line-height: rem(35px);
	text-align: center;
	border-radius: 3px;
	text-decoration: none;
	transition: 0.3s;
	margin: 0 3px;
	cursor: pointer;

  @include media($def, max) {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
  }

	&.active {
	  border: 1px solid #f8d4cd;
	  border-radius: 10px;
	  background-color: #fff;

	}

	&:not(.active):hover {
		color: $main;
	}

}

.pagination__item--empty {
	pointer-events: none;
}

.pagination__item--btn {
	svg {
		width: 13px;
		height: 9px;
		transition: 0.3s;
		fill: $text;

	  @include media($def, max) {
		width: 20px;
		height: 12px;
	  }
	}

	&:hover {
		svg {
			fill: $main;
		}
	}

	&.disable {
		display: none;
	}

	//@include media(1024px, min) {
	//	&.left {
	//		margin-right: 25px;
	//	}
	//
	//	&.right {
	//		margin-left: 25px;
	//	}
	//}
}


