.popup {
	border-radius: 10px;
	background-color: #ffffff;
}

.mfp-container {
	overflow: auto;
	touch-action: pan-y;
}

.table-size__popup {
	max-width: rem(650px);
}

.table-size__title-wrap {
	padding: rem(30px) rem(40px) 0;
}

.table-size__text {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 400;
	line-height: rem(21px);
	margin: 0;

	.table-size__sm {
		color: #4e4e4e;
	}
}

.table-size-wrap {
	width: 100%;
	overflow-y: hidden;
  	display: flex;
  	flex-direction: column;
}

.table-size {
	color: #4e4e4e;
	font-size: rem(16px);
	font-weight: 400;
	border-collapse: collapse;
	text-align: right;
	min-width: 100%;

	tr {
		height: 40px;

		td {
			padding: 0 rem(15px);
			white-space: nowrap;
		}

		td:first-of-type {
			text-align: left;
			padding-left: rem(30px);
		}

		td:last-of-type {
			padding-right: rem(30px);
		}
	}

	tr:nth-of-type(odd) {
		background-color: #f5f6f8;
	}
}

.table-size__head {
	color: #8c8c8c;

	th:first-of-type {
		padding-left: rem(30px);
	}

	th:last-of-type {
		padding-right: rem(30px);
	}
}

.table-size__title {
	line-height: rem(28px);
	text-transform: uppercase;
	color: #4e4e4e;
	font-family: Rubik-Bold;
	font-size: rem(24px);
	font-weight: 700;
	margin: 0 0 rem(13px) 0;
}

.table-size__content-wrap {
	padding: rem(90px) rem(40px);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
  	position: relative;
}

.table-size__sizes {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 2;
}
.table-size__img {
	@include media(1900px, min) {
		max-width: none;
	}
}

.popup-noty {
  max-width: rem(791px);
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;

  #custom-close-btn {
	background: url(./static/pic/close-icon.svg) right no-repeat;
  }

  .this-close {
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: 0.65;
	font-size: 20px;
	font-family: Arial, Baskerville, monospace;
	border: none;
	padding-right: 30px;
	vertical-align: middle;
	display: inline-block;
  }
}

.login-popup {
	max-width: rem(500px);
	border-radius: 10px;
	background-color: #ffffff;
	overflow: hidden;
}

.login-popup__title {
	line-height: rem(23px);
	color: #4e4e4e;
	font-family: Rubik-Bold;
	font-size: rem(18px);
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.login-popup__sub-title {
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(16px);
	font-weight: 500;
	margin: 0;
	padding-top: rem(30px);
}

.login-popup__left {
	padding: rem(40px) rem(40px) rem(100px);
	position: relative;
	display: flex;
	align-items: center;
}

.login-popup__right {
	padding: rem(40px) rem(40px) rem(101px) rem(40px);
	background-color: #f5f6f8;
	position: relative;
	order: -1;

	@include media($ms, min) {
		order: initial;
	}
}

.login-popup__registration-link {
  margin: rem(20px) 0;
}

.login-popup__submit {
	width: 100%;
	color: #4e4e4e;
	font-family: Rubik-Medium;
	font-size: rem(16px);
	font-weight: 500;
	height: rem(60px);
	line-height: rem(60px);
	border: none;
	position: absolute;
	bottom: 0;
	transition: .3s;

	&--gray {
		background-color: #f5f6f8;
		border-radius: 0 0 0 10px;
		left: 0;

		&:hover {
			background-color: darken(#f5f6f8, 5%);
		}

		&:active {
			background-color: darken(#f5f6f8, 10%);
		}
	}

	&--yellow {
		border-radius: 0 0 10px;
		background-color: #f7de27;
		right: 0;

		&:hover {
			background-color: darken(#f7de27, 5%);
		}

		&:active {
			background-color: darken(#f7de27, 10%);
		}
	}
}

.cart-registration__checkbox-text--block {
	display: block;
}

.login-form__controls-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: rem(20px);
}

.login-popup__social-wrap {
	display: flex;
	flex-direction: column;
	padding-top: rem(14px);
}

.login-form__checkbox-label {
	cursor: pointer;
	position: relative;
	display: block;

	label.has-error {
		right: 0;
		width: 100%;
		position: absolute;
		display: block;
		bottom: rem(-18px);
		font-size: rem(10px);
		text-align: right;
		color: $secondary;
	}
}

.login-form__toggle {
	line-height: rem(14px);
	display: inline-block;
	position: relative;
	color: #e1323d;
	font-size: rem(14px);
	font-weight: 400;
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background: #e1323d;
		bottom: 0;
		left: 0;
		transition: .3s;
	}

	&:hover {
		&::after {
			transform: scale(0);
		}
	}
}

.login-popup__social-title {
	line-height: rem(16p)x;
	color: #4e4e4e;
	font-size: rem(14px);
	font-weight: 400;
	margin: 0;
	padding-bottom: rem(17px);
}

.review-popup {
	max-width: rem(458px);
	overflow: hidden;

	&__inner {
		padding: rem(30px) rem(40px) rem(91px);

	}
}

.review-popup__sub-title {
	color: #4e4e4e;
	font-size: rem(14px);
	font-weight: 400;
	line-height: rem(21px);
	margin: 0;
}

.review-popup__title {
	line-height: rem(28px);
	color: #4e4e4e;
	font-family: Rubik;
	font-size: rem(24px);
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom:rem(13px);
}

.review-popup__textarea {
	height: rem(107px);
	width: 100%;
	border-radius: 3px;
	border: 1px solid #9c9c9c;
	background-color: #f5f6f8;
	resize: none;
	outline: none;
	padding: rem(15px) rem(20px);
	transition: .3s;
	font-size: rem(14px);
	font-weight: 400;
	margin-top: rem(20px);

	&::placeholder {
		color: #8c8c8c;
		font-size: rem(14px);
		font-weight: 400;
	}

	&:focus {
		box-shadow: 0 2px 0 0 $main;
	}

	&.has-error {
		box-shadow: 0 2px 0 0 $secondary;
	}
}

.login-popup__tab {
	width: 100%;
}

.callback-form__checkbox-label {
	cursor: pointer;
	padding-top: rem(20px);
	display: block;
	position: relative;

	label.has-error {
		right: 0;
		width: 100%;
		position: absolute;
		display: block;
		bottom: rem(-18px);
		font-size: rem(10px);
		text-align: right;
		color: $secondary;
	}
}

.sizes-popup__title-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: rem(367px);
}

.sizes-popup__title {
	line-height: rem(28px);
	color: #4e4e4e;
	font-family: Rubik-Bold;
	font-size: rem(24px);
	font-weight: 700;
	margin: 0;
}

.sizes-popup__sub-title {
	color: #8c8c8c;
	font-size: rem(14px);
	font-weight: 400;
	line-height: rem(21px);
	margin: rem(13px) 0 0 0;
}

.sizes-popup__clean {
	line-height: rem(16px);
	opacity: 0.5;
	color: #ff0202;
	font-size: rem(14px);
	font-weight: 400;
	transition: .3s;
	margin: 0;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}

.sizes-popup {
	padding: rem(30px) rem(40px) rem(104px);
}

.sizes-gallery-popup {
	padding: rem(30px) rem(40px);
	max-width: rem(1200px);
	overflow: hidden;

  .product__sizes {
	padding: 1.0625rem 0;
  }
}

.yellow-btn.is-active{
  background-color: #4dfd2d;
}

.sizes-popup__clean-item {
	padding-top: rem(10px);
	cursor: pointer;

	svg {
		width: rem(15px);
		height: rem(17px);
		fill: #8c8c8c;
		transition: .3s;
	}

	&:hover {
		svg {
			fill: $secondary;
		}
	}
}

.thank-popup {
	padding: rem(30px);
	max-width: rem(700px);
	min-height: rem(200px);
	text-align: center;
	font-size: rem(24px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.thank-popup__text {
	margin: 0;

	&--inner {
		padding: rem(80px);
		font-size: rem(24px);
		text-align: center;
	}
}

.popup-information-block{
	list-style: none;
	font-size: 14px;
}

/*#custom-close-btn {
	background: url("./static/pic/close-icon.svg") center no-repeat;
	background-size: rem(21px) rem(21px);
}*/

.mfp-arrow {
	&:after,
	&:before {
		display: none;
	}
}

.mfp-arrow-left {
	background: url("./static/pic/left-arrow-slider.svg") center no-repeat;
	background-size: rem(30px) rem(30px);
}

.mfp-arrow-right {
	background: url("./static/pic/right-arrow-slider.svg") center no-repeat;
	background-size: rem(30px) rem(30px);
}

.sizes-popup {
	max-width: rem(620px);
	overflow: hidden;
}

.sizes-popup__items-wrap {
	display: flex;
	width: 100%;
	//justify-content: space-between;
	padding-top: rem(10px);
}

.sizes-popup__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	.product__size-item {
		margin-right: 0;
	}

	&:not(:last-of-type) {

		@include media($ms, min) {
			padding-right: rem(20px);
		}
	}
}

.sizes-item__counter-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: rem(40px);
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	overflow: hidden;
	margin-top: rem(10px);
}

.sizes-item__counter--row {
	flex-direction: row;
  	max-width: rem(100px);
	margin: 0;
	width: 100%;
	justify-content: space-between;

	.sizes-item__counter-input {
	  width: 1.875rem;
	}
}

.sizes-item__counter-input {
	outline: none;
	border: none;
	height: rem(30px);
	color: #343434;
	font-size: rem(14px);
	font-weight: 400;
	max-width: 100%;
	text-align: center;
}

.sizes-item__counter-btn {
	outline: none;
	border: none;
	width: rem(40px);
	height: rem(30px);
	line-height: rem(30px);
	background-color: #dfdfdf;
	color: #8c8c8c;
	font-size: rem(14px);
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.table-size__img-wrap {
  	width: 100%;
  	height: 320px;
  	position: relative;

	img {
	  width: 100%;
	  height: 100%;
	  object-fit: contain;
	  opacity: 0.5;
	}

	@include media($ms, min) {
	  	width: 300px;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;
		text-transform: uppercase;
		font-family: Rubik-Bold;
	}
}

.baby-size {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login-popup__chose-title {
	line-height: rem(14px);
	color: #343434;
	font-size: rem(14px);
	font-weight: 400;
	padding-left: rem(68px);
	position: relative;
	margin: 0;
	margin-top: rem(15px);

	&::before {
		display: block;
		content: '';
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		width: rem(58px);
		height: 1px;
		background: $main;
		position: absolute;
	}
}

.login-popup__password-title {
	line-height: rem(14px);
	color: #8c8c8c;
	margin: 0;
	font-size: rem(14px);
	font-weight: 400;
}

.maximum-noty {
  color: #ff0202;
}

.maximum-noty.itemPage {
  position: relative;
  bottom: 15px;
}
