////
/// @group _blocks/
////

/// Description
.preloader {
	position: relative;

	&--show {
		pointer-events: none;
	}

	&__block {
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		z-index: 10;

		&::before {
			content: '';
			position: fixed;
			top: 0;
		  	bottom: 0;
			left: 0;
		  	right: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#e9e9e9, .5);
			background-image: url(./static/pic/preloader.gif);
			background-repeat: no-repeat;
			background-position: center;
			opacity: 1;
			transition: .2s ease;

			.button & {
				background-size: auto 70%;
			}

			.preloader--show & {
				opacity: 1;
			}
		}
	}
}
