.profile__main {
	padding-top: rem(20px);

	@include media($sm, min) {
		padding-left: rem(30px);
		padding-top: 0;
	}

	@include media($md, min) {
		padding-bottom: rem(449px);
	}
}

.profile__sidebar-items {
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	background-color: #ffffff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.profile__sidebar-item {
	font-weight: 500;
	font-family: Rubik-Medium;
	display: block;
	padding: rem(20px);
	position: relative;
	transition: .3s;
	overflow: hidden;

	&:not(:last-of-type) {
		border-bottom: 1px solid #dfdfdf;
	}

	&.active {
		background-color: #f8ed9f;
		border-bottom: none;

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 5px;
			height: 61px;
			border-radius: 5px 0 0;
			background-color: #f7de27;
		}
	}

	&:not(.active) {
		&:hover {
			color: $main;
		}
	}
}

.profile__data-wrap {
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	background-color: #ffffff;
	padding: rem(30px);
}

.profile__data-left {

	@include media(480px, min) {
		padding-right: rem(49px);
		border-right: 1px solid #dfdfdf;
	}
}

.profile__data-right {

	@include media($sm, min) {
		padding-left: rem(48px);
	}
}

.profile__data-form {
	width: 100%;
	padding-bottom: rem(60px);
	position: relative;

	.form-title {
		font-family: Rubik-Medium;
		color: #4e4e4e;
		font-size: rem(24px);
		line-height: rem(28px);
		font-weight: 500;
		margin-top: 0;
		margin-bottom: rem(14px);
	}

	.form-group {
		display: flex;
		flex-direction: column;
		padding-top: rem(10px);
	}

	@include media($ms, min) {
		padding-bottom: 0;
	}
}

.profile__data-input {
	height: rem(40px);
	line-height: rem(40px);
	border-radius: 3px;
	border: 1px solid #9c9c9c;
	background-color: #f5f6f8;
	width: 100%;
	margin-bottom: rem(20px);
	padding-left: rem(20px);
	font-size: rem(14px);
	font-weight: 400;

	&::placeholder {
		color: #8c8c8c;
		font-size: rem(14px);
		font-weight: 400;
	}

	&:focus {
		&::placeholder {
			color: #4e4e4e;
		}
	}
}

.profile__data-submit {
	height: rem(50px);
	line-height: rem(50px);
	width: 100%;
	max-width: rem(200px);
	color: #4e4e4e;
	font-size: rem(14px);
	font-family: Rubik-Medium;
	font-weight: 500;
	position: absolute;
	bottom: 0;

	@include media($ms, min) {
		position: relative;
	}
}

.profile__data-textarea {
	height: rem(102px);
	width: 100%;
	border-radius: 3px;
	border: 1px solid #9c9c9c;
	background-color: #f5f6f8;
	resize: none;
	outline: none;
	padding: rem(15px) rem(20px);
	transition: .3s;
	font-size: rem(14px);
	font-weight: 400;

	&::placeholder {
		color: #8c8c8c;
		font-size: rem(14px);
		font-weight: 400;
	}

	&:focus {
		box-shadow: 0 2px 0 0 $main;
		&::placeholder {
			color: #4e4e4e;
		}
	}

	&.has-error {
		box-shadow: 0 2px 0 0 $secondary;
	}
}

.order-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	counter-reset: cart;

	@include media($ms, min) {
		flex-direction: row
	}
}

.order-info__item {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #dfdfdf;
	padding: rem(21px) 0;
	width: 100%;
	position: relative;

	&.done {
		&:after {
			content: '';
			display: block;
			position: absolute;
			background: $main;
			height: 4px;
			left: 0;
			bottom: -1.3px;
			width: 100%;
			transition: .3s;
		}

		.order-info__item-icon {
			background: url('./static/pic/check-icon.png') center no-repeat $main;
			background-size: rem(14px) rem(11px);

			&:before {
				display: none;
			}
		}

		.order-info__item-text {
			font-family: Rubik-Medium;
			color: #4e4e4e;
		}
	}

	&.active {
		&:after {
			content: '';
			display: block;
			position: absolute;
			background: $main;
			height: 4px;
			left: 0;
			bottom: -1.3px;
			width: 100%;
			max-width: rem(277px);
			transition: .3s;
		}

		.order-info__item-icon {
			background: $main;

			&:before {
				color: #4e4e4e;
			}
		}

		.order-info__item-text {
			font-family: Rubik-Medium;
			color: #4e4e4e;
		}
	}

	@include media($ms, min) {
		width: 33.3%;
	}

	@include media($md, min) {
		&:first-of-type {
			flex-basis: rem(463px);
		}

		&:nth-of-type(2) {
			flex-basis: rem(446px);
		}

		&:last-of-type {
			flex-basis: rem(231px);
		}
	}
}

.order-info__item-icon {
	width: rem(33px);
	height: rem(33px);
	border-radius: 50%;
	background: #dfdfdf;
	position: relative;
	counter-increment: cart;

	&:before {
		content: counter(cart);
		display: block;
		position: absolute;
		width: rem(11px);
		height: rem(23px);
		line-height: rem(23px);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		color: #8c8c8c;
		font-size: rem(18px);
		font-weight: 400;
		margin:	auto;
	}
}

.order-info__item-text {
	color: #8c8c8c;
	font-size: rem(18px);
	font-weight: 500;
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.confirm-order__text {
	/* Style for "Ваш заказ" */
	max-width: rem(499px);
	color: #8c8c8c;
	font-size: rem(30px);
	line-height: 42px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 21px;
	///* Text style for "" */
	//font-weight: 500;
	///* Text style for "№ 89838383" */
	//;
	///* Text style for "," */
	//color: #343434;
	//font-weight: 500;
}

.confirm-order__number {
	color: #4e4e4e;
	font-weight: 500
}

.confirm-order__phone-text {
	color: #8c8c8c;
	font-size: rem(14px);
	margin: 0;
}

.confirm-order__img {
	display: none;

	@include media($md, min) {
		display: flex;
		justify-content: flex-end;

		img {
			width: rem(389px);
			height: rem(365px);
		}
	}
}

.confirm-order__link {
	display: inline-block;
	color: #4e4e4e;
	font-size: rem(14px);
	font-family: Rubik-Medium;
	font-weight: 500;
	height: rem(50px);
	line-height: rem(50px);
	text-align: center;
	padding: 0 rem(30px);
	margin-top: rem(25px);
}

.confirm-order__content {
	align-items: flex-end;
	padding-top: rem(58px);
	padding-bottom: rem(60px);
}

.confirm-order__text-box {
	padding-bottom: rem(59px);
}

.confirm__title-wrap {
	padding-top: rem(60px);
	padding-bottom: rem(9px);
}

.profile__data-label {
	position: relative;

	label.has-error {
		position: absolute;
		font-size: rem(10px);
		bottom: 0;
		right: 0;
		color: $secondary;
	}

	&--ask {
		display: block;
		padding-top: rem(20px);
	}
}

.history__item {
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: rem(20px);
}

.history__item-top {
	cursor: pointer;
	padding: rem(21px);
	display: flex;
	justify-content: space-between;

	&:hover {
		.history__item-icon {
			box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.06);
		}

		.history__item-title {
			color: $main;
		}
	}

	&.open {
		.history__item-icon {
			background: url('./static/pic/minus-icon.png') center no-repeat #f8ed9f;
			background-size: rem(12px) 2px;
		}
	}
}

.history__item-bottom {
	padding: 0 rem(25px);
	border-top: 1px solid #dfdfdf;
}

.history__item-text {
	margin: 0;
	color: #4e4e4e;
	font-size: rem(14px);
	font-weight: 400;
	line-height: rem(24px);
}

.history__item-title {
	color: #4e4e4e;
	font-weight: 400;
	transition: .3s;
}

.history__item-date {
	font-weight: 500;
	font-family: Rubik-Medium;
}

.history__item-icon {
	display: inline-block;
	width: rem(25px);
	height: rem(25px);
	border-radius: 50%;
	margin-right: rem(11px);
	background: url('./static/pic/plus-icon.png') center no-repeat $main;
	background-size: rem(12px) rem(12px);
	transition: box-shadow .3s;
}

.history__item-info {
	display: flex;
	align-items: center;
}

.history__total-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(20px) 0;
}

.history-total__title {
	line-height: rem(23px);
	color: #4e4e4e;
	font-size: rem(18px);
	font-family: Rubik-Medium;
	font-weight: 500;
	margin: 0 0 4px 0;
}

.history-total__sub-title {
	line-height: rem(14px);
	color: #8c8c8c;
	font-size: rem(12px);
	margin: 0;
	font-weight: 400;
}

.history-total__price-box {
	color: #8c8c8c;
	font-size: rem(12px);
	line-height: rem(12px);
	font-weight: 400;

	&--right {
		text-align: right;
	}
}

.history-total__price {
	line-height: rem(28px);
	color: #4e4e4e;
	font-size: rem(24px);
	font-weight: 400;
	margin: 5px 0 0 0;
	font-family: Rubik-Medium;
}

.history__item-status {
	color: #8c8c8c;
}

.history__order-status {
	font-weight: 500;
	font-family: Rubik-Medium;

	&.ready {
		color: #008000;
	}

	&.in-progress {
		color: $main;
	}

	&.cancel {
		color: $secondary;
	}
}

.history__title-wrap {
	padding-top: rem(58px);
	padding-bottom: rem(30px);
}
