////
/// @group _blocks/
////

/// Description
.scroll-up {
	position: fixed;
	z-index: 100;
	right: 2rem;
	bottom: 2rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s ease, visibility .25s ease;

	&--show {
		opacity: 1;
		visibility: visible;
	}
}

.go-top {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
  	opacity: 0;
	transition: all .4s ease-in-out;
	right: 15px;
	bottom: 100px;
	width: 50px;
	height: 50px;
	background: #f7de27;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 7px 20px rgba(0,0,0,.2);
  	pointer-events: none;

	&.active {
	  opacity: 1;
	  pointer-events: all;
	}
}
