////
/// @group _blocks/
////

/// Description
.sitemap {
	padding: rem(15px) 0;
	background: $bg;
	border-radius: 10px;
	margin-top: rem(25px);

	a {
		color: #343434;
		font-size: rem(16px);
		display: block;
		padding: rem(5px) 0;
		transition: .3s;

		&:hover {
			color: $main;
		}

		&:active {
			color: darken($main, 10%);
		}
	}
}
