.slick-initialized .slick-slide {
	outline: none;
}

.slick-dots {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	li:not(.slick-active) {
		display: none;
	}
}

// main slider

.main-slider__item-wrap {
	display: none;
}

.main-slider__item-wrap:first-child {
	display: block;
	opacity: 0;
}

.slick-initialized .main-slider__item-wrap {
	display: block;
	opacity: 1;
}

.main-slider__wrap {
	position: relative;
	background-color: $bg;

	&:after {
		@include media($md) {
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			right: 0;
			bottom: 0;
			background-color: $main;
			width: calc(160px + (100% - 72.5rem) / 2);
		}

		@include media($lg) {
			width: calc(190px + (100% - 72.5rem) / 2);
		}
	}

	.slick-dots {
		@include media($md, min) {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline-block;

			li {
				display: inline-block;
			}
		}
	}
}

.main-slider {
	z-index: 2;
	counter-reset: list;

	.main-slider__item-wrap {

		.main-slider__title {
			&:before {
				counter-increment: list;
				content: "0" counter(list);
				font-family: Rubik-Bold;
				font-size: rem(122px);
				color: #343434;
				position: absolute;
				top: -33px;

				left: -33px;
				display: block;
				opacity: 0.06;
			}
		}
	}

	@include media($def, min) {
		margin-right: rem(63px);
	}
}

.main-slider__item-wrap {
	padding-left: rem(10px);
	padding-right: rem(10px);
	transition: .3s;

	@include media($md, min) {
		padding-bottom: rem(35px);
		padding-left: 0;
		padding-right: 0;
	}
}

.main-slider__item {
	//height: rem(794px);
	//height: calc(100vh - 125px);
	//max-height: rem(794px);
	//min-height: rem(600px);

	@include media($md, min) {
		height: calc(100vh - 125px);
		max-height: rem(794px);
		min-height: rem(600px);
	}
}

.main-slider__controls-holder {
	display: none;

	@include media($md, min) {
		display: block;
		height: rem(27px);
		margin-top: rem(45px);
	}
}

.main-slider__controls {
	display: none;

	@include media($md, min) {
		display: block;
		position: absolute;
		z-index: 2;
		padding-top: rem(45px);

		.slick-active {
			.main-slider__dot {
				color: $text;

				&:before {
					transform: scaleX(1);
				}
			}
		}
	}
}

.main-slider__title {
	font-size: rem(45px);
	font-family: Rubik-Bold;
	line-height: rem(55px);
	margin-bottom: rem(30px);
	margin-top: 0;
	max-width: rem(607px);
	position: relative;

	@include media(1440px, min) {
		font-size: rem(52px);
		line-height: rem(68px);
	}
}

.main-slider__dot {
	display: block;
	padding: rem(8px) rem(23px);
	position: relative;
	font-family: Rubik-Medium;
	color: rgba(78, 78, 78, 0.21);
	cursor: pointer;
	transition: .3s;

	&:hover {
		color: $secondary;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background: rgba(78, 78, 78, 0.21);
		bottom: 0;
		left: 0;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background: $secondary;
		bottom: 0;
		left: 0;
		transform: scaleX(0);
		transition: .3s;
		z-index: 2;
	}
}

.main-slider__link-icon {
	width: rem(100px);
	height: rem(100px);
	background: $main;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: .4s;
	flex-shrink: 0;

	svg {
		width: rem(71px);
		height: rem(49px);
		fill: #4e4e4e;
	}
}

.main-slider__links {
	width: 100%;
	padding-top: rem(111px);
}

.main-slider__link {
	display: flex;
	align-items: center;
	padding: rem(10px) 0;

	@include media($def, min) {
		padding: 0;
	}

	&:hover {
		.main-slider__link-icon {
			//box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.2);
		}

		.main-slider__link-text {
			//transform: translateX(-(rem(15px)));
		}
	}
}

.main-slider__link-text {
	font-family: Rubik-Bold;
	font-size: rem(18px);
	text-transform: uppercase;
	padding-left: rem(30px);
	transition: .4s;
}

.main-slider__img-box {
	display: none;
	background-image: url('');

	@include media($md, min) {
		background-image: inherit;
		display: block;
		background-repeat: no-repeat;
		background-size: auto 100%;
		//box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.2);
	}

	@include media(1280px, min) {
		//background-size: 100%;
	}
}

.main-slider__text-box {
	padding-top: rem(80px);
	padding-left: rem(25px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include media($md, min) {
		padding-top:  rem(156px);
		padding-left: 0;
	}

}

// product slider
.product-slider {
	&__controls {
	  display: flex;
	  align-items: center;

	  .slick-arrow {
		background-color: transparent;
		border: none;
		width: rem(24px);
		height: rem(16px);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		transition: .3s;
		background-size: cover;

		&:not(.slick-disabled) {

		  &:hover {
			box-shadow: none;
			background-color: transparent;
		  }

		  &:active {
			background-color: transparent;
		  }
		}

		&.slick-disabled {
		  cursor: auto;
		  opacity: 0.6;
		  //box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
		}
	  }

	  .slick-prev {
		background-image: url('./static/pic/arrow-left-slick.svg');
		background-repeat: no-repeat;
		background-position: center;
	  }

	  .slick-next {
		background-image: url('./static/pic/arrow-right-slick.svg');
		background-repeat: no-repeat;
		background-position: center;
	  }
	}
	.product-item__wrap {
		display: none;
	}
	&__related {
	  &-controls {
		top: 50%;
		left: 0;
		transform: translate(0,-50%);
		position: absolute;
		width: 100%;
		z-index: 10;

		@include media($md, max) {
		  top: 60%;
		  transform: translate(0,-60%);
		}

		.slick-arrow {
		  width: rem(50px);
		  height: rem(50px);
		  background-size: rem(10px) rem(15px);
		}
	  }
	  &-buttons {
		width: 100%;
		justify-content: space-between;
	  }
	}
}

.slick-initialized .product-item__wrap {
	display: block;
}

.product-slider__wrap {
	padding-top: rem(90px);
	padding-bottom: rem(90px);
  	position: relative;

	&.small {
		max-width: 100%;
		width: 100%;
	}

	.no-touchevents & {
		@include media($def, min) {
			height: rem(687px);
		}
	}
}

.product__bottom-wrap + .product-slider__wrap {
	padding-top: 0 !important;
	height: auto !important;
}

.product-slider__title-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: rem(25px);
	flex-direction: column;

	@include media(640px, min) {
		flex-direction: row;
	}
}

.product-slider__link-icon {
	svg {
		fill: $secondary;
		width: rem(13px);
		height: rem(7px);
	}
}

.product-slider__title {
	margin: 0 !important;
	padding-bottom: 0 !important;
}

.owl-carousel .owl-stage {
	padding-top: 50px;
	padding-bottom: 100px;
}

.product-slider__buttons-box {
	display: flex;
	align-items: center;
}

.product-slider__link-box {
	padding-right: rem(40px);
}

.product-slider__counter {
	padding: 0 rem(15px);
	font-size: rem(16px);

	.first-num {
		font-family: Rubik-Bold;
	}
}

.product-slider__link-icon {
	padding-left: rem(10px);
	display: inline-block;
	transition: .5s;
}

.product-slider__link {
	transition: .3s;
	line-height: rem(16px);
	color: #343434;
	font-family: Rubik-Medium;
	font-size: rem(14px);
	font-weight: 500;

	&:hover {
		color: $secondary;

		.product-slider__link-icon {
			transform: translateX(rem(5px));
		}
	}
}


