.threesixty {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100% !important;
	height: 100% !important;
	min-width: 100px;
	min-height: 400px;

	&__images {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		height: calc(100% - 50px);
		width: 100%;
		position: absolute;
		margin-bottom: 50px;

		li {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;

			img {
				max-width: 100%;
				max-height: 100%;
				display: inline-block;
				position: relative;

				&.previous-image {
					visibility: hidden;
					z-index: 1;
					//width: 0;
				}
				&.current-image {
					visibility: visible;
					z-index: 2;
					//width: auto;
				}
			}
		}
	}

	&__spinner {
		margin: 0 auto !important;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		z-index: 10;
		font-family: Rubik-Bold;
		//background: #fff;

		span {
			font-size: rem(40);
			font-weight: bolder;
			color: #343434;
			text-align: center;
			line-height: 30px;
			display: block;
		}
	}

	.nav_bar {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 11;

		a {
			display: block;
			width: 32px;
			height: 32px;
			float: left;
			text-indent: -99999px;

			&.nav_bar_play {
				background-position: 0 0;
			}
			&.nav_bar_stop {
				background-position: 0 -37px;
			}
			&.nav_bar_previous {
				background: none;
				overflow: hidden;
				cursor: pointer;
				width: 32px;
				position: relative;

				&::before {
					content: "";
					width: 16px;
					height: 16px;
					border: none;
					opacity: 1;
					border-top: 3px solid #bbb;
					border-left: 3px solid #bbb;
					transform: rotate(-45deg);
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -8px;
				}
				&:hover {
					&::before {
						border-top-color: #000;
						border-left-color: #000;
					}
				}
			}
			&.nav_bar_next {
				background: none;
				overflow: hidden;
				cursor: pointer;
				width: 32px;
				position: relative;

				&::before {
					content: "";
					width: 16px;
					height: 16px;
					border: none;
					opacity: 1;
					border-top: 3px solid #bbb;
					border-left: 3px solid #bbb;
					transform: rotate(135deg);
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -8px;
				}
				&:hover {
					&::before {
						border-top-color: #000;
						border-left-color: #000;
					}
				}
			}
		}
	}

	&__buttons {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		display: none;
		justify-content: center;
		align-items: center;
		z-index: 1;

		&.is-show {
			display: flex;
		}
	}

	&__button {
		display: inline-flex;
		width: 40px;
		height: 40px;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: all 0.3s;
		font-size: rem(20px);
		color: #fff;

		svg {
			width: rem(20px);
			height: rem(20px);
			fill: #343434;
		}

		&:hover {
			svg {
				fill: lighten(#343434, 15%)
			}
		}
		&:active {
			svg {
				fill: lighten(#343434, 10%)
			}
		}
	}

	.touchevents & {
		&__buttons {
			display: none;
		}
		&__images {
			margin-top: 0;
		}
	}
}
