////
/// @group _blocks/
////

/// Пользовательские заголовки
.main-title {
	font-family: Google Sans, serif;
	font-size: rem(36px);
	text-transform: uppercase;
	line-height: 40px;
	margin: inherit;
	padding: initial;
}
