////
/// @group _blocks/
////

/// Основная обертка страницы
.wrapper {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	position: relative;
	height: 100%; // ! не используйте overflow: hidden;
	min-height: 100vh;
	justify-content: space-between;
	//padding-top: rem(128px);
	overflow: hidden;
}
