.zoomit-ghost {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: wait;
  display: block;
  position: absolute;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.zoomit-zoomed {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
  position: absolute;
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
  min-width: 100% !important;
  min-height: 100% !important;
}

.zoomit-container {
  overflow: hidden;
  position: relative;
  vertical-align: top;
  display: inline-block;

  img {
	vertical-align: top;
  }

  &.loaded {
	.zoomit-ghost {
	  cursor: crosshair;
	}

	.zoomit-zoomed {
	  opacity: 1;
	}
  }
}
